[2016-02-09 11:35] allen-ng opened #463 "Add a new pseudo inverse function"
It is like the `pinv` in Matlab,
This is useful when solving some equations and then the solution is something like:
`(X'X)^(-1)X'y` and `X'X` is invertible.

This may be the solution to some linear regressions (which I encountered in the machine learning course).

[2016-02-10 19:39] mohawkjohn commented on #463
I think this is an excellent idea.

[2016-02-10 19:41] mohawkjohn commented on #452
Oy. Yeah, when we designed it, we didn't have the registration and unregistration. I suppose we just have to check argument sanity as soon as stuff comes in, as much as possible.

[2016-02-10 19:42] mohawkjohn commented on #445
Yeah, sure, let's go ahead and remove it.

[2016-02-11 17:49] #459 closed

[2016-02-12 06:38] #445 closed

[2016-02-15 10:35] shahsaurabh0605 commented on #454
Can you give more details on how the sorting needs to be done?
Like for a 2D matrix should it sort along the row or column according to the dimension specified?

[2016-02-15 13:00] v0dro commented on #454
Check out the [numpy.sort()](http://docs.scipy.org/doc/numpy-1.10.1/reference/generated/numpy.sort.html) function as a reference.

[2016-02-15 13:50] shahsaurabh0605 commented on #454
Okay so the operations can be:
=> A specified row or column can be sorted.
=> All the rows or all the columns can be sorted.
=> Whole matrix can be sorted, treated as an array.

[2016-02-15 13:59] v0dro commented on #454
AFAIK it can extend to more than 2 dimensions and not just rows and columns.

[2016-02-17 16:25] Aelphy commented on #104
Hi. I have thought about this problem. It is possible to use Marshal the objects.

[2016-02-18 07:03] shahsaurabh0605 opened #466 "Add a NMatrix#magic function"
A function like [magic()](http://in.mathworks.com/help/matlab/ref/magic.html) is used in probability theory and has other several applications.
I have my ideas to implement the function. I thought it might be good if we discuss it.

[2016-02-18 11:10] Aelphy commented on #104
How do you think ?

[2016-02-18 16:02] mohawkjohn commented on #466
I think this would be a great addition.

[2016-02-18 16:08] mohawkjohn commented on #104
Can you please provide some more detail?

[2016-02-18 16:13] shahsaurabh0605 commented on #466
I am working on it and submit a PR as soon as possible

[2016-02-18 17:51] Aelphy commented on #104
The idea is to convert Nmatrix object to string using Marshal module. It supports operations load and dump. The return of dump operation is a string, that could be written to the file using the following interface:

File.open("matrixfile") do |f|
  f.write(Marshal.dump(m))
end

[2016-02-18 21:44] mohawkjohn commented on #104
Is it written in C, or in pure Ruby? How does it work with C data structures?

[2016-02-18 22:31] Aelphy commented on #104
I am thinking about the following realization: Marshal will call marshal_dump method of NMatrix. Up to this part it is a pure ruby. As far as I understand, inside marshal it is a good idea to call C code that will compress the data and return the string to ruby code. This string will be than an output of marshal_dump routine. This string then will be then written to the file using standard ruby in

[2016-02-19 15:02] mohawkjohn commented on #104
What do you mean by "compress," exactly?

[2016-02-19 16:47] Aelphy commented on #104
It could be anything. Starting from passing the matrix data through Zlib. Also It is possible to implement one of methods of large matrix compression mentioned here: https://peerj.com/preprints/849.pdf .

[2016-02-19 16:48] Aelphy commented on #104
In other words any data processing could be implemented on this step.

[2016-02-19 17:34] v0dro commented on #466
Shouldn't the private functions be in a separate module called `MagicHelpers`?

[2016-02-19 17:40] v0dro commented on #104
Have you explored the [numpy binary file format](http://docs.scipy.org/doc/numpy/neps/npy-format.html)?

[2016-02-19 18:21] v0dro opened #468 "Proper namespacing for dtype and stype in C API"
Currently the enum defining stype and dtype for an nmatrix [does not namespace it's values](https://github.com/SciRuby/nmatrix/blob/master/ext/nmatrix/nmatrix.h#L250).

Prefixing every value with `NM_` would suffice. @mohawkjohn thoughts?

[2016-02-19 18:34] mohawkjohn commented on #468
You're mistaken. It namespaces them in C++, and in C it adds the nm_ prefix:
* https://github.com/SciRuby/nmatrix/blob/master/ext/nmatrix/nmatrix.h#L193
* https://github.com/SciRuby/nmatrix/blob/master/ext/nmatrix/nmatrix.h#L225

[2016-02-19 18:45] mohawkjohn commented on #104
Okay. I like this strategy. Go for it.

[2016-02-19 18:58] v0dro commented on #468
No what I'm saying is that the contents of the enum should be prefixed too. So it should be `NM_FLOAT64` not `FLOAT64`.

A quick program after compiling with gcc's `-E` option yields this output:
Program:
[code]

Output:
[code]

Having `NM_` everywhere would avoid clashes with other libraries who might use data type names similar to ours.

[2016-02-19 19:18] Aelphy commented on #104
v0dro, not yet. Do you think, it is a good idea to follow the same format ?
I understand that it could be useful in order to load numpy matrices, but generally I think that it is better to implement a separate method for reading numpy matrices.

[2016-02-19 19:19] Aelphy commented on #104
mohawkjohn, ok.

[2016-02-19 22:26] mohawkjohn commented on #468
Why? It's in a namespace?

[2016-02-20 06:06] v0dro commented on #468
Not sure what you mean. What's in a namespace?

The terms that are inside the enumerator (like `BYTE` and `INT32`) are not namespaced.

[2016-02-20 07:49] mohawkjohn commented on #468
Yes they are. It's a macro which puts them in a namespace for c++ or gives
them prefixes for C.
On Sat, Feb 20, 2016 at 12:06 AM Sameer Deshmukh <notifications@github.com>
wrote:

[2016-02-20 18:43] v0dro commented on #468
In my program I was able to access them as `BYTE` or `FLOAT64` (see `main()` function above).

[2016-02-22 14:50] mohawkjohn commented on #468
Oh, hmm. You may actually be right, and I'm not sure how that happened if so. Sorry. ^^;;

Just to check, can you figure out how to generate the post-processed sources using gcc and confirm this? You're looking for a .i file, I think.

[2016-02-22 18:49] v0dro commented on #468
You mean for the whole gem? Won't that be complex to sift through? Copy pasting the macros from `nmatrix.h` into another file and compiling with `-E` would be easier if I'm getting at what you're getting at.

[2016-02-22 22:56] mohawkjohn commented on #468
Uh, no. Just add the gcc flag for outputting preprocessed files to extconf, and go look in the build directory.

[2016-02-24 12:18] gau27 commented on #436
Here's another singular square matrix that returns an inverse :-

[code]

[2016-02-24 16:36] gau27 opened #470 "Warn about Ill-Conditioned Matrices"
I was able to reproduce #436 for every n^n square matrix whose elements are the natural numbers starting from 1 to n^n using this [script](https://github.com/gau27/nmatrix/blob/test/tmp/test.rb). The [output](https://github.com/gau27/nmatrix/blob/test/tmp/det_inv.txt) shows that each of these matrix has an almost zero determinant and returns an inverse when inverted.

These matrices cover a subset

[2016-02-25 15:01] mohawkjohn commented on #470
Great research on this. I like your proposal. I'd love to see this get implemented. Are you going to work on it?

[2016-02-25 19:08] mohawkjohn opened #472 "Mac OS X Travis configuration is exceeding maximum time limit"
It looks like it isn't even finishing installing the preliminary gems. How do we fix this?

See #467 for an example.

[2016-02-26 05:14] gau27 commented on #470
Yes, I'm still researching the best way to do this because it doesn't seem to be a trivial calculation, I'll send in a PR when I have something concrete.

[2016-02-26 16:49] wlevine commented on #470
This is a good idea, but is there anyway to check programmatically if the warning appears? You wouldn't want to throw an exception because then you couldn't return the result of the calculation.

[2016-02-26 17:08] wlevine commented on #470
It looks like to calculate condition numbers, you need to calculate matrix norms. #400 and #204 are unmerged pull requests to implement some matrix norms, they might be a good place to start.

[2016-02-27 11:00] AdiChat commented on #154
@mohawkjohn Could you elucidate on the objective of the extension? The link is broken.
I would like to contribute on coding this extension after planning out the steps.

[2016-02-27 15:29] wlevine opened #473 "Documentation on how to add new functions to LAPACKE plugin"
Somehow I forgot to write this last summer. I will try to do it soon.

[2016-02-28 17:51] v0dro opened #475 "(Possibly?) Cannot link to nmatrix shared object in C extensions"
I'm currently trying to make [rb-gsl compatible with nmatrix](https://github.com/v0dro/rb-gsl/tree/nmatrix_compatibility) and while linking with `nmatrix.so` [seems to work](https://github.com/v0dro/rb-gsl/blob/nmatrix_compatibility/ext/gsl_native/extconf.rb#L78) during compilation, I got a whole bunch of `symbol missing` errors when I tried to access one of the variables declared in [`ruby_consta

[2016-02-29 03:50] wlevine commented on #475
You don't actually want nmatrix.so to be explicitly linked by your rb-gsl so. This is because nmatrix.so isn't in a standard location so if your library tries to just blindly load it, it will fail. What you need is to `require nmatrix/nmatrix` (which will dynamically load nmatrix.so) before requiring your other so. Then your library should be able to find all the symbols from nmatrix.so, even thou

[2016-02-29 11:00] v0dro commented on #475
Just some docs fixes to nmatrix C API. Alright I'll try that out and let you know.

[2016-02-29 11:19] v0dro commented on #475
Your fix works thank you.

[2016-02-29 11:19] #475 closed

[2016-02-29 12:05] gau27 commented on #470
I think the best approach for this is using QR factorization ,  so I'm going to focus on exposing that first since a lot issues seem to want that as well.

[2016-02-29 15:54] mohawkjohn commented on #475
Hey @v0dro, please don't make commits without pull requests — even doc changes.

[2016-02-29 15:57] Arafatk opened #476 "Incorrect result for inverse in Atlas plugin"
Atlas uses [clapack_getrf](https://github.com/SciRuby/nmatrix/blob/9a25bb0d579874834e92590700d5b5540d2295bf/ext/nmatrix_atlas/math_atlas.cpp) and clapack_getri
Lapacke uses [lapacke_getrf](https://github.com/SciRuby/nmatrix/blob/9a25bb0d579874834e92590700d5b5540d2295bf/ext/nmatrix_lapacke/math_lapacke.cpp) and lapacke_getri methods to compute the inverse of a matrix.

The results seem to almost eq

[2016-02-29 18:30] v0dro commented on #475
Alright

[2016-03-01 04:57] v0dro opened #477 "Function in C API needs proper declaration"
[This macro in `nmatrix.h`](https://github.com/SciRuby/nmatrix/blob/master/ext/nmatrix/nmatrix.h#L369) gives a warning like this when the macro is used in another file:

[code]

Declaring C and C++ variants of the `nm_storage_count_max_elements` function should do the trick.

[2016-03-01 09:23] aelnouby commented on #463
@mohawkjohn i want to work on this idea , i am just getting started , so i am not sure where this should be implemented exactly ?

[2016-03-01 13:56] aelnouby commented on #463
Another question , when trying to get the SVD using `gesvd` just as in the documentation it always outputs "gesvd requires either the nmatrix-atlas or nmatrix-lapacke gem" , i believe atlas and lapacke are installed correctly

What is the best way available to get the SVD ?

[2016-03-01 14:06] v0dro opened #478 "C API function to change type"
Something lacking in the nmatrix C API is the ability to change the data type of the NMatrix in native code. Having a function like `rb_nmatrix_change_type(VALUE nmatrix, dtype_t new_dtype)` would be great.

[2016-03-01 14:16] wlevine commented on #463
You need to 'require nmatrix/lapacke', but someone has already submitted a pull request for implementing pseudo inverse using gesvd: #471

[2016-03-01 14:35] wlevine commented on #477
Can't you just include the header file where this is defined
(storage/common.h)? I don't see this warning so I can't verify if this
works.

On Mon, Feb 29, 2016 at 11:57 PM, Sameer Deshmukh <notifications@github.com>
wrote:

[2016-03-01 15:14] wlevine commented on #478
What do you think is lacking in the current cast functions?

[2016-03-01 15:48] gau27 commented on #470
I see that there is WIP PR already open using the matrix norms to calculate condition number, Ill work on getting QR to work in the meanwhile.

I've already made some progress but I need to tweak a few things to make it work properly. I've also found a condition number routine in LAPACK so I'll look at the feasibility of that as well.

[2016-03-01 15:58] mohawkjohn commented on #478
Yeah, this is what `nm_cast` and `nm_cast_with_ctype_args` are for.

[2016-03-01 16:29] mohawkjohn commented on #476
From [Wikipedia](https://en.wikipedia.org/wiki/Invertible_matrix): "A square matrix that is not invertible is called singular or degenerate."

I would not expect two different implementations to give the same result for an invalid input. I don't think we can guard against this situation without adding a great deal of overhead. I support having functions the user can call, like `#nonsingular?` to d

[2016-03-01 16:36] mohawkjohn opened #480 "Try to get NMatrix working in JRuby and document attempt"
This issue is closely related to one of our GSoC 2016 ideas: https://github.com/SciRuby/sciruby/wiki/Google-Summer-of-Code-2016-Ideas#port-nmatrix-to-jruby

[2016-03-01 18:12] v0dro commented on #478
Sorry my bad. Missed them..

[2016-03-01 18:12] #478 closed

[2016-03-01 18:15] v0dro commented on #477
`common.h` is intended to be a header for a C++ file so it won't function properly when using GCC for compiling `nmatrix.h`. You can reproduce the error by calling the macro in an external library and including `nmatrix.h`.

[2016-03-01 18:39] aelnouby commented on #463
@wlevine  i see , sorry i should have checked the PRs first. Any recommendations for a good issue to start with ?

[2016-03-01 18:46] v0dro commented on #463
#410 is pretty simple.

[2016-03-01 18:49] aelnouby commented on #440
@agisga i understand now that we need to plug in the implemented dgeqrf/dgeqp3 of LAPACK in NMatrix , i noticed in [numpy.linalg.qr](https://github.com/numpy/numpy/blob/master/numpy/linalg/linalg.py#L1481) ,this is the approach used as well.

Can you help me find an example where we plugged in a LAPACK function (i don't what are the steps to do such a task) , a guide or an example will be extremel

[2016-03-01 20:48] wlevine commented on #476
It's true that the result isn't well defined, but it still looks like something weird is going on in the ATLAS case. It looks like it isn't even trying to compute the inverse, in which case it should be telling us and we should raise an exception.

[2016-03-01 20:52] mohawkjohn commented on #476
Oh, okay, misunderstood. I see it now.

[2016-03-02 06:33] v0dro commented on #440
See the CONTRIBUTING.md file for all those details.

[2016-03-02 06:49] v0dro opened #481 "#last for NMatrix"
Access the last element.

[2016-03-02 06:50] v0dro opened #482 "Document C API in wiki"
I've created a [wiki page](https://github.com/SciRuby/nmatrix/wiki/C-API) for documenting the C API. Let's all fill it up!

[2016-03-02 17:32] Arafatk commented on #476
@wlevine That's exactly what i wanted to say.
In Atlas inverse,after LU decomposition by clapack_getrf.The inverse is not calculated by clapack_getri. This only happens in case of  ill conditioned matrices.

[2016-03-02 17:37] v0dro opened #484 "Expose lapack/atlas SCAL as #scale! and #scale"
Having a destructive `#scale!` would be a great addition to multiply each element in an NMatrix with a given number.

Also the non-destructive version.

[2016-03-02 23:00] mohawkjohn commented on #484
That's what `*=` is, isn't it?

[2016-03-02 23:01] mohawkjohn commented on #482
This is what rdoc is for — so we don't have to put documentation in two places.

[2016-03-02 23:01] #482 closed

[2016-03-02 23:03] mohawkjohn commented on #481
Okay, this is a very good example of why we shouldn't label issues as enhancement until they've been reviewed by others.

Before an issue can be attempted, we need to come to an understanding of what the feature would actually look like.

In this case, does `last` give just the very last element? Or does it give the last column? Or the last row?

Finally, isn't `last` part of `Enumerable`?

[2016-03-02 23:06] mohawkjohn commented on #476
@Arafatk Do you get the same behavior when you do it with dtype `:object` instead? Have you looked at the ATLAS API linkages to see if you can track down where it's failing to give an error message?

[2016-03-03 05:48] v0dro commented on #482
Are you suggesting it should be a `.rdoc` file in the repo itself?

[2016-03-03 05:53] v0dro commented on #481
Agreed. Will do.

About last, it should function just like `Array#last` and return the last element. And no, it's not a part of Enumerable - http://ruby-doc.org/core-2.1.0/Enumerable.html

[2016-03-03 05:55] v0dro commented on #484
`*=` will duplicate the object and then apply changes. It's not in-place, which might prove faster in some cases.

[2016-03-03 12:21] v0dro opened #485 "Error when compiling extension in Ruby 2.3.0"
When compiling rb-gsl with nmatrix, (and including `nmatrix.h` in the file) I get the following error:

[code]

[2016-03-03 14:11] gau27 commented on #481
My current method for this has too much overhead (apologies for overlooking that), but I can't think of a way for doing this for a general size matrix without traversing or flattening the matrix.

I can't think of an efficient way yet for doing it in Ruby, perhaps writing in C would do the trick but I'm not sure if that's warranted here. I'll continue searching though.

[2016-03-03 18:04] mohawkjohn commented on #481
@v0dro Why would someone need the last element of a 2D matrix? What makes the last element any more important than the lower left-hand corner element?

I do see it as being useful for vectors. We've got a few vector-only methods.

[2016-03-03 18:06] mohawkjohn commented on #484
Ahh, so you were thinking of a functionality analogous to `SCAL` in atlas? There's actually a function for this which should already be implemented in C. It just needs to be exposed if it hasn't already been.

[2016-03-03 18:07] v0dro commented on #481
It's quite useful when writing tests where you create a large matrix after doing some computations and verify only the first, last and few in-the-middle elements for reducing the number of values you need to cross check. That's how I felt the need for it anyway. It'll also help maintain some consistency with `Array`.

[2016-03-03 18:10] v0dro commented on #484
Hmm sure! A more human friendly wrapper to the ATLAS function would be helpful though. Also a hand made version in case there is no ATLAS.

[2016-03-03 18:16] mohawkjohn commented on #481
Okay. What about `x[-1,-1]`?

How do you envision this being implemented efficiently across all of the different stypes?

[2016-03-03 18:35] v0dro commented on #481
Unless it's not TOO slow I don't think it we should spend too much time thinking about it being very fast. The reason being that it's just returning one element that the user can save in a variable for later use. Also, since NMatrix is designed such that values can't be added or removed (like `Array#<<`) in the same object, the last element will remain constant for each object thus further facilit

[2016-03-04 00:00] gau27 commented on #440
I was able to get `dgeqrf` working, however there really is no Q matrix output as the LAPACK [subroutine](http://www.netlib.org/lapack/explore-html/dd/d9a/group__double_g_ecomputational.html#ga3766ea903391b5cf9008132f7440ec7b) sort of packs the matrix into a triangular matrix and an array.

[code]

Q is expressed in terms of the above outputs

[code]

There is a LAPACK subroutine that [generates](

[2016-03-04 02:03] wlevine commented on #440
Good to hear what you've got so far. Eventually, I think you would want to
expose all the functions related to the QR factorization, and also make
Ruby functions with nice interfaces both for solving, and for returning Q
and R directly. See what we already have for the other
factorization/decomposition methods.

On Thu, Mar 3, 2016 at 7:00 PM, Gaurav Tamba <notifications@github.com>
wrote:

[2016-03-04 06:25] agisga commented on #440
Nice job! I agree with @wlevine. For example in NMatrix we have methods such as `#potrf` and `#getrf` which behave exactly like their lapack versions, but the corresponding methods `#factorize_cholesky` and `#factorize_lu` give a more intuitive and user friendly output (see [here](https://github.com/SciRuby/nmatrix/blob/305e7a5647108f0eb1063150cc00bcd556965bd3/lib/nmatrix/math.rb#L204)). Analogous

[2016-03-04 22:23] mohawkjohn commented on #481
You didn't answer my question. =)

Also, I'm not clear on what you're saying about the last element remaining constant.

[2016-03-05 05:02] rohit12 commented on #219
I would like to take up this issue. I would like clarification on the issue though. Do I just have to calculate the second eigen vector?

[2016-03-05 06:17] v0dro commented on #481
So say you want the last element of an NMatrix. For a given NMatrix object, since NMatrix does not allow adding/removing elements, the last element of a given object will ALWAYS be the same, so you don't need to call `#last` on that object repeatedly to access the last element, you can just save it after calling `#last` once.

And yes `x[-1,-1-]` seems fine for implementing `last`. @gau27 has done

[2016-03-05 14:36] mohawkjohn commented on #219
Why only the second?
On Fri, Mar 4, 2016 at 11:02 PM Rohit Shinde <notifications@github.com>
wrote:

[2016-03-05 14:47] rohit12 commented on #219
The issue is not clear to me. That is why I am getting confused. It says that the second eigen vector is missing. So I assume that I have to calculate the second eigen vector?

[2016-03-05 20:19] bver opened #487 "Installation fails with gcc 4.8 without cppflags="-std=c++11" set"
Hello,

I see compilation errors when installing nmatrix on my OpenSUSE 13.1 box. However, after adding "-std=c++11" by the "cppflags" environment variable everything seems to be ok.
Same behavior can be observed when compiling master branch (commit 8b72919) with "bundle exec rake compile". Tried on 2.0.0 and 2.1.0 rubies with the same effect.
It is only a minor inconvenience I guess. I just repor

[2016-03-07 11:32] rohit12 commented on #219
@mohawkjohn Could I get a clarification please? I would really like to start working on this.

[2016-03-07 17:08] mohawkjohn opened #488 "`with_indices` for Enumerator"
I'm not even sure how one would go about doing this. I attempted it a couple years back, got close, but then failed to get it working.

We have a `#each_with_indices` enumerator in NMatrix. You can also do `#each.with_index` with most enumerable objects, but for consistency, we should really have an `#each.with_indices` as well, which should function just like `#each_with_indices`.

I suspect an i

[2016-03-07 17:13] mohawkjohn commented on #487
Your compiler is reporting the wrong version for some reason. Please give the output of the following command:

    gcc -E -dM - </dev/null

[2016-03-07 17:15] #481 closed

[2016-03-07 17:16] mohawkjohn commented on #481
Ahh, good call. I misread the code. Thanks for pointing that out.

[2016-03-07 17:21] mohawkjohn commented on #219
Oh. Sorry, I misread some things in here (and was not near a computer all weekend).

The second eigenvector is probably being computed but is being lost when the size of the resulting NMatrix object is set. So, no, you don't have to compute the second eigenvector, you just have to figure out the problem with the Ruby/C interface.

[2016-03-07 19:46] bver commented on #487
[code]

[2016-03-07 22:04] wlevine commented on #219
I had completely forgotten, but I actually did a lot of this last summer. The output from `NMatrix::LAPACK.geev` is in a much friendlier format than the original geev. See the [documentation](https://github.com/SciRuby/nmatrix/blob/c97c43a58d78ff226d0aeb009b13562bb6158066/lib/nmatrix/lapack_core.rb#L119) and the [specs](https://github.com/SciRuby/nmatrix/blob/ea3a544fc72dd614bb964053b89be476e45e54

[2016-03-07 22:14] wlevine opened #489 "Documentation for LAPACK-derived functions not showing up on rdoc"
There's no documentation for the functions on this page: http://sciruby.com/nmatrix/docs/NMatrix/LAPACK.html

However most of these functions have documentation in the source, see e.g. https://github.com/SciRuby/nmatrix/blob/ea3a544fc72dd614bb964053b89be476e45e5428/lib/nmatrix/lapack_core.rb#L119

The problem is that all of these functions have multiple implementations; one that's just a dummy imp

[2016-03-09 05:49] gau27 commented on #440
Thanks for the advice @wlevine  @agisga  ; I'm currently working to make a full-fledged interface for QR factorization, but I have some doubts :-

In my `nm_lapacke_lapacke_geqrf` function definition in `math_lapacke.cpp`, I'm using a switch block to determine the type of the output tau array. (in/out for the LAPACKE function)

[code]

This seemed to be the only way to do this since I can't define

[2016-03-09 14:43] wlevine commented on #440
I think what you want is for `tau` to be a 1-D NMatrix rather than an array. That way the memory is allocated beforehand and you don't need to worry about converting from C arrays to Ruby arrays. For example, see what we do in geev, where `w` contains the list of eigenvalues. I think this is an analogous situation.

[2016-03-09 15:56] mohawkjohn commented on #489
Are you sure it's not just because we haven't updated the docs on the Octopress lately, @wlevine?

[2016-03-09 16:00] mohawkjohn commented on #219
@wlevine Is it different enough that we should close this issue and open a new one?

[2016-03-10 05:21] #466 closed

[2016-03-10 09:08] gau27 commented on #440
Thank you @wlevine  , that made things a lot more simple and now I can successfully get Q from `geqrf`, however `dorgqr` won't suffice for computing Q for rectangular matrices, as the input matrix A (mxn) cannot hold the output mxm Q if m > n.

There are two ways to get Q for all matrices, mentioned in this forum post here https://icl.cs.utk.edu/lapack-forum/viewtopic.php?t=326

A call to `xORGQR/

[2016-03-10 20:17] wlevine commented on #489
They're still missing when I run rdoc locally.

On Wed, Mar 9, 2016 at 10:56 AM, Dr. John Woods <notifications@github.com>
wrote:

[2016-03-16 04:07] lds56 commented on #484
Hi! I'm trying this but got a little confused. In my opinion, the `#scale` and `#scale!` may change the dtype of the matrix (e.g. `N[1, 2].scale(0.2)`). It's ok for the non-destructive `#scale` since `#cast` can be used to clone a new matrix while it's not for `#scale!`. So I want to know whether there is an in-place cast method.

[2016-03-16 04:36] Aelphy commented on #104
One more question. Can this task be a part of GSOC 2016 proposal ?

[2016-03-16 05:36] Aelphy commented on #104
Also, I just have checked, that definition of marshal_dump method  right in NMatrix class results in correct work of Marshal.dump.
Now I am thinking about the place, where to define this method, because I will need the access to the Matrix data inside it.

[2016-03-16 07:19] v0dro commented on #104
I have a doubt. If you're going to implement a compression algorithm for storing matrices, how can one seek to a particular element directly and then read a given number of elements from that point onward?

That functionality would be important since very large matrices cannot be stored in memory and often users will want to read off a part of it from persistent storage.

[2016-03-16 09:44] Aelphy commented on #104
I agree, it is the problem. For the moment I want to implement the interface first (without compression).

[2016-03-16 09:46] Aelphy commented on #104
Does NMatrix support partial read and write from disk (the problem you have described) ?

[2016-03-16 10:23] v0dro commented on #104
I'm concerned whether your compressed matrix will work for file seeking. Hence I don't think storing in a compressed file format is a very good idea in the first place.

Partial read/write i do not think is supported. You can add that as part of this issue.

[2016-03-16 10:37] Aelphy commented on #104
I have found the article, that describes seeable compression using zlib http://lh3.github.io/2014/07/05/random-access-to-zlib-compressed-files/. I think that it could be interesting to try this approach.

I think that it is a good idea to implement partial read and write and I will think about its realization.

How do you think, is it enough for GSOC 2016 proposal ?

[2016-03-16 13:51] mohawkjohn commented on #104
I think adding zlib compression to our saved matrices is a couple of hours of work, not a full GSOC project.

[2016-03-16 13:53] mohawkjohn commented on #104
No, partial read and write are not supported. But I'm not sure a use-case supports this.

When you say "is it enough," do you mean for the code contribution requirement, or for a full summer of work?

[2016-03-16 13:55] mohawkjohn commented on #484
I think if you called `#scale!` in a way that would change the dtype, it should probably give an error. There is no in-place cast method.

[2016-03-16 14:04] Aelphy commented on #104
@mohawkjohn, I am talking about the code contribution. I am going to start work on the interface in the end of march.

[2016-03-16 18:30] Arafatk opened #492 "Bug in nrm2 functions"
The output in both cases must be same
[code]

[2016-03-16 18:36] mohawkjohn commented on #492
Woops. Good catch.

[2016-03-17 07:55] lds56 commented on #484
@mohawkjohn OK. And here's the pull request :) Please take a look to see if I understood it correctly.

[2016-03-18 17:54] mohawkjohn commented on #104
Yes. I think any non-trivial contribution — to show you understand the codebase and how open source development works — is sufficient.

With that said, we look very kindly on people who contribute more code. =)

[2016-03-18 18:03] #440 closed

[2016-03-22 14:17] #492 closed

[2016-03-22 14:26] mohawkjohn commented on #484
Perhaps we should also override `*=` to use `scal!`. Is this feasible?

[2016-03-22 17:20] v0dro commented on #484
Wont that be unanticipated behaviour?

You tend to expect a new object with `*=`. It's true ruby-wide.

[2016-04-04 15:16] mohawkjohn commented on #484
Yes, good point.

[2016-04-05 13:38] mohawkjohn opened #495 "nrm2 tests fail in Windows"
See #494.

[2016-04-06 01:24] preetpalS commented on #495
After running bundle install (assuming you had already installed the nmatrix gem yourself), the rspec test suite does not run.

`am@LAPTOP-HKNNRJMM MINGW64 ~/nmatrix
$ bundle install
Resolving dependencies...
Using rake 10.5.0
Using backports 3.6.8
Using bundler 1.11.2
Using coderay 1.1.1
Using diff-lcs 1.2.5
Using json 1.8.3
Using method_source 0.8.2
Using slop 3.6.0
Using rspec-core 2.99.2
Using

[2016-04-06 01:39] preetpalS commented on #495
The test suite actually still passes on Windows, I made a mistake during the testing process of not rebuilding the library itself as I assumed it was using the installed gem (so the test suite was running against an older version of the nmatrix.so file (see the `if` statement beginning on line 33 of lib/nmatrix/nmatrix.rb) as I did not rerun the `bundle exec rake compile` step before running `bund

[2016-04-06 20:56] mohawkjohn commented on #495
Ah! Got it. Thanks so much for pursuing this one.

[2016-04-06 20:56] #495 closed

[2016-04-07 18:16] mohawkjohn opened #496 "NMatrix#det_exact not working on :object dtype"
[code]

I believe the problem is somewhere around https://github.com/SciRuby/nmatrix/blob/0de5c43983658cc27b30d712048e931adc9ec8e8/ext/nmatrix/math.cpp#L197

I recall seeing this type of error when an operator wasn't properly implemented on the `RubyObject` class, but I could be mistaken about that.

This issue blocks https://github.com/symengine/symengine.rb/issues/36.

[2016-04-07 18:17] mohawkjohn commented on #496
@wlevine, does this look familiar to you at all?

[2016-04-07 21:42] thrabbit opened #497 "Error when using with windows 8"
Following a thread on here: http://stackoverflow.com/questions/36389449/install-error-for-nmatrix-gem-in-windows-8?noredirect=1#comment60582106_36389449

I am using windows8, ruby 2.1, rails 4.1.7

I have tried two ways to use the gem since apparently the usual  "gem install nmatrix" doesn't currently works for windows.

METHOD ONE: clone from git, cd in to folder and rake install.
then add this t

[2016-04-08 02:29] preetpalS opened #498 "Gem installation fails on Windows since extconf.rb cannot detect g++ version"
When installing nmatrix from the master branch of this repository from the Command Prompt or Powershell using the Ruby from http://rubyinstaller.org, the installation fails because the method `gplusplus_version` on line 128 of `ext/nmatrix/extconf.rb` tries to use the null device on Windows using `/dev/null` when it should really be trying to use the null device using `nul`.

[2016-04-08 02:42] preetpalS commented on #498
When I got the gem to compile on Windows, I bypassed this by making the method 'gplusplus_version' just return the version string. Maybe there should be a way to manually give the g++ version (apologies if a way already exists). This is one of two blockers that I found for installing the gem using the Ruby (2.3.0 x64) from http://rubyinstaller.org/ (the other blocker is that you need to have the d

[2016-04-11 19:37] mohawkjohn commented on #498
Fixed by #502.

[2016-04-11 19:37] #498 closed

[2016-04-11 19:39] mohawkjohn commented on #497
@preetpalS Have you seen this error at all? I don't have access to a Windows installation.

[2016-04-11 23:38] preetpalS commented on #497
@mohawkjohn I have seen the error before, I believe it has to do with the fact that this gem does not statically link with some library (on Windows, some Ruby installations (like the one from rubyinstaller.org when using its devkit) only temporarily modify the path of the user during the build of the gem (so some dependencies may only be available at build time); this is arguably better since this

[2016-04-12 12:20] thrabbit commented on #497
Adding my devkit vars to my path prior to running Rails did fix the issue. Thanks a lot for helping in fixing this issue, maybe it will help other users.

[2016-04-12 14:33] preetpalS commented on #497
@thrabbit I am glad to hear that I could help you. =)

[2016-04-12 15:02] mohawkjohn commented on #497
Thanks so much for answering this question! And for the detailed information. I'm sure it'll prove helpful for others in the future. =)

[2016-04-12 15:02] #497 closed

[2016-04-12 15:03] #439 closed

[2016-04-13 10:49] v0dro opened #504 "Big memory extension for nmatrix"
Parallel computing is a growing need these days. Something like [numru-narray](https://github.com/seiya/numru-narray) would be great for nmatrix.

[2016-04-13 18:24] mohawkjohn commented on #504
This seems like two separate issues, but I think it'd be okay to have both features.

[2016-04-20 18:15] georgeu2000 commented on #426
I am having this issue on Ruby 2.3.0 as well.

[code]

Please try github version.

What do you mean "try github version"? The github version of nmatrix? How?

FWIW, no issues with 2.2.4.

[2016-04-20 18:40] mohawkjohn commented on #426
You can use the current development version as described in the README:

[code]

[2016-04-20 18:44] georgeu2000 commented on #426
Got it. Thanks.

[2016-04-21 17:51] reisner commented on #426
I'm getting this error with nmatrix in my gemfile.

    $ ruby -rrbconfig -e 'puts RbConfig::MAKEFILE_CONFIG["CC"]'
    gcc

I'm not using clang...so now what? I also tried this:

    gem 'nmatrix', :github => 'SciRuby/nmatrix'

Which didnt help.

[2016-04-22 01:38] mrkn commented on #426
@georgeu2000 how do you install ruby 2.3.0?

Also, please check the following output:

[code]

[2016-04-22 01:39] mrkn commented on #426
@reisner tell me `ruby -v`

[2016-04-22 17:02] reisner commented on #426
$ ruby -v
    ruby 2.3.0p0 (2015-12-25 revision 53290) [x86_64-darwin15]

[2016-04-24 23:03] Rojj opened #505 "Failed to install nmatrix on ruby 2.0.0-p247"
Using rbenv I have succesfully installed nmatrix on ruby 2.2.0.

However the installation fails on ruby 2.0.0-p247 with with following errors
See [here](https://www.dropbox.com/s/zvn9yjn18dq4ksr/gem_make.out?dl=0) for the log.

[2016-04-25 00:06] wlevine commented on #505
`std::tuple` is a C++11 feature. What compiler are you using? It looks like you need a newer version.

[2016-04-25 06:42] Rojj commented on #505
I have installed gcc with `brew install gcc`. If I run the command again I receive: `Warning: gcc-5.3.0 already installed`.

From the content of [mkmf.log](https://www.dropbox.com/s/g74wdbpeplretmf/mkmf.log?dl=0) it looks like it is using `clang` instead.

Sorry, I have edited the comment. I have successfully installed nmatrix on **2.2.0** and not 2.0.0. Shouldn't they use the same compiler?

[2016-04-25 14:40] wlevine commented on #505
I'm not quite sure why that is happening. For the time being, could you just try editing extconf.rb to force it to use g++? You can comment out [this block of code](https://github.com/SciRuby/nmatrix/blob/1192117ce3089c20efdef94edebd63a8427e1fb7/ext/nmatrix/extconf.rb#L143-L162) and replace it with:
[code]
but make sure you use the correct name for the g++ binary, it may actually be called `g++-5.

[2016-04-27 18:36] georgeu2000 commented on #426
You can download it and install it. I suggest using rbenv. See https://github.com/rbenv/rbenv#installing-ruby-versions

[2016-04-29 15:19] #484 closed

[2016-05-02 14:00] mohawkjohn commented on #426
@reisner Are you still having problems or can this ticket be closed?

[2016-05-05 15:09] #426 closed

[2016-05-09 14:38] mohawkjohn commented on #505
Any progress with this, or can I close it?

[2016-05-09 14:44] Rojj commented on #505
No progress unfortunately. You can close it.

On Mon, 9 May 2016 at 18:38 Dr. John Woods <notifications@github.com> wrote:

[2016-05-09 14:49] mohawkjohn commented on #505
Did you attempt @wlevine's suggestion?

[2016-05-09 14:55] Rojj commented on #505
I did, but it didn't work.

[2016-05-10 10:46] gillien commented on #426
I had the exact same problem than @reisner. but with the configuration below :
[code]
I was previously using Nmatrix with ruby `2.2.4` and I did not have any problems.

I try to use the development version, as @mohawkjohn described, and it was also working.

So to get it working on my project with the version `0.2.1`, I edited the file `/Users/../.rvm/rubies/ruby-2.3.1/lib/ruby/2.3.0/x86_64-darwin

[2016-05-10 10:52] mrkn commented on #426
@gillien How do you install your ruby?
Please check the value of CC, too.
If CC is clang, it's a wrong combination of clang and g++.

[2016-05-10 11:13] gillien commented on #426
@mrkn  ruby is installed with rvm and CC is gcc

[2016-05-12 14:04] mohawkjohn commented on #505
@Rojj How are you installing NMatrix? From git, or from gem?

[2016-05-12 14:10] Rojj commented on #505
From the gem

On Thu, 12 May 2016 at 18:04 Dr. John Woods <notifications@github.com>
wrote:

[2016-05-13 10:46] edmundhighcock commented on #477
This is an issue for me too. Could we please have the declaration of nm_storage_count_max_elements in the publicly available C header file (that is, nmatrix.h)?

[2016-05-13 10:50] edmundhighcock commented on #477
I have added the declaration to my own code for now, but in theory the macro should be independent of the implementation. I am now tied to the particular form of `nm_storage_count_max_elements`.

As ever, thanks in advance.

[2016-05-13 13:56] mohawkjohn commented on #477
It's the one on line 391, not 369, right?

[2016-05-13 14:00] mohawkjohn commented on #477
Why is it you think we need C and C++ variants? It seems like it should be sufficient to just add

[code]

around line 445. I don't think it needs to be before the macro declaration since the macro isn't a function — we just need to ensure that anyone who includes nmatrix.h and uses the macro has access to the function declaration.

[2016-05-13 14:01] edmundhighcock commented on #477
I’m talking about the declaration on line 74 of storage/common.h, needed by the macro NM_DENSE_COUNT on line 354 of nmatrix.h in my version (0.2.1)

Thanks,

Edmund

[2016-05-13 14:03] mohawkjohn commented on #477
Sorry, yes, that question was addressed to @v0dro, not you @edmundhighcock.

[2016-05-13 15:48] edmundhighcock commented on #477
I think @v0dro is also using the C API, since he mentions using GCC: I think he was merely pointing out that including storage.h would only work for C++. Presumably @mohawkjohn's solution will work for both C and C++ if surrounded by the appropriate # ifdef cplusplus extern formalism.

[2016-05-13 15:55] edmundhighcock opened #512 "Use 'true' and 'false' like narray"
One of the features I really liked about NArray was the ability to use 'true' within [] to indicate the whole of a dimension, and 'false' to expand to as many 'true's as necessary:

I quote from the narray documentation

[code]

This feature was very useful as it frequently avoided boilerplate. Is there a reason (e.g. performance) why it was not adopted by nmatrix? I'd be happy to have a go at for

[2016-05-13 16:20] mohawkjohn commented on #512
@edmundhighcock Try `:*` instead of `true`. =)

[2016-05-13 16:28] edmundhighcock commented on #512
Great, thanks!

And false? I know I'm being really lazy now!

[2016-05-13 16:30] edmundhighcock commented on #512
I guess

[code]

is equivalent to

[code]

[2016-05-13 16:39] edmundhighcock commented on #512
Last question, and not strictly related to the title so apologies. With narray, you can do this

b = a[ [0,2,3], true]

which would create a new narray of shape (3, x) where x is the size of the second dim of a. In effect you're doing something like Array#values_at. Is there an NMatrix equivalent?

[2016-05-13 18:11] v0dro commented on #477
I'm using plain gcc. Its this line: https://github.com/SciRuby/nmatrix/blob/master/ext/nmatrix/nmatrix.h#L391

[2016-05-13 18:36] mohawkjohn commented on #512
I don't believe so. We have a feature that creates references (which are not copies) of contiguous portions, but it doesn't do non-contiguous portions. It'd be easy to implement a copy operation for that, but a reference operation would be much harder. The challenge is in the other storage types (yale and list matrices).

There's no shorthand option equivalent to `false` because no one's needed it

[2016-05-13 18:37] mohawkjohn commented on #477
@edmundhighcock Actually, the header file is for both C and C++, so it has
to be compatible with both. We accomplish this using a lot of macros.

On Fri, May 13, 2016 at 1:11 PM Sameer Deshmukh <notifications@github.com>
wrote:

[2016-05-14 05:37] gau27 opened #513 "Adding a Least Squares Solver"
The Least Squares Solution function is something that was intended to follow the addition of QR factorization,  these were the manual steps to get the least squares solution from using the QR factorization routines mentioned by @wlevine on the discussion thread of this [pull request](https://github.com/SciRuby/nmatrix/pull/490)

However, LAPACK offers [4 methods](http://www.netlib.org/lapack/lug/n

[2016-05-14 06:22] agisga commented on #513
@gau27 QR factorization is actually faster than SVD for least squares, but it fails when the matrix is not full rank and accumulates more error than SVD (see for example [this overview](http://www.cs.princeton.edu/courses/archive/fall11/cos323/notes/cos323_f11_lecture09_svd.pdf)). As far as I know, QR is regarded as the standard for least squares problems.

From the link you provided, xGELS which

[2016-05-18 05:03] gau27 commented on #513
All right, I'll begin work on the Ruby patch for this until the LAPACKE functions are exposed. What should be the behavior for an under-determined system? Is the error negligible enough to issue a warning or should we just reject rank-deficient matrices?

[2016-05-18 15:23] mohawkjohn commented on #513
I'm looking at some of my least squares code for a separate project (sorry, can't share, flight software) and it looks like I do the following:

* Attempt a Cholesky decomposition.
 * Error if any diagonal element is negative.
 * Error if the square root of any diagonal element is 0.
 * Warning if the square root of any diagonal element is non-zero but very close to 0.
* If Cholesky fails, attempt

[2016-05-18 15:24] mohawkjohn commented on #512
@edmundhighcock I'm going to close this, but feel free to re-open if you are interested in working on implementing this as an extra feature — or if you have questions. =)

[2016-05-18 15:24] #512 closed

[2016-05-18 15:26] mohawkjohn commented on #505
@Rojj Try from git. I think there have been some recent changes that may affect your outcome.

[2016-05-18 15:53] agisga commented on #513
@gau27 I agree with John. If you use QR factorization, you can issue a warning when any diagonal element of R is close to zero (error when equal to zero).
I think that checking matrix rank would add too much of a computational overhead, without much reward, because rank deficient matrices are rare in practice (in my understanding).

[2016-05-18 16:03] edmundhighcock commented on #512
No problems. I have what I need for now; I think a copy operation for the non-contiguous portions would be useful, so when I have time I'll get back to it (which may be a while =) )

[2016-05-23 13:46] #496 closed

[2016-06-01 18:49] #405 closed

[2016-06-01 18:50] #446 closed

[2016-06-01 19:12] v0dro opened #518 "Segfault in pry after quitting"
This code `NMatrix.new([2],[1,nil])` causes pry to segfault after quitting pry:

[code]

[2016-06-01 20:50] mohawkjohn commented on #518
Yeah, it's inferring that the dtype is int64 (based on the 1) when it should probably be object. It's probably trying to deallocate the nil or something funky like that.

[2016-06-02 05:46] v0dro commented on #518
@lokeshh

[2016-06-02 05:48] v0dro commented on #518
One thing I don't understand is the reason behind the segfault happening after I quit the session. This does not happen in irb. Any particular reason for that?

[2016-06-02 15:53] wlevine commented on #518
This is similar to #452. The basic problem seems to be when a Ruby exception gets called within NMatrix C code. As to why it happens it on exit, it must must be something that happens during cleanup, maybe a double free, or a free at an address that got garbled somehow. Just a guess.

[2016-06-02 15:58] wlevine commented on #452
Just for the record, I think my diagnosis in the last couple of comments is not entirely correct. For one thing, `NM_CONSERVATIVE(nm_register_value(&arg));` should have no effect in the standard build, since this macro resolves to nothing unless `NM_GC_CONSERVATIVE` is defined. However, I still think that the problem is due to the Ruby exception causing a jump across C code that does some necessar

[2016-06-02 18:56] v0dro opened #519 "YARD compatible docs for ATLAS plugin"
The YARD docs for the ATLAS plugin can't be seen. Check this out: http://www.rubydoc.info/gems/nmatrix-atlas/0.2.1/NMatrix/BLAS

I recommend writing something in NMatrix::BLAS with YARD tags such that it gets parsed.

[2016-06-02 18:58] v0dro commented on #518
Or maybe the fact that `nil` is actually an object but it doesn't get registered with the GC by NMatrix just before it throws the error? Something like that?

[2016-06-02 21:23] mohawkjohn commented on #518
More likely it's because it's decreasing the ref count on Qnil improperly (as in, it isn't increasing it first). Since it's Qnil, it really shouldn't have its ref count messed with.

Then again, I may be mixing it up with Python. Argh. Differences between writing extensions for two scripting languages is hard to keep track of.

[2016-06-03 21:54] v0dro opened #520 "Unsigned data types"
Having unsigned data types of all the currently supported data types would be great. Though something tells me we'd need a rework of the way nmatrix handle data types.

[2016-06-04 00:57] mohawkjohn commented on #520
Can you provide a use-case? No one could the last time we considered this.
Also, adding dtypes multiplies compile time.
On Fri, Jun 3, 2016 at 4:54 PM Sameer Deshmukh <notifications@github.com>
wrote:

[2016-06-06 17:16] v0dro commented on #520
Timestamps, characters, signal data taken from DSP software, A2D and D2A conversion, image data, large value storage in general etc.

[2016-06-06 18:20] mohawkjohn commented on #520
Why not just store these as signed? Or, for that matter, `:object`, since Ruby provides big number support?

[2016-06-06 19:15] v0dro commented on #520
One of the primary reasons why we use nmatrix in daru is for storage. By limiting the array size and the deciding the data type, NMatrix can leverage bare to metal performance which Ruby can't. Storing anything as `:object` is as good as storing it as Array. You very well know that every single element will be added to that linked list in the nmatrix code so that it can be garbage collected later.

[2016-06-06 19:16] v0dro commented on #520
Why are you so against revamping data types? I remember being horrified by the template tables the first time I tried dabbling with nmatrix.

[2016-06-06 19:17] v0dro commented on #520
And anyway I think the data types infra needs a serious overhaul. I remember being horrified by the template tables the first time I saw the code base.

[2016-06-06 20:26] v0dro opened #521 "Introduce rubocop for ruby files"
Rubocop would be great for making Ruby files better looking and adhering to the Ruby style guide.

[2016-06-08 14:40] mohawkjohn commented on #520
Yes. The template tables are bad, but there aren't a lot of better ways to accomplish this. If you can think of one, I'd love to hear it.

Any way you come up with is going to dramatically increase compile time. You need to have a compelling reason to do that.

[2016-06-09 17:59] mohawkjohn commented on #520
I'm going to close this until there's a design proposal associated with it.

[2016-06-09 17:59] #520 closed

[2016-06-10 09:30] v0dro commented on #520
Why not keep it open so that someone with interest can read it and come up with something? Also, why is compile time such a big deal? It happens just once during gem installation. There are so many projects with large compile time that are doing just fine.

[2016-06-10 12:36] mohawkjohn commented on #520
Find me another NMatrix dev who agrees with you and I'll reopen it. =)

[2016-06-10 13:05] v0dro commented on #520
@wlevine and @agarie? Thoughts?

[2016-06-10 14:08] wlevine commented on #520
One thing to keep in mind with unsigned types, is that algorithms that seem to be generic can fail with unsigned types. We already ran into this issue with the determinant (see #370), since the determinant can be negative even if all the values are positive.

Strictly speaking, from a linear algebra point of view, even signed integer matrices are illegitimate, since a vector space needs to be defi

[2016-06-10 19:09] v0dro commented on #520
For me it's also a generic way to sore matrix-shaped data. The fact that we've moved to a plugin architecture that makes nmatrix not depend on linear algebra libraries by default is reason enough to show that it can and should be used for storing matrix-shaped data.

[2016-06-12 06:31] prasunanand opened #522 "Compilation error NMatrix-Lapacke plugin on Ubuntu 16.04"
bundle exec rake compile nmatrix_plugins=lapacke results in the following error:

[code]

After removing lines from ext/nmatrix/nmatrix.h

[code]

compilations is successful.
ifndef should have ensured that rb_array_const_ptr is not defined again. Is this a bug?

[2016-06-12 15:42] v0dro commented on #522
I think the extconf is wrongly loading the `HAVE_RB_ARRAY_CONST_PTR` macro. Could you have a look at that?

[2016-06-12 16:51] prasunanand commented on #522
Yeah, I will do it :smile: .

[2016-06-15 05:14] v0dro opened #523 "C API function for creating sparse matrices"
Currently only dense nmatrix objects can be created from the C API. Having more functions for creation of sparse matrix types would be a great addition.

[2016-06-15 17:35] mohawkjohn commented on #523
The reason these functions don't exist is that there's no clear way the data would be passed in. Easiest way is just to create a dense matrix and then cast it.

[2016-06-15 17:35] #523 closed

[2016-06-15 19:49] v0dro commented on #523
Ok agreed.

[2016-07-08 08:18] chrhansen commented on #505
Hi @mohawkjohn, I just had to install NMatrix for the first time to use it in a Ruby wrapper around Tensorflow https://github.com/chrhansen/ruby-tensorflow/pull/1/files, but `gem install nmatrix` failed because of the [GCC 4.3 requirements](https://github.com/SciRuby/nmatrix#installation). I updated gcc using `brew install gcc`, but that wasn't picked up on my Mac, `gcc --version` still uses Apple

[2016-07-08 12:35] wlevine commented on #505
@mohawkjohn, do you think we should default to clang on OS X?

[2016-07-08 15:28] mohawkjohn commented on #505
Yes, definitely at this point.

[2016-07-08 15:28] mohawkjohn opened #525 "Change default compiler on Mac OS to clang"

[2016-07-08 17:11] v0dro opened #526 "NMatrix 100 exercises"
We can have a wiki page similar to numpy 100 exercises: http://www.labri.fr/perso/nrougier/teaching/numpy.100/

[2016-07-09 08:52] cedlemo commented on #526
I have looked in the wiki and it seems that there is a tutorial in progress. I want to try NMatrix and why not help you with the tutorials. What is more important to you the tutorial that is already started or those exercises?

[2016-07-09 13:44] cedlemo opened #527 "merging tutorials in the wiki"
While I was reading the tutorials in your wiki, it appears that someone want to merge 3 of them:
https://github.com/SciRuby/nmatrix/wiki/How-to-create-an-NMatrix
https://github.com/SciRuby/nmatrix/wiki/Getting-started
in
https://github.com/SciRuby/nmatrix/wiki/Tentative-NMatrix-Tutorial

### The tentative-NMatrix-Tutorial table of content is the following:

* Tentative NMatrix Tutorial
   * Introd

[2016-07-10 17:56] v0dro commented on #526
It would be helpful to have these exercises side-by-side the tutorial.

[2016-07-15 05:56] gau27 opened #528 "Unable to detect g++ version on Windows"
I was trying to install NMatrix on a friend's laptop but got the following error :-

Using Windows 8.1 with a fresh install of Ruby 2.3 and Cygwin

[code]

I'm guessing the main error is this `Exception RuntimeError' at extconf.rb:128 - unable to determine g++ version (match to get version was nil)`

Here's the output of `gcc -v`

[code]

[2016-07-16 19:05] perrypelletier opened #529 "Can't bundle: native library compilations fails"
compiling nmatrix.cpp
g++-4.8: warning: couldn't understand kern.osversion '15.3.0
In file included from /usr/local/Cellar/gcc48/4.8.3/lib/gcc/x86_64-apple-darwin14.0.0/4.8.3/include/c++/cstdint:35:0,
                 from types.h:36,
                 from nmatrix.cpp:43:

Thanks in advance for any fix/workaround.

[2016-07-17 07:27] himkt commented on #522
Hi, I got the same problem.

I also removed ```HAVE_RB_ARRAY_CONST_PTR'''  macro and succeeded to install.

Are everything OK without this macro ?

[2016-07-17 15:01] mrkn opened #531 "A rare failure of an example about type conversion"
In my pull-request #530 the following failure is occurred and it is not related to that pull-request.

https://travis-ci.org/SciRuby/nmatrix/jobs/145353918#L3456-L3465

[code]

[2016-07-18 19:22] mohawkjohn commented on #527
@v0dro What are your thoughts?

[2016-07-22 13:44] mohawkjohn commented on #525
Fixed by #530.

[2016-07-22 13:44] #525 closed

[2016-07-22 14:42] mohawkjohn opened #532 "Abstracted mkmf.rb not working correctly, can't install v0.2.2"
Caused by #530 changes to extconf.rb.

@mrkn Bad news. Trying to do a release right now, and I get the following error when installing the NMatrix gem or any of the plugins:

$ gem install nmatrix
Building native extensions.  This could take a while...
ERROR:  Error installing nmatrix:
    ERROR: Failed to build gem native extension.

    current directory: /Users/jwoods/.rbenv/versions/2.3.1/lib/

[2016-07-23 05:10] mrkn commented on #532
@mohawkjohn I'll investigate it today.  Sorry for inconvenience.

[2016-07-25 13:56] #532 closed

[2016-07-25 14:29] mohawkjohn commented on #529
@perrypelletier Try the most recent version, just pushed to Rubygems (0.2.3). It should use clang by default instead of gcc.

[2016-07-25 14:31] mohawkjohn commented on #528
You can troubleshoot this by looking in `lib/nmatrix/mkmf.rb` at the `gplusplus_version`. You'll want to add `require 'pry'; binding.pry` to that function and see how it's reading `major`, `minor`, and `patch`.

[2016-07-25 14:32] mohawkjohn commented on #527
@cedlemo Well, @v0dro hasn't replied. I'd say go for it. Thanks for offering!

[2016-07-25 14:38] mohawkjohn opened #534 "Gem PackageTask monkeys to allow for plugins"
In the Rakefile, there exists this code:
[code]

That's wrong, because it's producing the following line:
[code]
but what we really want is:

[code]

We also want the other relevant package tasks to allow for namespacing like this.

I believe you'd want to make a monkey-patched version of the following file:

https://github.com/rubygems/rubygems/blob/58e2de2ea1f1a78e7548521206863ed3ba0d3e8f/lib/ru

[2016-07-25 17:32] cedlemo commented on #527
Ok

[2016-07-25 19:26] v0dro commented on #527
Sorry missed this. Yes sounds good.

[2016-07-27 16:44] cedlemo opened #535 "Print functions for NMatrix"
I am trying to write the part https://github.com/SciRuby/nmatrix/wiki/Tentative-NMatrix-Tutorial#printing-arrays in the wiki and I am rather disapointed. here is my irb session:

[code]

I found that the `puts` output is useless (from my POV), the `pp` output is ugly( at least for 2 D matrix). Furthermore on big arrays, it shows all the elements unlike numpy which shows just a part of the array. T

[2016-07-27 17:17] mohawkjohn commented on #535
You're certainly welcome to submit a patch. You can also rephrase this as a feature request and it's possible someone else will get to it eventually.

[2016-07-27 18:59] cedlemo commented on #535
Can we agree first on how to modify the outputs ?
For example :
*   `puts` and `pp` should generate the same output.
*   the ouput should just show a part of the matrix if this matrix is too large. In numpy when there are more than 1000 elements, the representation of the matrix just shows the start and the end.
http://docs.scipy.org/doc/numpy/reference/generated/numpy.set_printoptions.html.

[2016-07-27 19:23] prasunanand commented on #535
Hi @mohawkjohn ,
Replacing the code [here](https://github.com/SciRuby/nmatrix/blob/master/lib/nmatrix/nmatrix.rb#L192) by

`else # dim 2
        q.group(0, "\n[\n ", "]") do
          self.each_row.with_index do |row,i|
            q.group(1, "  [", "]\n") do
              q.seplist(self.dim > 2 ? row.to_a[0] : row.to_a, lambda { q.text ", " }, :each_with_index) { |v,j| q.text v.inspect.rjust(long

[2016-07-28 03:13] mrkn commented on #505
@Rojj Is your problem fixed by nmatrix-0.2.3 ?

[2016-07-28 17:52] chrhansen commented on #505
@mrkn I don't know if I did something wrong or my system is special, but I followed the [installation instructions](https://github.com/SciRuby/nmatrix#installation) and on OSX El Capitan using this version e3e5d12de24b911c904d2405aa001bf9f061eea5 I still have `rake compile`-issues.

In the installation process I get this:

[code]
Then
[code]

But `bundle update` works:
[code]

After that I do `bun

[2016-07-28 19:02] Rojj commented on #505
@mrkn not yet.

This is the error I get

[code]

[2016-08-01 08:37] cedlemo commented on #535
@mohawkjohn, @prasunanand ,

The solution of @prasunanand  solve the bad ouput when we pretty_print a 2D matrix.

it remains 2 problems that I described previously:
*  should we condense, simplify the output of pp for matrix with a lot of element (>1000) ?
*  should we make `puts` generate the same output of `pp` via the definition/redefinition of `NMatrix#to_s` ?

@prasunanand could create a PR f

[2016-08-03 16:31] mohawkjohn commented on #535
I do not think `to_s` should generate the same output as `pp`. They are used in different contexts. It's also extremely risky to change `to_s` to something complicated, because if it fails your debug messages all fail too.

I'm fine with @prasunanand's change.

I believe we're still waiting to hear back from @aelphy. My guess is they're no longer interested, in which case #500 is dead.

[2016-08-04 16:10] mohawkjohn commented on #505
@rojj I think we need to see the compiler output. Can you clone from git and build manually with `bundle exec rake compile`?

[2016-08-05 21:07] mohawkjohn commented on #535
Okay, #500 just got revived. I merged it. Please re-open if this issue is not resolved by that PR.

[2016-08-05 21:07] #535 closed

[2016-08-13 10:20] lokeshh opened #536 "Initialize a matrix from columns"
Is there a method to initialize matrix from columns?

Currently I use the following for this task.

[code]

[2016-08-13 10:30] lokeshh opened #537 "Open a Gitter Room for NMatrix"
A Gitter room is very helpful for someone who wants to query on how to accomplish small tasks like "how to initialize NMatrix from columns". Its better than IRC in the case that the messages persist even after one goes offline and one can find the reply later on.

[2016-08-14 05:46] v0dro commented on #537
+1 to that!

[2016-08-14 06:30] v0dro commented on #536
I don't think there is. @mohawkjohn would that be possible given the row-major representation of numbers that nmatrix uses internally?

[2016-08-14 10:00] Rojj commented on #505
@mohawkjohn I cloned the repository in my home directory. From within the directory I run `bundle exec rake compile` and I get the following output

[code]

I could find the `mkmf.log` file

[2016-08-22 04:15] gau27 opened #538 "API Bug with Ruby 2.3"
I was having this [issue] (https://github.com/gau27/spice_rub/issues/14) when I tried testing my gem on Ruby 2.3 and greater. The gem adds the `nmatrix.h

[code]

This is the code from `extconf.rb` that loads the nmatrix header :-
[code]

[2016-08-22 15:09] mohawkjohn commented on #538
Believe this is a duplicate of #522.

[2016-08-22 15:17] mohawkjohn commented on #538
@gau27 Can you do the following, please?

[code]
And look at the output, see if it finds `rb_array_const_ptr()` (and let me know).

Then look in the `nmatrix_config.h` file that gets generated (mine is in `tmp/x86_64-darwin15/nmatrix/2.3.1`) and paste it here?

[2016-08-25 08:03] gau27 commented on #538
@mohawkjohn  I'm unable to replicate the issue asa in #522 , build works fine for just the NMatrix source. Only when I try to compile SpiceRub is this error showing up

[2016-08-25 08:15] gau27 commented on #538
Can confirm that this problem arises with NMatrix built from source as well as from Rubygems for Rubies `2.3.0, 2.3.1`.

[2016-08-25 08:17] gau27 commented on #522
@prasunanand Hey Prasun does this error still occur with NMatrix `0.24`?

[2016-08-31 12:30] arbox commented on #521
To my knowledge and from my experience with Rubocop it is now really enough to enable the checks. The community has to decide which alternatives are favorable (e.g. the Hash literal syntax, line length). At the beginning there will be a lot of false positives.

I could develop such a patch, but we'll need the way how to tune the Rubocop rules.

[2016-08-31 12:36] doolin commented on #521
I've pulled rubocop into several largish projects. What I've found works best working step by step, with the first step being `.rubocop.yml` auto-generation. This gets everything into passing. Once the config file is generated, configurations can be dealt with one at a time. I've found putting each rubocop change into their own commits works pretty well, where the commit has no executable code.

F

[2016-09-02 02:01] GeorgePhillips opened #540 "NMatrix installs but fails to be required on Alpine Linux"
I am running alpine in a docker image and running ruby code. This successfully installs all packages but fails when I try require nmatrix. I have stripped out many of the additional libraries to find a minimal test.

Here is the Dockerfile:
[code]

The test file is:
[code]

Running `docker build .` produces the following output:

[code]

Any assistance would be greatly appreciated.

[2016-09-03 13:36] wlevine commented on #540
Is this a conflict between narray and nmatrix? Can you see what happens when you don't install narray?

[2016-09-03 13:39] wlevine commented on #540
You can also trying doing `require 'nmatrix/nmatrix'` if you also need narray to be installed. See https://github.com/SciRuby/nmatrix#narray-compatibility

Let us know if this works.

[2016-09-03 13:58] wlevine commented on #534
I'm sure I'm the one who wrote this code, but the details are not fresh in my mind. I wrote a [blog post on this stuff](https://wlevine.github.io/2015/06/15/releasing-multiple-gems-with-c-extensions-from-the-same-repository.html), so at least I recorded what I was thinking at that time. I don't really understand your objection, though. In practice the code works, right? We can package multiple gem

[2016-09-04 03:18] GeorgePhillips commented on #540
Removing narray works perfectly, I can now require nmatrix. Sadly I got an error with gsl now but i'll make a different issue for that. Thanks for the help.

[2016-09-04 03:22] GeorgePhillips commented on #540
I created the new issue at https://github.com/SciRuby/rb-gsl/issues/40. In case anyone is hitting the same issues. Thanks again for your help.

[2016-09-04 03:22] #540 closed

[2016-09-04 11:15] lokeshh opened #541 "NMatrix getter and setter way slower than Matrix"
I'm using NMatrix for [competitive programming](https://en.wikipedia.org/wiki/Competitive_programming) for a while now and I have found NMatrix to be **slower** than Matrix for most of my programs. For example methods such as `[]`, `[]=` which are frequently used in my programs are slower in NMatrix.

[Here](https://gist.github.com/lokeshh/cc7b428fda100dedb005067c01b355db)'s a benchmark I ran and

[2016-09-04 14:47] v0dro commented on #541
Damn that sucks. Need some urgent performance fixes for nmatrix.

[2016-09-04 18:01] wlevine commented on #541
@lokeshh Good catch! I think this is due to a lot of [heap allocation of SLICE objects](https://github.com/SciRuby/nmatrix/blob/master/ext/nmatrix/ruby_nmatrix.c#L2638), which can be avoided. I will try to have a patch soon.

[2016-09-04 18:51] lokeshh opened #543 "NMatrix to_a too slow"
While [porting Statsample-GLM form Matrix to NMatrix](https://github.com/SciRuby/statsample-glm/pull/36) I found `to_a` is taking a lot of time than it should and in fact it is as the following benchmark shows:

[code]

Improvement in `to_a` might solve the issue in https://github.com/SciRuby/statsample-glm/pull/36

[2016-09-04 18:58] lokeshh commented on #536
@v0dro I just want something similar to [Matrix#columns](http://ruby-doc.org/stdlib-2.3.0/libdoc/matrix/rdoc/Matrix.html#method-c-columns). The representation doesn't matter.

[2016-09-04 19:29] wlevine commented on #541
For `#[]=`, I notice that we're spending a lot of time in [`nm::dense_storage::set()`](https://github.com/SciRuby/nmatrix/blob/7f3fa5d2e1e858b5c7df7136fd899da7f590c018/ext/nmatrix/storage/dense/dense.cpp#L125), allocating and freeing stuff. I'm not going to look into this any more at the moment, just noting this for future reference.

[2016-09-15 14:23] mohawkjohn commented on #543
So, looking at this, I at first thought it was interesting, but now I'm not so sure.

I believe that the Ruby Matrix class stores the data as an array. So when you call `#to_a`, you're basically just getting a copy of the internal storage.

NMatrix, however, has to make a new Array — first allocating and then copying values into it.

I guess the question is this: what are you doing that is requiri

[2016-09-15 14:24] mohawkjohn commented on #541
Thanks for looking into this, @wlevine. I concur with your explanation.

[2016-09-15 14:28] mohawkjohn commented on #536
I'd probably do something like

[code]

That's going to be the most efficient. You could easily add an `NMatrix.columns` method that does this exact thing.

Note that if you *do* attempt such a thing, the most efficient solution for `:object` will be slightly different, since `:object` matrices have to get allocated *and* initialized when you call `new` (all other matrices are allocated and *not*

[2016-10-12 21:58] mohawkjohn opened #546 "Solve Travis failures"
Something appears to have changed with Travis, or elsewhere, because a ton of builds are failing. For example, here was our status two months ago:

https://travis-ci.org/SciRuby/nmatrix/builds/150159445

And now errors are cropping up, e.g. [as seen in](https://travis-ci.org/SciRuby/nmatrix/builds/157488510) pull requests #542, #539.

[2016-10-13 15:26] prasunanand opened #547 "Feature: Create NMatrix from binary files and binary strings"
I am interested in parsing a binary file. Numpy supports reading binary file. [Link](https://github.com/numpy/numpy/blob/c90d7c94fd2077d0beca48fa89a423da2b0bb663/numpy/core/records.py#L721) . I will try to implement it.

[2016-10-13 16:07] mohawkjohn commented on #547
This feature already exists: https://github.com/SciRuby/nmatrix/blob/7f3fa5d2e1e858b5c7df7136fd899da7f590c018/ext/nmatrix/ruby_nmatrix.c#L1704

See #104 for areas needing improvement.

[2016-10-13 16:08] #547 closed

[2016-10-14 19:22] seoanezonjic opened #548 "The input record separator on method IO.each is changed when nmatrix library in required"
On ruby version ruby 2.2.2p95 (2015-04-13 revision 50295) [x86_64-linux] when nmatrix is required, the following code:

` File.open(file).each do |line|

            line.chomp!
                puts line + '-'
                fields = line.split("\t")
                puts fields.inspect
                records << fields.map(&:to_f)
        end

Generates this output:

c1      c2      c3      c4

[2016-10-14 20:49] mohawkjohn commented on #548
Honestly, I'm not sure. I don't see where it *is* changing `IO.each`, but it's been a long time since I messed with any of the IO stuff. I'd suggest starting by looking in `lib/nmatrix/io`, probably.

[2016-10-17 03:50] lokeshh opened #550 "each_row should return 1D matrix"
I am trying the following and getting unexpected result.

I want to find the max in every row.

[code]
This is not what anyone would expect. The reason why this happens is because `each_row` returns a 2D array and `max` on 2D array find the max in every column.

[2016-10-17 04:18] lokeshh opened #551 "reject_row, select_row, etc. methods"
The following methods will be very useful:

1. `reject_row`, `select_row`: When you want to filter rows given a condition.
2. `map_row`: To apply a function to every row.

Similarly for columns.

[2016-10-17 04:19] lokeshh commented on #551
Applying a function on a row when a given condition is satisfied by the row is a commonly encountered thing. How can we deal with it? @zverok

[2016-10-17 06:00] abinashmeher999 commented on #551
Are you suggesting something like subsequent operations of `filter` and `map`? If this functionality isn't already there, it would be good to adopt these names as this is what they are usually known by.

[2016-10-17 06:17] abinashmeher999 commented on #551
I was wrong. Looked around and a bit and found out that these things already exist in `Enumerable` and from enumerate.rb it looks like we would need to implement them.

[2016-10-17 08:11] zverok commented on #551
@lokeshh For me, it seems like NMatrix should be fast & minimal in the first place, "fancy" things go to daru, probably.

So, as `each_row` without block returns decent `Enumerator`, you always can do `matrix.each_row.reject`, or `matrix.each_column.select`. Unfortunately, #550 is currently standing in the way of this usage. Another possible consideration is maybe you want `matrix.map_rows` to pro

[2016-10-17 15:01] mohawkjohn commented on #550
Well, first of all, the way you're trying to find the max in every row is wrong.

I believe you want to make use of the `#max` function:
https://github.com/mohawkjohn/nmatrix/blob/master/lib/nmatrix/math.rb#L705

While I can see an argument for changing this behavior, I'm concerned about the repercussions it will have on other elements of the API.

[2016-10-17 15:04] mohawkjohn commented on #551
Have you tried using `#inject_rank` along with a select or reject?

[2016-10-17 16:26] lokeshh commented on #550
But any one who knows ruby would expect this to true. In fact we should support this way and remove all others because that's the place at least from my experience where Scientific Computation in Ruby can win over others. The way things work in other languages is like: One figures out what operation one need to do and then he/she goes find the function that fulfill that needs. I thought this was t

[2016-10-17 16:36] mohawkjohn commented on #550
Yes, you're preaching to the chorus about why to use Ruby instead of Python. But if you read through the commit history on these features, I think you'll find that we made these specific choices with a great deal of thought.

Ruby is simpler with `each`, `map`, etc. However, Ruby does not have n-dimensionally generalizable models for these functions, so we had to come up with our own.

If you'd li

[2016-10-17 16:36] mohawkjohn commented on #550
@cjfuller Do you happen to recall this discussion? I feel like you were part of it at one point. I can't find it in my email.

[2016-10-17 16:42] lokeshh commented on #550
Yeah, I thought about that too. To support other dimensions we can use `.each_axis(dim)` so that `each_axis(0)` is equivalent to `each_row` and `each_axis(1)` is equivalent to `each_col` and so on.

[2016-10-17 18:11] mohawkjohn commented on #550
That's what `each_rank` does. Please go read through enumerate.rb, as I already requested, before we continue this conversation. :)

[2016-10-19 16:20] gau27 commented on #550
We could add a pre-check in `max` to check if the NMatrix is a vector, and if it is, ignore whether it is a row or column vector and find the maximum along the long dimension.

[2016-10-19 16:27] mohawkjohn commented on #550
Let's get the nomenclature clear here:
* a 1D vector is neither a row nor a column; it only has a shape of n.
* an n-D vector is a row or a column; its shape is typically [1,...,n], [n,...,1], or [1,...,n,...,1].
* an n-D tensor is anything where two or more components of the shape array are greater than 1.

Which do you mean?

[2016-10-19 16:38] gau27 commented on #550
If the input to `#max` is a 1D NMatrix (Shape = [1]) , or a 2D NMatrix (Shape [1,n] or [n,1]) , it is implicit in the first case that the dimension is 0, and binary in the second case (0 or 1, something we can check really easily and so won't have to require the user to specify).  For all other shapes we need to specify the dimension as it's ambiguous.

[2016-10-19 16:42] gau27 commented on #550
I also notice that Matlab and most linear algebra libraries like to treat vectors as 2D arrays with one element of the shape being 1, so it would be better for `#each_row` and `#each_column` to return 2D NMatrix objects imo.

[2016-10-19 16:43] mohawkjohn commented on #550
It creates an inconsistency to treat 2D nmatrix vectors differently from n>2-D nmatrix vectors. Keep in mind that these vectors are an intermediate in many slicing operations.

[2016-10-20 14:24] isuruf opened #553 "rdoc and json are incompatible"
`rdoc` needs `json ~> 1.4` (>=1.4, < 2.0) and nmatrix requires >= 2.0.1.

[2016-10-20 14:31] mohawkjohn commented on #550
I'm going to go ahead and close this issue. If you want to offer a patch which doesn't mess up 50% of the specs and makes sense, I'll entertain the change at that point.

[2016-10-20 14:31] #550 closed

[2016-10-20 14:32] #551 closed

[2016-10-20 14:34] mohawkjohn commented on #553
I believe I just put in ~> 2.0.1 because that's the one I got working at the time. Do you want to see what happens in your PR if you change it to 1.4?

[2016-10-20 14:35] isuruf commented on #553
I just did, and it fails to install json 1.8.3. json needs to be updated to 2.0.1 to build with the latest ruby version. So, I guess this is an issue with `rdoc`

[2016-10-20 14:38] isuruf commented on #553
Problem is that with ruby 2.4.0-dev, this is checked strictly. Earlier when ruby 2.0.1 was installed it was okay even if rdoc needed < 2.0. Now it is enforced and therefore fails.

[2016-10-20 14:47] mohawkjohn commented on #553
Well, I guess rdoc isn't actually necessary for running NMatrix, just for
running rdoc. We can always make the add conditional on Ruby or json
version, if the rdoc people haven't resolved this yet.
On Thu, Oct 20, 2016 at 9:35 AM Isuru Fernando <notifications@github.com>
wrote:

[2016-10-20 14:58] mohawkjohn commented on #553
Is this the problem?

https://github.com/flori/json/issues/303

It looks like we can just drop the json requirement altogether, yes?

[2016-10-20 15:01] isuruf commented on #553
Yes, it is. Dropping the json requirement won't help, since rdoc has json as a requirement.

[2016-10-20 15:04] lokeshh commented on #550
Cool. I'll give it a try.

[2016-10-20 15:11] isuruf commented on #553
Dropping the requirement will help ruby versions < 2.4

[2016-10-20 15:18] mohawkjohn commented on #553
Looks like we need RDoc 5.

https://github.com/rdoc/rdoc/pull/412

[2016-10-25 13:29] #541 closed

[2016-10-26 22:12] #513 closed

[2016-11-04 05:58] gau27 commented on #543
Python data science libraries encourage converting numpy arrays to a list after vectorized computations and linear algebra functions are no longer required for massive data sets, because indexing and enumerating a numpy array that is very large is much slower than if it were a simple list, I'm not sure if this is Lokesh's use case but I've seen this a lot while I was doing a course on Information

[2016-11-18 18:23] saru95 commented on #199
I don't think a native - Ruby implementation of FFT and IFFT over a simple NMatrix currently exists !? It's really useful especially before applying filters.
Currently, this is how it's done :
1. Install FFTW.
2. Install Ruby bindings - fftw3.

I think this should be a feature. I'd like to know if a native FFT is being worked upon. Else I'd like to take this on ? :)

[2016-11-18 18:51] saru95 opened #555 "NMatrix#sum needs NMatrix#cumsum alias"
I don't think nmatrix has a cumulative sum functionality similar to https://docs.scipy.org/doc/numpy/reference/generated/numpy.cumsum.html
or
https://in.mathworks.com/help/matlab/ref/cumsum.html .

It's a really handy tool when dealing with image matrices. I'd like to work on this if this isn't already being worked upon ?

P.S. : I'm a newbie, can I please be introduced to the appropriate sections

[2016-11-22 16:25] mohawkjohn commented on #555
Hi @saru95, sorry for the delayed response!

This feature does exist, but it isn't called cumsum. If you look in `lib/nmatrix/math.rb`, you'll see there's a function defined there called `sum`.

It looks like we need to add an alias to it for `cumsum`, which you can do as a pull request if you like. You'd just add a line right below the function's definition:

[code]

I'm updating the issue subjec

[2016-11-23 14:51] saru95 commented on #555
I've initiated a tiny PR https://github.com/SciRuby/nmatrix/pull/556 . However, can you lead me to locations where I'd be able to edit the docs and specs regarding this.
Thanks for your help !

[2016-11-23 17:43] mohawkjohn commented on #555
@saru95 The docs are auto-generated from the comments above the function. So you'll want to add a line to those docs reflecting that `#cumsum` can be used in lieu of `#sum`.

[2016-11-24 14:02] saru95 commented on #555
@mohawkjohn Just a quick question. How would `sum` handle cumulative sum for this example :

[code]

I should be obtaining `[ 1,  3,  6, 10, 15, 21]` ?

[2016-11-25 13:55] v0dro commented on #555
AFAIK you should specify the dimension over which you want the cumsum.

[2016-11-25 13:56] v0dro commented on #555
I think its safe to assume that returning a 1D vector is OK. @mohawkjohn will know better, of course.

[2016-11-25 14:05] v0dro commented on #199
There's also an nmatrix extension called nmatrix-fftw : https://rubygems.org/gems/nmatrix-fftw

[2016-11-25 16:21] saru95 commented on #555
So, basically in the example I mentioned we can obtain cumulative sum along a row or a column. That is handled. However, `cumsum` of the entire array irrespective of its dimensions isn't handled , i.e., matrix isn't flattened before its `cumsum` is calculated. Should I work on that feature or is it not required at the moment ?

[2016-11-25 17:31] mohawkjohn commented on #555
You could definitely work on that feature.

[2016-11-26 12:37] saru95 commented on #555
Thanks ! I'll push the `alias` and its docs for the time being.

[2016-11-26 12:56] saru95 commented on #555
Added a PR #557 . Thanks for the help. :)

[2016-12-12 17:44] saru95 commented on #407
Is this being worked upon ? I'd like to write a ruby wrapper.

[2016-12-12 22:56] mohawkjohn commented on #407
I don't believe so.

[2016-12-19 12:24] sudk1896 opened #559 "Unable to install nmatrix gem on Ubuntu 14.04"
Hello,
I have been trying to install the nmatrix gem via `sudo gem install nmatrix` but have been unsuccessful. I have tried searching for fixes but to no avail.
The error message is
[code]
My g++ version - ```g++ (Ubuntu 4.8.4-2ubuntu1~14.04.3) 4.8.4```
I am doing a normal install that is mentioned in the wiki and not the one with the headers ```ATLAS``` or  ```LAPACK```.
Any help would be apprec

[2016-12-19 13:03] sudk1896 commented on #559
Apologies, I had an older version of ruby. I have fixed this issue by installing the latest stable one.
I am closing this.

[2016-12-19 13:03] #559 closed

[2016-12-24 12:20] mokpro opened #560 "NMatrix#max returns different shape/dimension compared to np#max"
## Problem

While comparing #max betweek NMatrix and Numpy, I found following differences in shape/dimension:

Numpy:
[code]

NMatrix:
[code]

## Workaround/ solution
[code]

Do let me know if this is a bug. I want to work on the fix.

Thanks!

[2016-12-25 20:26] v0dro commented on #407
Have a look at this: https://github.com/wiseio/paratext

I think its the fastest CSV reader around and having a wrapper over that would be awesome :dancing_women:

[2017-01-09 17:34] mohawkjohn commented on #560
It's not a bug, just a difference. In my experience, it's easier to have a universe that consists entirely of 2D matrices than one that has 2D matrices and 1D vectors (of ambiguous orientation).

[2017-01-09 17:34] #560 closed

[2017-01-10 07:28] yegor256 commented on #426
@mohawkjohn the problem is still there. Tried with Ruby 2.2.2 and 2.3.3, the same result. What is the solution?

[2017-01-10 16:06] mohawkjohn opened #562 "Finish pending work in pull requests"
Adding this task for GSOC students looking for something to do.

There are a lot of open pull requests that just need a few changes, but people have gotten behind or forgotten to finish. You can go revise some of these to get them merged; just open an issue to make it clear you're working on the PR.

[2017-01-11 05:17] mrkn commented on #426
I'll try to make a pull-request to treat the above case.

[2017-01-11 12:45] yegor256 commented on #426
@mrkn thanks, it's really a blocker!

[2017-01-14 16:29] preetpalS commented on #528
@gau27 Try a later version of this library (in particular, version 0.2.3). I dealt with this [issue](https://github.com/SciRuby/nmatrix/issues/498) before on Windows and submitted a fix that was merged into the master branch (but this occurred after the particular release of the gem that you are trying to use).  I did not specifically test the fix on Cygwin, but there's a good chance it'll work si

[2017-01-21 11:29] Coolnesss opened #563 "Trouble installing on Amazon EC2"
I'm trying to install `nmatrix` as part of my Rails build, using Elastic Beanstalk. When i run `eb deploy`, which deploys the code and runs `bundle install`, I get

[code]

Also when i SSH to the server and run `gem install nmatrix -v 0.2.3` it hangs forever. Is it possible that my EC2 instance doesn't have enough memory to... compile nmatrix libraries? Any ideas? My instance should have 512MB of

[2017-01-22 07:42] lokeshh commented on #563
Are you sure it hangs forever when you do 'gem install nmatrix -v 2.3'? It
does take quite a time. Leave it for like half an hour and see if that
works.

[2017-01-22 18:48] saru95 commented on #555
Added a PR https://github.com/SciRuby/nmatrix/pull/564 . Sorry for the long absence. Stuck in a hectic internship.

[2017-01-23 13:53] Coolnesss commented on #563
Hey @lokeshh, thanks for your reply. Indeed, I left it for quite some time now and I managed to get the following error

[code]

Does this mean i need to up the memory on my instance?

[2017-01-23 14:26] lokeshh commented on #563
Does your hard disk have enough space left?

[2017-01-23 16:14] Coolnesss commented on #563
`df -h` has the following output

[code]

Should this suffice for the installation? I think virtual memory refers to swap and RAM combined, so maybe i need to add more swap?

[2017-01-23 16:45] Coolnesss commented on #563
Thanks, solved by adding more swap to my instance.

[2017-01-23 16:45] #563 closed

[2017-01-25 09:55] saru95 commented on #436
Any progress on this issue? As far as I can derive from the issue thread above, the problem is caused by matrices of sizes < 3. Can't we just hard-convert the elements to `dtype :float64` for n < 3? Or deprecate `inverse_exact` altogether?

[2017-01-28 05:13] Shekharrajak commented on #426
I am getting same problem during installation. Any one found solution for this :

[code]

[2017-01-30 18:27] conorwild opened #565 "norm2 alias is incorrect"
Hey all, I'm really enjoying NMatrix - great job to everyone. I ran across a small bug recently when trying to use the norm2 method. It says, "NoMethodErro: undefined method 'nrm2' for #NMatrix..."

I think the alias on line 1139 of of nmatrix/math.rb is backwards. Should it read, "alias :nrm2 :norm2"?

Keep up the great work!

[2017-01-30 18:35] conorwild commented on #565
My mistake, this method is only implemented for vectors, not matrices.

[2017-01-30 18:35] #565 closed

[2017-02-02 19:12] mohawkjohn opened #566 "NMatrix#rand needs to accept an existing random number generator"
Right now it appears the user is unable to give this method an existing random number generator, which is bad. We want to be able to control the seed, for example.

https://github.com/SciRuby/nmatrix/blob/7f3fa5d2e1e858b5c7df7136fd899da7f590c018/lib/nmatrix/shortcuts.rb#L536

[2017-02-03 05:17] shardulparab97 opened #567 "Facing Installation error"
When I try to install nmatrix on ubuntu 14.04, this is the error which I am receiving .
Could someone help me out.

gem install nmatrix
Building native extensions.  This could take a while...
/usr/local/lib/site_ruby/2.1.0/rubygems/ext/builder.rb:76: warning: Insecure world writable dir /usr/local/bin in PATH, mode 040777
ERROR:  Error installing nmatrix:
	ERROR: Failed to build gem native extensi

[2017-02-03 05:42] shardulparab97 commented on #566
@mohawkjohn I would like to help.
Could you please explain this problem further.
Could you please explain what do you mean by giving the method an existing random number generator
and Do we want to pass the seed as an optional the parameter along with the scale?

[2017-02-03 18:17] npochhi opened #568 "'bundle exec rake compile' command gives error"
While compiling the source code using `bundle exec rake compile`, following error appears. I'm using Ubuntu 16.04.
'bundler: failed to load command: rake (/usr/local/bin/rake)
LoadError: cannot load such file -- /usr/share/rubygems-integration/all/gems/rake-10.5.0/bin/rake
  /usr/local/bin/rake:22:in `load'
  /usr/local/bin/rake:22:in `<top (required)>'

I compiled the code by downgrading the rake

[2017-02-03 18:56] mohawkjohn commented on #567
Can you please tell me some more about your Ruby installation? e.g., are you using rbenv/ruby-build, or did you install via apt, or what?

Can you please also do a `gem install nmatrix --verbose` and give the output from that?

[2017-02-03 18:58] mohawkjohn commented on #568
I need more information about the nature of your Ruby installation. What version are you using? What do you mean by "downgrading the rake version?" If you do a `bundle install`, that should install the appropriate version of rake for you, without getting rid of the old one.

[2017-02-03 19:20] mohawkjohn commented on #566
Sure.

Random number generators aren't really random. They're pseudo-random. You have to give them a seed. Some provide an option where they come up with their own seed, but that isn't cryptographically secure.

If you're running Monte Carlos, you may want to get the exact same combination of random numbers every time you run it. You'd do that by providing the same seed every time.

Go look at the

[2017-02-03 19:24] mohawkjohn commented on #426
@mrkn You seem to have an idea as to the cause of this — care to enlighten us? :P

[2017-02-03 19:29] mohawkjohn commented on #436
@v0dro We keep it because the computation of exact inverse for 3x3 matrices (e.g., position, velocity) is a common one, and you want it to be exact. `#inverse` is an approximation.

@saru95 This comment gives the fix: https://github.com/SciRuby/nmatrix/issues/436#issuecomment-175048806

[2017-02-04 05:09] npochhi commented on #568
The rake version in my system was '12.0.0', I had to downgrade it to '10.5.0'. The 'bundle install' didn't work in my case. The above-mentioned error was occurring. Actually, I'm a newbie and if others aren't getting the same error, I may have misunderstood some of the building instructions.

[2017-02-13 15:05] #522 closed

[2017-02-24 21:39] zenkalia commented on #567
just had this issue so i'll put my info in:

osx el capitan, ruby 2.3.3 via rvm

[code]

[2017-02-26 20:13] aki94 commented on #562
is anyone working on it. can i work on this?

[2017-03-01 07:39] aki94 commented on #489
hey can i work on this i am a beginner  and looking to apply for gsoc please help

[2017-03-01 10:10] shailesh210 commented on #566
Hi @mohawkjohn ,
If the issue is still open, I would like to help.
I am not getting exactly what is required. The "Random.new" function is not provided with any seed, hence it uses different seed value every time. So you want that it should have the same seed value every time?

[2017-03-01 10:50] shailesh210 commented on #477
Hi,
Is this issue still open? If yes, I would like to help.

[2017-03-01 11:13] shailesh210 commented on #476
Hi,
Can't this be resolved by just putting a singularity check at the top of the function? And if singular just raise an exception and exit.

[2017-03-01 11:16] Arafatk commented on #476
@shailesh210 No, there are precision issues with using doubles in inversion and other types of matrix operations.

I recommend that you search through similar issues and read a bit about ill conditioned matrices.

[2017-03-01 13:19] shailesh210 commented on #476
Hi @Arafatk
Ok I read about the issues. But then what can be done in case of ill-conditioned matrix? Raise an exception or work with them?

[2017-03-02 06:19] marcandre opened #570 "Issues with dependency packable"
For some reason, the "Issues" tab of the [packable](https://github.com/SciRuby/packable) gem [is not enabled](https://github.com/marcandre/packable/issues/8#issuecomment-283493893). Could you please enable it?
Thanks.

[2017-03-02 17:52] mohawkjohn commented on #570
Oops! Done, thanks.

[2017-03-02 17:52] #570 closed

[2017-03-02 17:55] mohawkjohn commented on #566
That's incorrect. `Random.new` accepts a seed, but by default creates its own. See source:

https://ruby-doc.org/core-2.2.0/Random.html#method-c-new

[2017-03-02 18:08] mohawkjohn commented on #568
@npochhi Sorry for the delay. I'm not really sure why that would be happening. The gemspec requires rake to be version 10.3, so it shouldn't even really let you do it with 10.5.

Can you give me steps to reproduce?

[2017-03-02 18:09] mohawkjohn commented on #567
What version of Rake are you all using, out of curiosity?

[2017-03-02 18:11] mohawkjohn commented on #537
https://gitter.im/SciRuby/nmatrix

[2017-03-02 18:11] #537 closed

[2017-03-02 18:43] shailesh210 commented on #566
Hi @mohawkjohn
Yes I read the documentation. In the code Random.new is not provided with any seed value so it creates a random seed of its own.
So you want that it should be provided with the same seed every time?

[2017-03-02 21:01] shailesh210 commented on #485
Hi @v0dro
I would like to help with this issue.
Please tell me exactly how to reproduce the error.

[2017-03-03 23:56] mohawkjohn commented on #566
...no. I think you need to re-read my comment. :)

I'll try to clarify.

You can call `Random.new` in two ways:

[code]

If you call it the second way, it's equivalent to doing `Random.new(Random.new_seed)`, where `Random.new_seed` generates a seed for you.

Right now, NMatrix only supports option 2. I want it to support both options.

[2017-03-03 23:57] mohawkjohn commented on #562
Pick a specific pull request, @aki94, and ask on that one. :)

[2017-03-03 23:59] mohawkjohn commented on #476
@shailesh210 What do we do elsewhere in the code?

[2017-03-04 00:00] mohawkjohn commented on #477
Yes, still open. But @shailesh210, please pick one issue at a time. We're thrilled to have you contribute on multiple issues, but there's no need to hoard them. :)

[2017-03-04 07:47] shailesh210 commented on #566
Hi @mohawkjohn
Sorry for the confusion. I get your point now :)
I would like to take up the task.

[2017-03-04 18:36] shailesh210 commented on #476
Hi @mohawkjohn
Sir that is what I am asking too :)
How to deal with them? What do you suggest.

[2017-03-04 20:36] mohawkjohn commented on #476
It's not a rhetorical question. Part of participating in an open source project is doing research and studying — especially in science. Questions you need to answer to address this problem:

1. How does NMatrix handle similar situations elsewhere in the code? (Separately, is that approach the correct one?)
2. How do other similar libraries handle this type of situation?

You don't have to call me

[2017-03-04 20:41] mohawkjohn commented on #566
This looks like it should work. How do you plan to write the spec?

[2017-03-04 21:07] mohawkjohn opened #578 "Bring #347 up to date and attempt to merge with current codebase"
I attempted to merge in #347, but it looks like it's fallen way behind the current codebase. It needs some attention from an enthusiastic GSOC student.

[2017-03-05 10:42] shailesh210 commented on #476
Hi @mohawkjohn
Sorry for the confusion. I thought I was not clear that's why I asked it again.
I will read about ill-contioned problems and discuss with you when I get some solution. :)

[2017-03-06 00:47] light94 commented on #578
Hi @mohawkjohn , I would like to work on this.
I have made an initial PR at https://github.com/SciRuby/nmatrix/pull/580 . Please have a look.

[2017-03-07 14:38] shailesh210 commented on #476
Hi @mohawkjohn
Since I don't have much experience with this, kindly suggest me some sources from where I can learn. Also, what about Nmatrix behaviour with these matrices?

[2017-03-08 09:54] shailesh210 commented on #476
@Arafatk

[2017-03-09 23:27] mohawkjohn commented on #476
@shailesh210 Matlab and Numpy are both good places to start.

[2017-03-10 02:27] Arafatk commented on #476
@shailesh210 Yes, Numpy and Matlab are pretty cool, and if you get confused as towhat might be the best solution to a problem you can look up in the [numpy documentation ](https://docs.scipy.org/doc/numpy/reference/generated/numpy.linalg.inv.html) and even the implementation links are provided in the documentation.
Ultimately there is no "perfect" way to do things and you would have to make a few

[2017-03-10 09:18] NakulVaidya commented on #566
It looks like this issue should be closed. If not what exactly is missing in the above pull request?

[2017-03-10 12:06] NakulVaidya commented on #477
hello, as this issue is still open I would like to work on it.

[2017-03-10 12:19] NakulVaidya commented on #477
I tried to compile nmatrix/ext/nmatrix/nmatrix.cpp
I got this error:
nmatrix.cpp:34:18: fatal error: ruby.h: No such file or directory
 #include <ruby.h>
                  ^
compilation terminated.

I tried running these commands :
$ sudo apt-get install ruby-dev
$ sudo apt-get install ruby2.3-dev
$ gem install rerun
gcc is already installed

I am working on ubuntu 16.10
output for: ruby -v
ruby 2

[2017-03-10 15:34] mohawkjohn commented on #566
@NakulVaidya It's missing a spec. You're welcome to contribute one.

[2017-03-10 15:36] mohawkjohn commented on #477
@NakulVaidya Please open a separate issue, or ask on the Google Group.

(For one thing, I'd strongly suggest using rbenv and ruby-build, or at least rvm, instead of installing with apt. It's definitely not finding your dev headers, but I don't really know why. I'll delete these last two messages once you've opened a new issue or asked elsewhere.)

[2017-03-10 15:37] mohawkjohn commented on #477
@NakulVaidya Yes, issue is still open.

[2017-03-11 18:36] #566 closed

[2017-03-12 01:05] NakulVaidya commented on #420
I got the bug. I have started working on it.

[2017-03-12 17:06] #463 closed

[2017-03-12 20:28] astudnev commented on #426
Have the same issue:

bundle exec rake compile
mkdir -p tmp/x86_64-darwin16/nmatrix/2.3.3
cd tmp/x86_64-darwin16/nmatrix/2.3.3
/Users/studnev/.rvm/rubies/ruby-2.3.3/bin/ruby -I. ../../../../ext/nmatrix/extconf.rb
checking for apparent GNU g++ binary with C++0x/C++11 support... 4.9
using C++ standard... c++11
g++ reports version... gcc49
checking for rb_array_const_ptr() in ruby.h... yes
checking f

[2017-03-12 21:05] astudnev opened #584 "Error installing on MacOS: unrecognized command line option '-Wdivision-by-zero' on Mac"
Sorry, but the issue  [426](https://github.com/SciRuby/nmatrix/issues/426) still exists.
I fail to install nmatrix on MacOS

`gem install nmatrix`

fails with error:

`compiling nmatrix.cpp
g++-4.9: error: unrecognized command line option '-Wdivision-by-zero'
g++-4.9: error: unrecognized command line option '-Wextra-tokens'
make: *** [nmatrix.o] Error 1
`

configuration:

`ruby -v -rrbconfig -e 'p

[2017-03-13 18:17] mohawkjohn commented on #426
@astudnev Try with rbenv instead of rvm. There's a post about this in the Google Group.

[2017-03-13 20:26] rssdev10 commented on #584
Look at the temporary decision. I'm using clang instead of gcc@4.9

[code]

[2017-03-13 21:15] astudnev commented on #584
@rssdev10 , it did not help, it finds the same g++ ( 4.9 )

[2017-03-13 22:21] rssdev10 commented on #584
yes, you are right. Actually I removed gcc 4.9. Right now I have gcc without version which is identified as

[code]

You can remove a code before my patch if need to save gcc 4.9. In any case this method must be rewritten.

[2017-03-14 07:35] shailesh210 commented on #476
Hi @mohawkjohn and  @Arafatk
I was going through the issue but I am not able to reproduce the error. Yes I am getting the two outputs different but not the kind stated above.

[code]

[code]

Due to the slight different implementation of `clapack_getrf()` and `lapacke_getrf()` the outputs vary but they seem legible as both are using LU decomposition.

[2017-03-14 18:25] shailesh210 commented on #477
Hi @NakulVaidya
Are you working on this issue?

[2017-03-21 18:11] mohawkjohn commented on #476
Okay. Having given it some more thought, I'm going to go back on my earlier comment. Inversion of a singular matrix should probably raise an exception. The function should not be giving different outputs with different libraries; it should refuse to give output.

[2017-03-22 11:12] alyssais opened #587 "NMatrix.load_matlab_file raises exception"
<details>
<summary>
<p>From the root of the repository:</p>
<p><kbd>ruby -Ilib -r nmatrix -e "NMatrix.load_matlab_file(ARGV[0])" /path/to/file.mat</kbd></p>
</summary>
<pre><samp>/Users/alyssa/.gem/ruby/2.4.0/gems/backports-3.6.8/lib/backports/1.8.7/fixnum/div.rb:1: warning: constant ::Fixnum is deprecated
/Users/alyssa/.gem/ruby/2.4.0/gems/backports-3.6.8/lib/backports/1.8.7/fixnum/fdiv.rb:1: war

[2017-03-22 11:58] alyssais commented on #567
I'm getting this error on Travis CI, with the default configuration:

[code]

[2017-03-22 11:59] alyssais commented on #567
Upgrading to Rake 12.0.0 didn't help.

[2017-03-22 12:15] alyssais commented on #567
Works on Ruby 2.0.0, though.

[2017-03-22 15:47] mohawkjohn commented on #587
Hi @alyssais, would you mind submitting as a PR anyway, please? I'll open an issue for creating a spec for Matlab IO.

[2017-03-22 15:48] mohawkjohn opened #588 "Need spec for NMatrix::IO::Matlab"
We aren't currently testing the Matlab file IO features in NMatrix (see example in #587). It'd be really great if someone could write a spec for those features.

[2017-03-27 16:11] mohawkjohn commented on #470
I believe norms were merged as part of #586, so this should be doable.

[2017-03-29 15:34] achung-miovision commented on #426
@Shekharrajak @astudnev Were you able to resolve the issue? I'm having the same installation errors as you on ruby 2.4.1.

[code]

[2017-03-29 15:55] Shekharrajak commented on #426
@achung-miovision , I uninstalled the `rvm` and now using `rbenv`. So I followed all the steps again  and it is working fine now.

[2017-03-30 05:38] astudnev commented on #426
@achung-miovision, i switched to python for this project :)

[2017-03-31 01:26] mrkn commented on #426
@achung-miovision Why do you use gcc/g++ instead of clang/clang++ on OSX?

[2017-03-31 02:22] mrkn commented on #584
Use clang and clang++ on OSX.

[2017-03-31 10:24] v0dro opened #589 "Broadcasting support for nmatrix"
Performing arithmetic operations by broadcasting elements in C level instead of looping over them in Ruby would be a nice way to speed up things in nmatrix. Take for example the [numpy way of doing this](https://docs.scipy.org/doc/numpy/user/basics.broadcasting.html).

Numo::NArray also supports broadcasting.

[2017-03-31 18:51] achung-miovision commented on #426
@mrkn That seemed to be the default on my system when I installed ruby a while ago. I was able to get my issue resolved by updating rvm, then reinstalling ruby with rvm install 2.4.1 --with-cc=clang --with-cxx=clang++`.

Thanks for the help.

[2017-03-31 18:58] mohawkjohn commented on #589
I tend to feel like broadcasting creates confusing bugs in code. For example, if I add x and x-transpose together, I expect an error — but actually I get an nxn matrix.

Maybe there's a way to have it be a feature that is turned on and off according to user preference?

[2017-04-01 10:11] v0dro commented on #589
Yes maybe we can have it with support to turn it off and on. I think most of the problems with nmatrix speed involving things like multiplication and math operations can be overcome if we use broadcasting.

Having a switch would be helpful. If this is done, nmatrix can be internally used in daru for a massive increase in efficiency. I'm a bit skeptical about using Numo::NArray in daru because that

[2017-04-20 12:03] sivagollapalli commented on #426
@achung-miovision thanks it worked.

[2017-05-07 04:52] xuanminhacsi opened #591 "Update extconf.rb so Mac OS X always uses clang (if correct version is available) and stops looking for GCC"
I'm having this issue while trying to install a gem. Anybody could help me? Appreciate it a lot!

[code]

This is my ruby version : ruby 2.3.0p0 (2015-12-25 revision 53290) [x86_64-darwin16]

[2017-05-07 07:57] v0dro commented on #591
If you're on Mac you should clang not gcc. https://github.com/SciRuby/nmatrix/issues/584

[2017-05-08 15:06] mohawkjohn commented on #591
@v0dro We should probably fix this. The weird stuff in extconf is a workaround for when clang wasn't able to compile NMatrix and we *had* to use GCC. Now the reverse is true, and GCC won't work, but clang does.

[2017-05-08 15:13] #587 closed

[2017-05-08 17:15] mohawkjohn opened #593 "Tests are failing for NMatrix-JRuby"
Does not appear to be related to the commit in question:

https://travis-ci.org/SciRuby/nmatrix/builds/229999418?utm_source=email&utm_medium=notification

[2017-05-08 19:38] moloh commented on #548
@mohawkjohn I was hit by this and investigated a little. It looks like this is result of using `Packable` gem (https://github.com/marcandre/packable/blob/master/lib/packable/extensions/io.rb). That gem is doing some extensive monkey patching and overwrites number of core methods. Is it possible to strip that gem?

[2017-05-08 20:21] mohawkjohn commented on #548
Unfortunately, packable is pretty necessary for the MATLAB-format matrix readers and writers. If someone wanted to rewrite those, it'd be fine to shed packable.

[2017-05-09 16:16] mohawkjohn commented on #584
Duplicates #591; closing.

[2017-05-09 16:16] #584 closed

[2017-05-09 16:17] #568 closed

[2017-05-09 16:17] mohawkjohn commented on #529
Duplicate of #591; closing/

[2017-05-09 16:17] #529 closed

[2017-05-10 15:25] mohawkjohn commented on #470
I have written some C++ code for computing `rcond`:

https://github.com/SciRuby/nmatrix/pull/594#issuecomment-300217643

This probably needs to be implemented in Java as well, for nmatrix-jruby (see #594).

[2017-05-11 10:28] v0dro commented on #591
Yes you have a point. I don't have access to a Mac though so I can't work on this as of now.

I think it should be a small change in `extconf` which will first check the environment and set the variables in `CONFIG` appropriately.

See this: http://stackoverflow.com/questions/4554837/how-to-specify-compiler-for-gem-install

Or maybe use use `rake-compiler`.

[2017-06-01 06:30] v0dro opened #595 "Update to new TypedData system"
The latest Ruby updates the traditional `Data_*` macros into `TypeData_*` macros for creating Ruby objects from C extensions. This allows for more sophisticated typedata management at the C level. The old system will be deprecated soon and we should upgrade.

Here's the docs: https://github.com/ruby/ruby/blob/trunk/doc/extension.rdoc#encapsulate-c-data-into-a-ruby-object

[2017-06-01 15:04] mohawkjohn commented on #595
Presumably this is not backwards compatible, right? So we should probably do some kind of `#ifdef`?

[2017-06-02 06:31] v0dro commented on #595
Yep.

[2017-06-07 05:01] v0dro commented on #518
@mohawkjohn I just learned from Koichi while writing Rubex that maintaining ref count is not necessary in Ruby since it uses a conservative mark and sweep algorithm. They have done this on purpose so that writing C extensions in easier. Maybe we should relook the nmatrix architecture and bring it upto speed with the actual Ruby implementation.

[2017-06-15 15:19] mohawkjohn commented on #518
@v0dro We count references because of issues with writing Ruby in C++ and exception unwinding.

[2017-07-03 17:43] v0dro commented on #518
Oh. So you mean that if it were an entirely C library that would not be needed? Also, what do you mean by exception unwinding? I don't seem to recall C++ exceptions being used anywhere in nmatrix.

[2017-07-03 17:51] v0dro commented on #548
Close this?

[2017-07-03 18:24] mohawkjohn commented on #518
If you use `rb_raise`, it skips right out of the function and doesn't unwind. As such, destructors are not called for objects that need to be freed.

[2017-07-03 18:31] mohawkjohn commented on #548
@v0dro I think the idea is that we probably need to come up with a solution in NMatrix that doesn't require packable. Or perhaps that we should make Matlab IO into a plugin.

[2017-07-06 15:46] v0dro commented on #518
How about using `rb_ensure` for the memory freeing? The `rcsv` gem uses this: https://github.com/fiksu/rcsv/blob/master/ext/rcsv/rcsv.c#L524

Maybe enforce some library-wide convention that memory allocations must be made inside such ensure blocks?

[2017-07-06 15:48] v0dro commented on #548
I like the plugin idea. Its not a core functionality anyway.

[2017-07-06 16:27] mohawkjohn opened #596 "Convert Matlab IO into plugin"
The Matlab IO and other IO making use of packable needs to be made into a plugin to prevent the problem identified in #548.

[2017-07-09 08:10] martinvahi opened #597 "nmatrix gem Fails to Install/Build"
As the following excerpt shows, iruby installation is successful, id est
generally the system is set up properly.

    ts2@linux-0fiz:~/tmp$ gem install iruby
    Fetching: data_uri-0.1.0.gem (100%)
    Successfully installed data_uri-0.1.0
    Fetching: mimemagic-0.3.2.gem (100%)
    Successfully installed mimemagic-0.3.2
    Fetching: bond-0.5.1.gem (100%)
    Building native extensions.  This c

[2017-07-10 14:40] mohawkjohn commented on #597
What happens if you attempt to install the current version from git?

[2017-07-17 16:22] mohawkjohn commented on #597
Closing due to no reply.

[2017-07-17 16:22] #597 closed

[2017-08-11 11:59] lokeshh opened #599 "Is Ruby 1.9.3 supported?"
The README says 1.9.3 is supported but `.travis.yml` doesn't include it.

[2017-08-11 14:59] mohawkjohn commented on #599
Looks like we removed support for 1.9.3 in #552 because it had reached end-of-life:

https://www.ruby-lang.org/en/news/2014/01/10/ruby-1-9-3-will-end-on-2015/

It's also possible Travis no longer supports 1.9.3. The commit message is a little vague.

Do you want to give it a shot and let me know if you're able to build? Thanks for catching this.

[2017-08-11 16:29] lokeshh commented on #599
I tried and the build failed in 1.9.3

[2017-08-11 16:55] #599 closed

[2017-08-11 17:16] v0dro commented on #599
We don't need to support 1.9.3

[2017-08-28 07:12] v0dro commented on #593
Can we have a new release if this is done?

[2017-10-18 11:25] remcopeereboom opened #600 "Windows installation instructions"
The documentation does not have any installation instructions for windows. It would be nice if there were a guide that walked users through getting `matrix-lapacke` and `matrix-atlas` to run. The GNU toolchain on Windows is something of a nightmare if you are not used to Linux commands and the installation Windows instructions on the Lapack and OpenBLAS websites are difficult and horribly outdated

[2017-10-20 15:26] mohawkjohn commented on #600
@gau27 @preetpalS @thrabbit Are any of you all able to help with this?

[2017-10-24 05:01] #578 closed

[2017-11-11 22:57] mikecmpbll commented on #591
how exactly? don't assume i have any idea what i'm doing.

if someone's at least willing to help me understand the problem, i'd be happy to try and work out a solution.

[2017-11-11 23:34] mikecmpbll commented on #591
worked around by temporarily symlinking to clang.

[code]

[2017-11-23 02:43] preetpalS commented on #600
@remcopeereboom How are you using Ruby (CRuby) on Windows. If you're not using [oneclick/rubyinstaller2](https://github.com/oneclick/rubyinstaller2), you should look into it. That packaged ruby installer installs ruby alongside [msys2](https://github.com/msys2/msys2) (which is reliable; the official Git build on Windows uses it I believe) which includes the Arch Linux package manager *pacman* whic

[2017-11-23 03:02] remcopeereboom commented on #600
@preetpalS Thanks for the reply. I'm using MRI with the oneclick installer. At the time my first issue was finding out what `pacman` was, because that's not obvious to someone used to Windows. I did manage to get there in the end, but I assumed the error I got was because I somehow failed to install lapacke or failed to install it in the right place since ruby can't seem to find it when installing

[2017-11-23 03:19] preetpalS commented on #600
But are using [rubyinstaller2](https://github.com/oneclick/rubyinstaller2)? It should have setup the path for you, so you shouldn't be running into that particular issue. When I attempted the installation, I ran into a different set of errors (linking errors).

[2017-11-23 06:07] preetpalS commented on #600
@remcopeereboom Basically to simplify things, during the installation of the gem on your computer, your Ruby installation's compiler toolchain cannot find *lapack*. If you installed Ruby with *rubyinstaller2*, and installed *lapack* with *pacman*, you should not have run into that particular issue. Although, even if you didn't run into that issue, chances are (based on what happened when I tried t

[2017-11-23 19:48] remcopeereboom commented on #600
@preetpalS

Yes, as I mentioned, I _am_ using rubyinstaller2, and I _did_ install lapack with pacman from the msys2 installed by the ruby installer.

[2017-11-26 00:45] preetpalS commented on #528
This issue should be closed IMO since this issue is fixed in recent releases of nmatrix.

[2017-11-26 02:57] preetpalS commented on #600
I looked more into the issue. The first issue that should be resolved in the gem installation process (on my computer where Lapack is found by the toolchain) on Windows is why the following error happens:

[code]

From my understanding `rubyval_to_cval` is a function defined here:

https://github.com/SciRuby/nmatrix/blob/7f3fa5d2e1e858b5c7df7136fd899da7f590c018/ext/nmatrix/data/data.cpp#L198

This

[2017-11-27 08:13] larskanis commented on #600
The current mechanism for loading nmatrix plugins works, because some symbols (like `rubyval_to_cval`)  are kept unresolved while linking and the `nmatrix.so` file is [always loaded before](https://github.com/SciRuby/nmatrix/blob/7f3fa5d2e1e858b5c7df7136fd899da7f590c018/lib/nmatrix/lapacke.rb#L30) `nmatrix_lapack.so` and the dynamic loader of Linux and OSX is smart enough to link the unresolved sy

[2017-12-06 22:10] lonny commented on #591
I am having this issue, too. Or one that is closely related. The error is:

mkmf.rb:50:in `gplusplus_version': unable to determine g++ version (match to get version was nil) (RuntimeError)
extconf failed, exit code 1

This occurred both before and after I followed the instructions for OS X here: https://github.com/SciRuby/nmatrix/wiki/Installation

This is a big problem.

[2017-12-14 19:23] mohawkjohn commented on #591
Okay. So, it now appears that in High Sierra, the default *is* clang. You can check this by doing
[code]

If that's not the case for you, please let me know.

@lonny, I believe your issue is now resolved in #601.

[2017-12-14 19:35] mohawkjohn opened #602 "Travis-CI failure in #block_diagonal due to missing Array#sum"
I'm not sure what caused this error or why it just started appearing. It only seems to happen in MRI, not JRuby.

[2017-12-14 20:53] #602 closed

[2017-12-14 22:33] lonny commented on #591
@mohawkjohn  Only if I can successfully upgrade to High Sierra. So far, it has been no go.

[2017-12-14 22:36] mohawkjohn commented on #591
@lonny You should still be able to compile with clang/clang++. What happens if you open irb and do the thing I suggested above?

[2017-12-14 22:44] lonny commented on #591
`2.3.0 :002 > puts CONFIG['CC']`
`gcc`
` => nil`

[2017-12-14 22:45] lonny commented on #591
I am going to continue my efforts to upgrade to High Sierra. But I have to do that on my "off time", as it were.

[2017-12-14 23:00] mohawkjohn commented on #591
What about if you do `CC=clang CXX=clang++ bundle exec rake compile`?

[2017-12-14 23:26] lonny commented on #591
[code]

[2017-12-15 21:59] lonny commented on #591
Just as a followup:

I checked the config for my ruby as in the description here:

`https://stackoverflow.com/questions/4554837/how-to-specify-compiler-for-gem-install`

and it is already set to use clang and clang++. When I type "which gcc" I get usr/bin/gcc/. When I type
`gcc --version`
it definitely says clang. Both in Yosemite (10.10.5) and El Capitan (10.11).

[2017-12-20 17:14] mohawkjohn opened #605 "Proposed spec change: Integer should be treated as :object dtype rather than :int64"
This issue follows from https://github.com/SciRuby/nmatrix/pull/604#discussion_r158081343.

In the past, `guess_dtype()` would take a `Fixnum` and auto-assign a dtype of `:int64`. Now that Fixnum and Bignum are deprecated, an `Integer` may contain values that won't fit in `:int64`. Before we can release a new version, we need to adjust `Integer` to default to `:object` instead.

The other option (

[2017-12-20 17:16] mohawkjohn opened #606 "Fix travis-ci rdoc problem on mac osx builds"
There seems to be some kind of weird conflict on Travis. It won't let the correct rdoc version's executable overwrite the system rdoc.

[2017-12-20 17:21] mohawkjohn commented on #538
Bumping this since there's a proposed solution here, and it's relatively easy to test.

[2017-12-20 17:22] #528 closed

[2017-12-20 17:23] mohawkjohn commented on #536
It might also be efficient to initialize the columns as rows and then just transpose. I'm going to go ahead and close this.

[2017-12-20 17:23] #536 closed

[2017-12-20 17:23] #562 closed

[2017-12-20 17:24] mohawkjohn commented on #567
Suspect to be same issue as #591.

[2017-12-20 17:24] #567 closed

[2017-12-20 17:25] mohawkjohn commented on #534
Bumping this issue up because it's pretty easy to do and would make life hella easier for maintenance tasks.

[2017-12-20 17:26] mohawkjohn commented on #593
I believe this is resolved.

[2017-12-20 17:26] #593 closed

[2017-12-20 17:27] mohawkjohn commented on #555
Fixed by #564.

[2017-12-20 17:27] #555 closed

[2017-12-20 17:27] mohawkjohn commented on #553
Possibly related to #606?

[2017-12-20 17:28] #543 closed

[2017-12-20 17:29] mohawkjohn commented on #531
I'm closing this because it doesn't appear to be an issue anymore (?).

[2017-12-20 17:29] #531 closed

[2017-12-20 17:30] #505 closed

[2017-12-20 17:31] mohawkjohn commented on #489
Deprecated by the switch to the plugin architecture, I believe.

[2017-12-20 17:31] #489 closed

[2017-12-20 17:32] mohawkjohn commented on #487
Not sure if this is still an issue; closing it.

[2017-12-20 17:32] #487 closed

[2017-12-20 17:33] mohawkjohn commented on #480
Not sure how this issue slipped under the radar. It was a whole GSOC project. :)

[2017-12-20 17:33] #480 closed

[2017-12-20 17:34] #472 closed

[2017-12-20 17:35] #188 closed

[2017-12-20 17:36] #2 closed

[2017-12-20 17:36] #7 closed

[2017-12-20 17:36] #47 closed

[2017-12-20 17:36] #69 closed

[2017-12-20 17:36] #137 closed

[2017-12-20 17:36] #154 closed

[2017-12-20 17:37] mohawkjohn commented on #277
Unclear if still a problem.

[2017-12-20 17:37] #277 closed

[2017-12-20 17:37] #219 closed

[2017-12-20 17:38] mohawkjohn commented on #313
Overcome by events.

[2017-12-20 17:38] #313 closed

[2017-12-20 17:39] #189 closed

[2017-12-20 17:42] #54 closed

[2017-12-20 17:43] mohawkjohn commented on #344
The more I think about this, the more I think it creates a lot of work for not very much gain. Feel free to argue with me. :)

[2017-12-20 17:43] #344 closed

[2017-12-20 17:44] mohawkjohn commented on #100
See also #344.

[2017-12-20 17:45] mohawkjohn commented on #518
Is this still a problem?

[2017-12-20 17:47] #355 closed

[2017-12-20 17:47] #452 closed

[2017-12-20 17:47] mohawkjohn commented on #452
Closed because I'm not sure it still applies. Someone can open a new issue if they like.

[2017-12-20 17:49] mohawkjohn commented on #363
Not seeing very much demand for this, so closing for now.

[2017-12-20 17:49] #363 closed

[2017-12-21 09:18] bver commented on #487
noprob.
nmatrix 0.2.4 installs seamlessly (ruby ver. 2.4.0).

[2018-01-02 16:52] #518 closed

[2018-01-13 00:25] zaki98D opened #607 "segmentation fault in '*'"
**OS: Ubuntu 17.10
Ruby -v : ruby 2.3.3p222 (2016-11-21) [x86_64-linux-gnu]
NMATRIX (0.2.4)**

HI , For some reason i am getting a segmentation fault in my code
At first i thought that i waas doing some kind of mistakes but i couldn't find any thing

[code]

and here is the error
`/var/lib/gems/2.3.0/gems/nmatrix-0.2.4/lib/nmatrix/math.rb:710: [BUG] Segmentation fault at 0x00000000000038
ruby 2.3.

[2018-01-16 22:45] mohawkjohn commented on #607
When I run your code and try to instantiate the object with `NeuralNetwork.new()`, I get the following:

[code]

I need more information to reproduce this — perhaps the code you used to instantiate this class?

[2018-01-18 22:07] zaki98D commented on #607
**main**
[code]

**Constants**
[code]

[2018-01-18 22:10] mohawkjohn commented on #607
Hey, sorry, but if you want us to help you debug your code, you need to provide a minimum working example. What's the minimum amount of code that reproduces this crash?

[2018-01-18 22:54] zaki98D commented on #607
hey , thanks for the response
so i noticed that the error does not have a fixed point
sometimes it happens after 100 iteration and sometimes after a 1000
and i also noticed that the error does not occur only at element wise multiplication as in here
`
/var/lib/gems/2.3.0/gems/nmatrix-0.2.4/lib/nmatrix/math.rb:710: [BUG] Segmentation fault at 0x00000000beb144
ruby 2.3.3p222 (2016-11-21) [x86_64-lin

[2018-01-19 00:18] mohawkjohn commented on #607
Even with that information, I can't run a debugger on it without a minimum working example.

[2018-01-19 14:07] zaki98D commented on #607
@mohawkjohn
Is this Good enough ?
[code]

**notice that this bug doesn't always appear in this example so you might want to try it few times**

[2018-01-19 22:20] mohawkjohn commented on #607
It's not happening for me. But I'm looking through your segfault and seeing this:

`/var/lib/gems/2.3.0/gems/nmatrix-0.2.4/lib/nmatrix/math.rb:710: [BUG] Segmentation fault at 0x00000000000008`

The fact that you're dealing with a memory address near 0x0 suggests to me that you're running out of memory. That's triggering an exception in Ruby, and it's not properly unwinding through NMatrix code (a

[2018-01-22 19:21] micw523 commented on #476
I don't know if this issue has been solved, but from my experience dealing with numpy and MATLAB is that the code generally ignores if the matrix is singular and just returns garbage. LAPACK uses the LU decomposition for inversion and it is (almost) impossible that matrix will be purely singular when decomposed.

I have no experience with the ATLAS library and do not know the behavior of that libr

[2018-01-22 20:40] zaki98D commented on #607
@mohawkjohn
hi, when i tried to use other libraries (i am using JBLAS + jruby )
and i dont have a problem so i dont think that i have memory problem
maybe dependencies or something else

[2018-01-22 21:41] mohawkjohn commented on #607
Ohhhh, that's different, and could perhaps explain why I wasn't seeing the same problem, since I'm on MRI and not JRuby. Interesting.

[2018-01-22 23:02] zaki98D commented on #607
you got me wrong , the error wasn't on jruby
it was on MRI

[2018-02-22 08:25] v0dro opened #608 "Calculate rank of matrix based on SVD"
Having an SVD based rank calculation algorithm would be helpful. Similar to that in matlab: https://in.mathworks.com/help/matlab/ref/rank.html

[2018-02-22 09:14] v0dro opened #609 "More humane SVD"
Currently to calculate SVD we need to call a function like `gesvd`. Having a simple Ruby wrapper over this called `svd` would be nicer.

[2018-02-26 15:45] mohawkjohn opened #610 "Update Travis CI for current Ruby options [critical]"
Related to #606.

This issue is tagged with 'beginner', which is probably appropriate because while it isn't a particularly *easy* problem, I suspect that's mostly because it's a *time-consuming* problem to solve. It's also extremely important.

[2018-02-27 13:47] v0dro opened #611 "Concatenate matrices by specifying them in an Array"
Something like this:
[code]

[2018-02-27 14:09] v0dro opened #612 "Boolean indexing"
Copy this feature from numo-narray (I hope we can get along together soon and stop filing duplicate issues like this one).
https://github.com/ruby-numo/numo-narray/issues/81

[2018-02-27 15:49] mohawkjohn commented on #611
So, like hstack/vstack in Numpy? I'm shocked we don't have this, but I can't find it in the code. It ought to be a pretty easy addition.

[2018-02-28 00:23] wlevine commented on #609
I think our current gesvd method actually has a pretty friendly interface (see http://sciruby.com/nmatrix/docs/NMatrix.html#method-i-gesvd ). The only thing unfriendly about it is the name. Is there anything else you had in mind?

[2018-02-28 00:49] v0dro commented on #609
Just the name actually. And in case we support sparse matrices in the future it should also call the respective sparse method via `svd`.

[2018-02-28 00:51] v0dro commented on #611
We have `hconcat` and `vconcat` but its kind of counter intuitive to concatenate when you think of it that way. The easiest way I've come across is the Matlab notation which I think would reflect in nmatrix via this feature.

[2018-02-28 01:48] v0dro opened #613 "Check equality with tolerance"
If you're approximating a matrix and check element-wise accuracy with the original matrix, you frequently need to use equality with some tolerance. Having a function like `be_within` similar to rspec would be helpful.

For example:
[code]

[2018-03-01 03:04] mohawkjohn commented on #611
We should probably also see about aliasing the concat functions to hstack and vstack.

[2018-03-01 14:01] v0dro opened #614 "More descriptive TypeError from #dot"
The `#dot` method gives the following error if you don't supply it the correct type:
[code]

A good error message should tell us the wrong type that is being passed too for easier debugging.

[2018-03-01 17:47] mohawkjohn commented on #614
Can you provide example code? (Meta: This is more of a bug than an enhancement.)

[2018-03-01 17:49] mohawkjohn commented on #613
`(n - u.dot(s.dot(d))) <= 0.001`

[2018-03-01 17:49] #613 closed

[2018-03-02 17:34] gavrieltal commented on #609
Hi, I'm new to Ruby and SciRuby and looking to get involved in an open source project, so sorry if I lack a concept of the organization of the files here. Right now, I just know that the gesvd function comes from lapack and atlas.

Would it be enough to add `alias :gesvd :svd`in lib/nmatrix/lapack_core.rb, lib/nmatrix/cruby/math.rb, lib/nmatrix/atlas.rb, and lib/nmatrix/lapacke.rb? There is no ges

[2018-03-02 17:46] mohawkjohn commented on #609
I don't think you'd add it in all of those places. Probably just `lib/nmatrix/math.rb`, or perhaps the `math.rb` in `cruby/` (which place depends on whether there's a `gesvd` in the JRuby NMatrix or not). It's also possible JRuby has a different svd interface (I hope not), in which case you'd want to write a function in each of the two (C and J) math.rb files which provides a common interface.

Do

[2018-03-02 17:59] gavrieltal commented on #609
Based on github repo searches, `gesvd` is not defined in either `lib/nmatrix/math.rb` or `lib/nmatrix/jruby/math.rb`, only under `cruby`. So I suppose I would just add it under `cruby`?

Also, would you want to have spec tests checking that the alias works?

[2018-03-02 22:02] mohawkjohn commented on #609
So, `gesvd` is in cruby because it's an interface for lapack/atlas/etc., which only exists on the C side. We should really have a common SVD interface for both JRuby and MRI (cruby), and that would go in `lib/nmatrix/math.rb`. Does that make sense?

It sounds like, though, it's going to be more than a simple alias — it's about coming up with an SVD interface that works for both JRuby and MRI and a

[2018-04-09 06:06] okkez opened #617 "Can we stop using ALLOCA_N in C++?"
### Background

I could not compile nmatrix with recent Ruby (2.6.0-preview1 and r63103)
I've tried to compile nmatrix with recent Ruby, but I could not compile it.
See also https://bugs.ruby-lang.org/issues/14668 (Japanese)

shyouhei fixes the issue in r63123 today.

### What is the problem

Shyouhei said that we can stop using `alloca` in C++  code in [the comment](https://bugs.ruby-lang.org/iss

[2018-04-09 12:01] luc-j-bourhis opened #618 "MKL support out-of-the-box?"
As far as x86_64 is concerned, MKL provides one of the fastest, if not the fastest, dense and sparse matrix operations, and it would be great if there was a turnkey install of SciRuby nmatrix with MKL. One important point is that Intel MKL has been distributed under an open-source licence [allowing redistribution](https://software.intel.com/en-us/mkl/license-faq) for several years. Therefore by tu

[2018-04-09 14:36] translunar commented on #617
@okkez Thank you so much for bringing this to our attention.

I read through a translation of the linked page, and wasn't totally clear: what is preferred in place of `ALLOCA_N` in C++?

[2018-04-09 14:39] translunar opened #619 "Add Ruby 2.5 and 2.6 to travis configuration"
From #617 it came to our attention that our Travis configuration is a bit out-of-date.

#610 is slightly different — this is correcting the existing configuration, which still needs to be done. But this issue, here, is just about adding 2.5 and 2.6 to the existing broken configuration.

[2018-04-09 14:40] translunar commented on #618
I think it would be lovely to support the Intel Math Kernel Library, but it might be an entire GSOC project in and of itself. How would you feel about mentoring such a project next year? :)

That said, we'd be happy to accept patches from eager non-students. ;)

[2018-04-09 14:43] translunar commented on #605
I'm just revisiting this issue to note that using `:object` for integers will (a) speed up compilation, and (b) possibly make it easier for us to support faster element-wise math for float32, float64, and the complex dtypes.

[2018-04-10 02:00] okkez commented on #617
I'm not familiar with C++ specification and nmatrix code, so I could not describe the possibility that we can use C++ functionality more.

It is a general consideration.

[code]

can replace with

[code]

This is the simplest case in nmatrix.

For example in other C++ code,

[code]

[2018-04-10 11:43] wlevine commented on #618
At one point, we supported the MKL unofficially thru the nmatrix-lapacke package. There is a [comment here](https://github.com/wlevine/nmatrix/blob/master/ext/nmatrix_lapacke/extconf.rb#L178) discussing how to use it. I suspect that method still works, or if it doesn't could be fixed fairly easily.

@luc-j-bourhis I know this is not exactly what you are asking for, but it would probably be a good

[2018-04-10 11:54] wlevine commented on #617
From the linked page:

I think this not totally correct, variable length arrays are part of C99, but not part of any C++ spec, although they are supported by g++.

[2018-04-10 12:22] luc-j-bourhis commented on #618
@mohawkjohn My knowledge of the inner working of `nmatrix` is basically zero: I am just a user right now but I was indeed planning to learn enough about it to try to put together a pull request. The question I did not phrase clearly enough perhaps is: would you support committing the intel libraries for MacOS/Linux/Windows to the repo, and build a gem installing them alongside `nmatrix`?

@wlevine

[2018-04-10 23:46] translunar commented on #618
I'd be glad to include a plugin linking MKL to NMatrix, or just to update the lapacke plugin to support it.

[2018-04-12 00:49] wlevine commented on #618
@luc-j-bourhis I don't see any big issues. Let me give you a little more context. The nmatrix-lapacke should (in theory) support any library (like MKL) that implements LAPACK and BLAS functions. I tested it briefly with the MKL (which is where that comment comes from), but didn't put any effort into officially supporting it. At the time I remember that the Intel software was very difficult to down

[2018-05-04 08:47] ralampay commented on #607
I have a similar experience with this. Does the segmentation fault always occur for every run or is it random? In my case it's random. Using MRI. Coded a neural network and for relatively simple matrix multiplications, I get segmentation faults from time to time. My code can be found here:

https://github.com/ralampay/rbnn

[2018-05-07 03:15] ralampay commented on #548
Is there a fix for this already? Can't run my neural network implementation using nmatrix's latest version due to the packable gem. :(

[2018-05-07 05:41] translunar commented on #548
No. We're all volunteers. I'd encourage you to submit whatever workaround you come up with.

[2018-05-16 14:41] translunar commented on #607
If someone can produce a reliable *minimal* test that causes the crash, that would be immensely helpful.

Even if it's random, sometimes you can do something like

[code]

[2018-06-20 14:44] translunar commented on #413
Looks like rspec-longrun now supports rspec 3.x, so we can go ahead with upgrading to a newer rspec. :)

https://github.com/mdub/rspec-longrun/issues/5#issuecomment-132267353

[2018-07-19 22:35] ngetahun commented on #619
Hey @mohawkjohn, is this issue still up for grabs? I'd like to make a PR.

[2018-07-19 22:57] translunar commented on #619
Yes, please! The Travis configuration is a mess. Take a swing!

[2018-08-20 19:51] gavrieltal commented on #609
I'm trying to figure out how to install `nmatrix` JRuby for the first time to try my work. Perhaps it's just inexperience with JRuby, but it seems hard to figure out. In addition to following the standard README instructions up until `rake jruby`, here is what I've tried:

[code]

[2018-08-28 06:06] danaredena opened #621 "Installation error for MaxOSX and Ubuntu"
I can't seem to find a way to install nmatrix (a version that works) for both MacOSX and Ubuntu. Our dev team has MacOSX machines for local deployment and our Ruby application is deployed in an Ubuntu server.

As a work-around, nmatrix -v '0.2.0' is deployed in our Ubuntu server and we use nmatrix -v '0.2.4' in our local machines.

Error for installing **nmatrix 0.2.0** on **MacOS High Sierra 10.1

[2018-08-31 03:04] parzydlo commented on #621
I'm getting the same error on High Sierra 10.13.6 using Ruby 2.5.1

[2018-09-06 15:18] translunar commented on #621
Can you tell me what compiler(s) you're using? And have you tried building directly from the repository?

Sorry for the delayed response, was on vacation.

[2018-09-06 15:19] translunar commented on #609
@gavrieltal I'm not sure how your comment relates to this issue. Can you please open a separate issue if you want help?

[2018-09-06 15:20] translunar commented on #619
@ngetahun Did you end up having any luck?

[2018-10-01 21:11] leesharma commented on #619
Hey there! It looks like this issue has been sitting for a few months—mind if I give it a go?

[2018-10-01 23:00] translunar commented on #619
By all means!

On Mon, Oct 1, 2018 at 2:11 PM Lee Sharma <notifications@github.com> wrote:

[2018-10-02 17:09] leesharma commented on #619
It looks like there's a compatibility issue between `packable` and ruby versions ≥ 2.5 (see SciRuby/packable#4). Because of this, tests that use their monkey-patched methods fail in CI for 2.5.1 and 2.6.0-preview2 ([an example failure](https://travis-ci.com/leesharma/nmatrix/jobs/149196928) with the same error).

From the discussion on that issue, it looks like the problem isn't going to be resolv

[2018-10-03 15:50] translunar commented on #619
I'd say mark as `pending` on affected systems. It's difficult to extricate packable, but it's really only used in the Matlab IO, which should eventually become a plugin.

[2018-11-07 21:12] seoanezonjic opened #622 "There is a method in nmatrix for matrix exponential?"
I need to use the matrix exponential operation as can be seen here:
https://www.mathworks.com/help/matlab/ref/expm.html
There is a method for this operation in nmatrix? If is not, how can I implement it using the nmatrix methods?
Thanks in advance

[2018-11-08 15:21] translunar commented on #622
I don't believe we've implemented one. I think the pseudocode for doing so is right there in the Matlab docs, so I'd be eager to get a pull request for it. (`expm(X) = V*diag(exp(diag(D)))/V`)

I also have code for a separate matrix exponential, for computing rotations, so if that's what you're looking for, I can point you that way. (It's in Python right now, and possibly has a bug.)

[2018-11-08 17:29] seoanezonjic commented on #622
Yeah the pseudocode is that but V and D are given for this matlab function:
[V,D] = eig(X)
The documentation is in https://es.mathworks.com/help/matlab/ref/eig.html . I cannot find which methods in nmatrix are equivalent to this eig(). I'm new handling nmatrix and the tutorials don't cover this kind of topics. If you can point me which methods are equivalent to matlab's I can code this function my

[2018-11-08 18:43] translunar commented on #622
The method you're looking for is from lapack and atlas. It's called `geev`.

You could look in:
* https://github.com/SciRuby/nmatrix/blob/beb266ed1ae56206af73f8f94bf9956213f9997b/spec/lapack_core_spec.rb
* https://github.com/SciRuby/nmatrix/blob/beb266ed1ae56206af73f8f94bf9956213f9997b/spec/plugins/atlas/atlas_spec.rb

The methods are documented elsewhere, but I find the specs are pretty good for

[2018-11-19 16:35] seoanezonjic commented on #622
I have installed nmatrix-lapacke to implement the matlab method but I have the following problem, when I use the method geev as:
`eigenvalues, vl, vr = NMatrix::LAPACK.geev(nmatrix_object)`
I have the following error:
`geev requires either the nmatrix-atlas or nmatrix-lapack gem (NotImplementedError)`
So, I added to my script this require:
`require 'nmatrix-lapacke'`
but it breaks with the followi

[2018-11-21 00:34] translunar commented on #622
I believe you want `require "nmatrix/lapacke"` and `require "nmatrix/atlas"`.

[2018-11-21 18:12] seoanezonjic commented on #622
I have tested the require that you suggest to me and now I have de following error:
[code]
My sysadmim has perform a deep research and he has checked the libraries with ldd:
[code]
What can be happening with this?
Thank you for your attention

[2018-11-27 23:36] translunar commented on #622
Have you followed the instructions on our wiki for installing ATLAS, lapacke, the gems, etc? It looks like you've got two versions installed and it's finding the wrong ones.

[2019-01-16 19:41] zixu-zhao commented on #426
@achung-miovision Thanks Adrian! You made my day! 😄

[2019-02-05 08:38] ljulliar opened #625 "puts or p on simple matrix crashes"
Just installed nmatrix on Ruby 2.5.3 / Debian 9. Trying to print a simple matrix under irb would crash:
[code]

[2019-02-28 03:12] kojix2 commented on #375
Several years have passed since the new version of NArray came out.

It appeared that NMatrix was not being maintained well.
And I think Numo::NArray now outperforms NMatrix in almost every way. (benchmark needed)

Newcomers try NMatrix first. After a while, they notice that NArray is far better in performance.
And they begin to make libraries dependent on NArray.

For example,

NArray has at leas

[2019-04-05 20:09] WaKeMaTTa commented on #625
Try this:

[code]

[2019-04-06 03:27] kojix2 commented on #625
To be honest and not afraid to criticize, NMatrix is not well maintained, and Numo::NArray is better in many ways. Please try NArray before giving up Nmarix and using NumPy.

[2019-04-30 18:47] seoanezonjic commented on #548
Hi all
I'm using nmatrix again and this problem seems that is gone. When I have revised the packable gem repo, there are three commits in Sep 20, 2018  that seems to fix this issue. I did some tests with the initial data and I cannot reproduce the issue.
Maybe it would be nice to close this issue.
Thank by you help

[2019-04-30 19:07] seoanezonjic commented on #622
Hi all
In the last months I have received other work to finish, so it was impossible to me with nmatrix. Now, I can work in this project without problem. I fix the installation problem with the following commands:
[code]
With these lines, nmatrix installs succesfully. Also, I've implemented the exponetial matrix as follows (with the matlab documentation):
[code]
With the toy example this code work

[2019-06-09 07:04] jedld opened #628 "lib/nmatrix/nmatrix.rb:47:in `require_relative': superclass mismatch for class NMatrix (TypeError)"
ruby version: 2.6.3
system: ubuntu
nmatrix version: 0.2.4

Just requiring nmaxtrix results in:

       3: from /home/jedld/.rvm/gems/ruby-2.6.3@grabai/gems/nmatrix-0.2.4/lib/nmatrix.rb:28:in `<top (required)>'
        2: from /home/jedld/.rvm/gems/ruby-2.6.3@grabai/gems/nmatrix-0.2.4/lib/nmatrix.rb:28:in `require'
        1: from /home/jedld/.rvm/gems/ruby-2.6.3@grabai/gems/nmatrix-0.2.4/lib/nmatr

[2019-06-09 08:49] jedld commented on #628
looks like a conflict when using narray

[2019-06-09 08:49] #628 closed, assigned to nobody

[2019-07-16 01:48] #476 closed

[2019-09-16 16:04] zheng-yongping commented on #607
openSUSE Leap 15.1
ruby 2.6.3p62 (2019-04-16 revision 67580) [x86_64-linux]
nmatrix (0.2.4)

I get a segmentation fault too, but not sure is the same problem.

[code]

[code]

[2019-09-16 23:18] kojix2 commented on #607
@zheng-yongping
If you are looking for a fast matrix computation library like NumPy, try Numo:: Narrray.
https://github.com/ruby-numo/numo-narray
NMatrix is not in active development these years.
There is a long history between NMatrix and NArray, but for now I personally recommend NArray to all users.

If you are skilled developer and want to improve NMatrix, there is an ongoing project.
https://

[2019-09-17 03:43] zheng-yongping commented on #607
@kojix2
Ok, thanks.

[2020-01-18 08:21] moskyt commented on #531
unfortunately I run into this issue today. right now I am just in despair, because it is in a project I need to have done by the end of weekend – I will try to run it on a different platform and I will also try to make a MVE and post it here.

[2020-01-18 12:20] kojix2 commented on #531
@moskyt
Try Numo::NArray
https://github.com/ruby-numo/numo-narray

NMatrix maintenance has almost stopped, and Today Numo::NArray is the most popular matrix computation library in Ruby. NArray outperforms NMatrix in performance, functionality, and all aspects.

If you are interested in machine learning, great libraries available:

https://github.com/yoshoku/rumale
https://github.com/ankane/torch-r

[2020-01-18 12:28] kojix2 commented on #531
NMatrix's successor project is NumRuby.
https://github.com/SciRuby/numruby

[2020-01-18 13:31] moskyt commented on #531
@kojix2 , thanks a lot! Saved my day.
I need cholesky decomposition, so I cannot go with NumRuby (yet),
however Numo works fine. I had to load openblas manually, but otherwise it's perfect and I am glad to use a maintained library.

Thank you again!

[2020-05-14 00:28] abourque72 commented on #622
You could do a check for when val is complex. Say val = a+bi. Then exp(val) = exp(a) * (cos(b) + i * sin(b)). Lemme know if you find this useful.

[2020-07-28 13:17] weili-git opened #629 "Is there a 'argmax' method for NMatrix?"
By searching 'https://rdoc.info/github/SciRuby/nmatrix/NMatrix', I could only find 'max' method which returns the max value of certain dimension, but I need to get the index instead.
Thank you so much if someone could help!

[2020-07-28 13:24] kojix2 commented on #629
Use numo-narray...
http://ruby-numo.github.io/numo-narray/yard/Numo/DFloat.html#argmax-instance_method
http://ruby-numo.github.io/numo-narray/yard/Numo/DFloat.html#max_index-instance_method

[2020-10-14 14:10] #629 closed, assigned to nobody

[2021-02-05 19:28] descala opened #630 "'10.2.1' < '4.3.0' is true"
This condition in lib/nmatrix/mkmf.rb fails its purpose for cpp versions of more than one digit. For instance in Debian Bullseye it is 10.2.1 and "gem install nmatrix" fails.

[2021-08-18 06:54] wtaysom opened #631 "Last argument as keyword parameters is deprecated in Ruby 2.7"
I ran across it in these two spots:

[code]

Those are the methods `NMatrix::[]` and `NMatrix.zeros`.  The fixes are trivial.  For example, `NMatrix.zeros` could be changed to:

[code]

[2022-01-06 02:24] santigolucass commented on #426
@achung-miovision Thanks man!

[2022-03-12 18:09] kfamilonidis commented on #621
I have similar issue on MacOS 12.2
There is no way to install nmatrix with brew command as it no longer supports homebrew.versions and gcc@4.9 is not available. Is there any way to have an example how to install the gem on the latest MacOs version?

[2022-03-14 17:34] translunar commented on #621
Hi, sorry, NMatrix isn't maintained anymore and hasn't been for some time.

On Sat, Mar 12, 2022 at 10:10 AM Kostas ***@***.***> wrote: