[2012-04-11 20:41] translunar opened #1 "Split elementwise operations to allow different return types"
Right now all elementwise operations use a single function that looks like this:

[code]

where A, B, and C must all have the same type.

That includes the unary operations, boolean-style comparisons, and modulus.

If you try to do, for example, A*B, where A and B are different types, they will be upcast to a common type, and that type will be returned.

These operations need to be split up. It do

[2012-04-11 20:45] mohawkjohn opened #2 "Exposure of remaining CBLAS and CLAPACK functions"
Right now, only xgemm, xgemv, xgetrf, laswp, idamax, and a few others are implemented.

It'd be great if we could expose all of the CBLAS and ATLAS-CLAPACK functions.

Usually this means writing a templated version of the function in math.h which works for rational types (and possibly integers too). You override the templates for float, double, Complex64, and Complex128 and have those call `clapac

[2012-04-11 20:48] translunar opened #3 "Improve SyntaxTree / C / math expression parser"
SyntaxTree (`ext/nmatrix/generator/syntax_tree.rb`) supports only very simple mathematical expressions. I'd like it if it could handle more complicated stuff.

That probably means finding a library with few or no dependencies which can parse C. It's possible you could derive your own from SyntaxTree, though this doesn't really even support parentheses.

It'd also be nice if it understood things li

[2012-04-11 20:51] translunar opened #4 "Investigate replacing custom code generator with ERB (or other lib)"
I wrote a Ruby module which takes templated C files (e.g., `ext/nmatrix/dense/gemm.template.c`) and writes it into a regular C source file to be compiled.

The goal is to be able to write one generic function and have it work for all of the dtypes.

The templater I've written is not very flexible, however, and is probably insufficient for the task of implementing all of the other necessary generic

[2012-04-11 20:59] translunar opened #5 "Make dense transpose generic for n dimensions"
Currently, dense transpose works only for two dimensions. It should be rewritten to be generic for n dimensions.

[2012-04-11 21:00] translunar opened #6 "Fix conflict with NArray's NMatrix"
You can't currently have both NArray and NMatrix installed. This is a problem, since people may need to use both on the same system.

[2012-04-11 21:04] mohawkjohn opened #7 "Improve speed of gemm for non-ATLAS types"
There are some much faster algorithms for generic matrix multiplication than the trivial one from Netlib. ATLAS implements one using a lot of #define statements. It'd be good if we could do the same thing in our `gemm.template.c` generic version, so that we have fast multiplication for rational, integer, and Ruby obj matrices.

This particular ticket involves some research. A good place to start w

[2012-04-11 21:05] translunar opened #8 "Implement slicing"
We need slicing.

It'd be nice if slices didn't require any copying -- if they were just references, that could be used with gemv, for example, and with elementwise operations.

[2012-04-11 22:07] translunar opened #9 "Write workaround for missing ATLAS/LAPACK/BLAS"
Since we're writing our own generic versions of all of the CBLAS API (e.g., gemm, which generates i8gemm, i16gemm, i32gemm, i64gemm, r32gemm, etc.), it should be really simple to have it also generate dgemm, sgemm, cgemm, and zgemm whenever extconf.rb/configure can't find LAPACK or ATLAS.

Probably some environment variable needs to be set that `ext/nmatrix/generator.rb` can read, indicating wheth

[2012-04-17 18:21] translunar opened #10 "Move Matlab reading code from SciRuby to NMatrix"
SciRuby has code for reading v5 of Matlab matrix files. This code needs to be moved to NMatrix.

[2012-04-23 21:34] translunar opened #11 "Determinants"
Matrix determinants!

It'd be nice to have two varieties: exact and fast. For 2x2 and 3x3, only exact will be used, unless the user requests an exact determinant of some larger matrix (which should thus be available, unless sufficient accuracy can be achieved with a faster algorithm).

As the matrices increase in size, there will eventually be a crossover point where we go from the exact method to

[2012-04-23 21:43] translunar opened #12 "Matrix inversion and matrix exponents"
This may require some design and discussion.

What dtype is returned by matrix inversion of an int? Something rational or some type of float matrix? Or should inversion simply be disallowed on int matrices? It doesn't make sense to return an integer, as it'll nearly always be all zeroes, and probably confuse the coder/user.

Regardless, we need matrix inversion pretty desperately. It's a pretty ba

[2012-04-24 16:12] translunar opened #13 "Elementwise operation improvements: return types"
Depends upon: [Issue #3: Improve SyntaxTree / C / math expression parser](https://github.com/SciRuby/nmatrix/issues/3)

The problem is described in [this email thread](http://groups.google.com/group/sciruby-dev/browse_thread/thread/e40b68e6bc517c6f):

The problem doesn't only concern booleans. Let's say you want to take the elementwise square root of an int64 matrix. You should be able to choose t

[2012-05-05 16:02] dapz opened #15 "Why not build on top of Java?"
There are many java matrix libraries available. Why not simply build on top of one of those?

Yes, now you must use JRuby instead of C Ruby. However, you can build the library more quickly, gain critical mass for later building the CRuby version, etc.

[2012-05-09 14:52] dsisnero opened #16 "gem installation on windows"
operator >> was found (12); parsing 'C[i] = A[i]' and 'B[i]'
operator = was found (5); parsing 'C[i]' and 'A[i]'
Making identifier out of C[i]
Making identifier out of A[i]
Making identifier out of B[i]
compiling nmatrix.c
In file included from nmatrix.c:31:0:
nmatrix.h:32:19: fatal error: cblas.h: No such file or directory
compilation terminated.
make: **\* [nmatrix.o] Error 1

Can you put what l

[2012-05-09 20:27] #15 closed, assigned to nobody

[2012-05-10 03:55] atimin opened #17 "Bundler instead of isolite and hoe"
It is not so important but I think that infrastructure of project can be improved.

I offer a using Bundler with classic rubygems specification. We can define a development dependency.  It relieve a development process managment and publish gems.
Also I offer to use `pry` for console and `guard` for autotesting.

I used those tools in all my projects and I never felt pain with it=)

Thanks

P.S. I

[2012-05-14 07:17] hydromet opened #19 "Covariance Matrices and Eigenvalue decomposition (LAPACK xGEEV)"
It would be sweet to have functionality in NMatrix to create a Covariance matrix and then perform Eigenvalue decomposition on such a matrix (to get back Eigenvectors and Eigenvalues).

For example, from Matlab notation:

[V,D] = eig(A)

the above creates matrices of eigenvectors V, eigenvalues D from covariance matrix A

Further processing could then diagonalize D assuming a square matrix, for exa

[2012-05-17 18:48] #17 closed, assigned to atimin

[2012-06-10 08:03] dcunited001 opened #21 "Mac Install Issues"
I can't seem to get NMatrix to compile.  I've got ATLAS/LAPACK and Green Shoes installed.  I've been able to get SciRuby installed.  But for some reason, I can't get NMatrix to compile.

I'm using g++ 4.2 on Mac OSX 10.7.

I've also tried following this post: http://blog.kc2vjw.com/tag/nmatrix/

[code]

[2012-06-12 21:49] #21 closed, assigned to nobody

[2012-06-13 21:21] chriswailes opened #22 "Support linking against arbitrary BLAS implementations."
As BLAS defines an interface we should be able to let the user select which implementation to use at install time.

[2012-06-13 21:23] chriswailes opened #23 "Utilize LAPACK for some linear algebra operations"
LAPACK is already highly optimized and using it would allow us to support a lot of LA operations quickly.

[2012-06-15 19:56] translunar opened #24 "Segfault: NMatrix.new()"
Apparently NMatrix segfaults when you don't provide any arguments. @KillaPL

[2012-06-26 19:28] #16 closed, assigned to nobody

[2012-06-26 19:30] #9 closed, assigned to nobody

[2012-06-26 19:32] #3 closed, assigned to translunar

[2012-06-26 19:32] #4 closed, assigned to nobody

[2012-06-26 19:33] #10 closed, assigned to translunar

[2012-08-08 02:57] agarie opened #25 "Stop using autoload"
[Matz himself said](http://www.ruby-forum.com/topic/3036681) that autoload will be removed from the language and he "strongly discourages the use of autoload in any standard library". That said, what do you think?

I thought about removing it, but preferred to talk about it here first. It's used in [lib/nmatrix.rb](https://github.com/SciRuby/nmatrix/blob/dev/lib/nmatrix.rb) and [lib/nmatrix/nmatri

[2012-08-19 21:25] #24 closed, assigned to translunar

[2012-08-20 19:29] translunar opened #26 "Change most void pointers to opaque struct pointers"
Right now when we write a generic function for some kind of dtype or itype data, the inputs and outputs must be stored in `void*`.

We should at some point switch to [opaque structs](http://stackoverflow.com/a/850991/170300). This gives us some degree of type safety, may help prevent future bugs.

[2012-08-25 21:17] blatyo opened #29 "`each` should return an `Enumerator` when no block is passed"
1.9 added the no block format for all the enumerable methods such that they return an `Enumerator`. See [Array#each](http://www.ruby-doc.org/core-1.9.3/Array.html#method-i-each) for example. External enumerators are useful when iterating over two collections simultaneously.

For example, it would be nice if the following worked (not a real world example):

[code]

[2012-09-06 15:28] translunar opened #31 "Yale slicing"
Aleksey mentioned that Yale slicing could be messy, and it prompted the following series of thoughts:
- What would a row slice for a Yale matrix look like? This would be inefficient storage if the slice itself were stored as Yale, unless we stored it as a column-major yale matrix (?).
- Should certain copy-slice shapes return dense matrices instead, as these are nearly always more efficient for ce

[2012-09-06 15:29] translunar opened #32 "List-to-yale copying does not work properly"
Need to rewrite `yale_storage::create_from_list_storage` method.

[2012-09-10 00:22] jpmckinney opened #34 "Can't install HEAD"
Installing from git:

[code]

Downloading the git repository and running `rake compile` (with or without `bundle exec`) gives a similar error:

[code]

[2012-09-10 01:01] jpmckinney opened #35 "Segmentation faults when using sparse matrices"
When I try to fill a sparse matrix with floats, I get segmentation faults. I printed out the `i` and `j` variables to see if it was trying to write outside the dimensions of the matrix, but it's not the case. I print out the value that I was trying to assign to the matrix cell, but it is `0.0`, so not outside the float range.

My code looks like:

[code]

With `:list` I get:

[code]

With `:yale`

[2012-09-10 19:32] #34 closed, assigned to translunar

[2012-09-10 19:52] #35 closed, assigned to atimin

[2012-09-10 21:08] #32 closed, assigned to translunar

[2012-09-10 21:08] #13 closed, assigned to translunar

[2012-09-10 21:18] #23 closed, assigned to chriswailes

[2012-09-10 21:19] #1 closed, assigned to nobody

[2012-09-10 22:22] jpmckinney opened #36 "StorageTypeError: conversion failed; capacity of 14 requested, max allowable is 6"
What does this error mean?

[code]

Here's the code:

[code]

If a matrix is too dense, does casting it to :yale raise an error?

In this code, the slice that is being cast is actually all zeroes! I find it odd that if I take a slice of a dense matrix, then I get an error, even if the slice is sparse...

[2012-09-10 22:33] jpmckinney opened #37 "malloc errors"
I occasionally see this error when performing matrix operations on yale matrices:

[code]

It's intermittent, and I can't reliable reproduce it.

[2012-09-10 22:42] jpmckinney opened #38 "Implement scalar operations [yale still needed]"
I'd like to be able to, for example, divide a vector by its norm to normalize the vector, e.g.:

[code]

Right now the last step has to be:

[code]

I assume this is less efficient to do in Ruby-land.

[2012-09-11 18:31] #36 closed, assigned to atimin

[2012-09-11 19:59] #29 closed, assigned to translunar

[2012-09-14 12:15] atimin opened #41 "Casting from yale to list doesn't work."
I found this problem:

[code]

[2012-09-25 20:10] translunar opened #42 "Elementwise list operations broken"
Elementwise operations on list matrices are currently broken (and disabled in v0.0.2).

The following operation gives an incorrect result:

[code]

The current result is `[0, 0, 0], [0, 20, 0], [0, 0, 0]`. If instead m[0,0] is set, the output will be correct. Basically, it seems to only be calculating a row if both matrices _contain_ such a row, which is incorrect.

[2012-09-25 20:16] translunar opened #43 "ATLAS xGETRF gives a result which is apparently incorrect"
The specs for `getrf` (a LAPACK function) currently fail. `getrf` is used by the LU factorization routine, which works correctly. How is this possible, you might ask?

Well, actually, LU factorization is kind of broken, too. It gives a correct result, but it's slow. The reason is that in order for LU factorization to work as expected, it first has to copy-transpose the matrix; then call `getrf`; t

[2012-09-25 20:19] translunar opened #44 "Tests need to be checked for :complex64/:complex128 gemm exposure"
I'm fairly certain `gemm` is properly exposed, but the tests are failing. If I remember correctly, it's just that the tests are wrong. It'd be great if someone who actually uses complex matrix multiplication could write some good specs to make sure it's working properly.

[2012-10-05 00:02] #41 closed, assigned to atimin

[2012-10-08 17:18] #44 closed, assigned to nobody

[2012-10-15 21:27] #37 closed, assigned to nobody

[2012-10-30 19:17] mohawkjohn opened #47 "Need native GETRI, POTRI, ROTG implementation (or ATLAS macros)"
I have exposed `clapack_xgetri` and `clapack_xpotri` for float, double, complex, and double complex.

I've also converted the ATLAS version of the GETRI algorithm to C++ templates (in `util/math`). Unfortunately, I could not expose that version for the other dtypes because it uses macros (`NB`, `MulByNB`, `DivByNB`) which are set by ATLAS during compilation as part of its optimization. I have not

[2012-10-30 19:22] translunar opened #48 "NMatrix::IO::MATLAB loads dense double matrix incorrectly"
Originally posted here: https://github.com/SciRuby/sciruby/issues/23 by @tdy.

Hi, I tried loading some of my mat data like this:

[code]

I was getting some strange values back, so I used some dummy data just for testing purposes. It seems that everything is fine as long as the original data only have integers, but as soon as any doubles are introduced, I get weird results.

For example, `#load_m

[2012-11-01 21:25] #48 closed, assigned to translunar

[2012-11-08 22:54] translunar opened #49 "NMatrix::BLAS::cblas_rotg needs a rational-safe algorithm, dtype specifier"
The BLAS algorithm will not work proplery for Rationals or Integers (due to `sqrt` call). It's enabled for Rational currently, but will likely throw a Ruby exception (`ArgumentError`).

`cblas_rotg` also doesn't have any matrix arguments, so there needs to be some way for the user to specify the correct dtype (`:float32` instead of the default `:float64`, `:complex64` instead of the default `compl

[2012-11-09 21:29] #49 closed, assigned to translunar

[2012-11-09 21:32] #11 closed, assigned to nobody

[2012-11-09 21:33] #12 closed, assigned to nobody

[2012-11-09 21:34] #8 closed, assigned to atimin

[2012-11-20 06:29] jpmckinney opened #50 "Issues compiling on OS X"
Here's the output. The problem seems to be duplicate symbols in the `linking shared-object nmatrix.bundle` step. Any ideas?

[code]

[2012-11-20 21:47] #50 closed, assigned to translunar

[2012-11-20 23:07] jpmckinney opened #51 "Unusual behavior when calling transpose on slice by reference"
[code]

yields:

[code]

but:

[code]

yields

[code]

I would expect it to yield:

[code]

[2012-12-09 06:06] agarie opened #52 "Make #pretty_print actually pretty"
I'm trying to come up with some examples of how to use NMatrix and, obviously, `#pretty_print`/`#pp` is used lots of times.

I wanted to throw this discussion to see how you guys think `NMatrix`/`NVector` should be printed. Any ideas? I'll try to come up with something and implement it, but I don't want to make this kind of change without listening to others.

[2012-12-17 08:49] minivan opened #54 "Norm method format"
Hey everyone,

I'd like to implement a norm method for `NMatrix` and would like to ask for your assistance.
How do you see the function? At the moment, here's what I think:

[code]

What do you think?

[2012-12-27 02:02] #25 closed, assigned to nobody

[2012-12-30 22:38] agarie opened #55 "Segfault when using NMatrix::BLAS#gemv"
[code]

I remember that BLAS was a bit dangerous to use (right?), but why isn't it working this way?

[2013-01-24 04:52] deep-introspection opened #58 "Fail to compile nmatrix.cpp - Ubuntu 12.04.1 LTS"
Hi!

I have installed all the dependencies and get this error when I try to install nmatrix with gem:

[code]

Any idea?

[2013-01-31 23:16] #55 closed, assigned to translunar

[2013-01-31 23:17] #43 closed, assigned to translunar

[2013-02-10 02:02] agarie opened #60 "Improve the installation process"
There was a [discussion in the mailing list about installation of NMatrix 0.0.3](https://groups.google.com/forum/?fromgroups=#!topic/sciruby-dev/MXBPHSp_f6Q).

I think we should add `dir_config` calls so an user can configure the installation from the command line with --with-lib-dir, --with-lib-include and --with-lib-lib. There's a simple explanation and example of it in this [blog post about C e

[2013-02-10 22:24] #60 closed, assigned to nobody

[2013-02-14 22:36] thanosbellos opened #63 "memory leak when using dot with yale vectors ( matrix with one dimension set to 1)"
Hello , i am using nmatrix for a project i am working on because it is really important to use sparse vectors. The project required that i had two categories of vectors : category A with about 4500 vectors and category B with 3500 vectors . The dimensions of the vectors are [1,8000] and [8000,1] . At some point i had to calculate the dot of every vector of category B with every vector of the categ

[2013-03-19 19:10] alexspeller opened #64 "Cannot install on OS X"
I cannot get this working on OS X.

First I tried "gem install nmatrix". This resulted in the error about gcc not being up to date. I then used the script to install a later version of gcc. After a lot of fiddling I managed to get the gem install command to use that compiler. This gave the following error:

[code]

So then in #34 I found a reference to some environment variables:

[code]

Then I g

[2013-03-20 01:46] #64 closed, assigned to nobody

[2013-03-20 18:48] alexspeller opened #65 "Missing method each_stored_with_indices"
This method does not seem to actually be present anywhere in the source code - in any case it's not working:

http://sciruby.com/nmatrix/docs/NMatrix.html#method-i-each_stored_with_indices

[code]

[2013-03-20 19:02] #65 closed, assigned to nobody

[2013-03-21 00:23] alexspeller opened #66 "Matrix multiplication is not what I expect"
Sorry to keep bothering you, hopefully I can solve this one myself too. FYI I am spending a long time trying to figure these issues out myself before opening issues here, it's just that I seem to solve them just after opening an issue.

Anyway, matrix multiplication with NMatrix seems to be behaving completely differently in NMatrix than pure ruby Matrix or scipy matrix:
## Pure Ruby

[code]
## Sc

[2013-03-21 00:35] #66 closed, assigned to nobody

[2013-03-30 19:01] mohawkjohn opened #69 "Linking problem on Mac OS X"
When I try to build HEAD on Mac OS X (using `rake repackage` and then `gem install` on the `.gem` file it creates), I get the following:

[code]

I'm not really sure what's causing it. I imagine it's a problem with the gcc version being used to link, since I have multiple gcc and clang versions installed. But not good enough with Mac to figure out how to control those things.

This resembles an er

[2013-04-02 22:23] translunar opened #70 "Resize problem for Yale matrices"
I found a problem with Yale matrices resizing. Here is a spec which illustrates it (and is already included in commit [443b46a](https://github.com/SciRuby/nmatrix/commit/443b46abaebe7e082e026222740f677d3f6f406f).

[code]

The work-around is to create the matrix with an initial capacity of `associations.size + 618`, so the matrix doesn't have to resize during insertion:

[code]

The 618 accounts fo

[2013-04-04 21:11] #58 closed, assigned to translunar

[2013-04-08 23:25] translunar opened #71 "NVector element-wise operations return NMatrix"
[code]

After this code is run, `totals` is an `NMatrix` when it should be an `NVector`. Should be a pretty easy fix.

[2013-04-09 22:28] #71 closed, assigned to translunar

[2013-04-13 04:21] keshavnandan opened #75 "Complex math operations are not defined correctly"
Recently I browsed through the source code for NMatrix and it appears that some of the arithmetic operations are not defined correctly for complex numbers.
Here is the spec file that I made for checking complex math operations and the test fails

require File.join(File.dirname(**FILE**), "spec_helper.rb")
describe NMatrix do

[code]

end

It may be noted that the test passes for dot operator while

[2013-04-14 19:48] imcsk8 opened #77 "Spanish language compile issue"
I was installing the module on a ubuntu and i got this error:

[code]

i cloned the repo and checked the source and found this line:

[code]

which assumes that the shell's language is english, there are two ways to fix this one is to set the LANG variable to en_US while installing the gem like this:

[code]

an the other is to modify extconf.rb like this:

[code]

i hope this can help someone wit

[2013-04-19 11:41] lazing opened #78 "ubuntu 12.04 64 install error, segment fault when require"
After install, type those command below
( install Atals with .deb pack)

Any suggestions?

[code]

[2013-04-19 14:00] worst opened #79 "NVector each_stored_with_indices segfault"
NVector.each_stored_with_indices segfaults when it hits indexes > 255.

Reproducible on Mac OS X 10.8.3 and CentOS 5.5 with nmatrix built from commit 89dec18f1fce9f1ea82cccd65b1890f8939b8e6c

[code]

It segfaults when it hits index i = 256.

You don't even have to read a variable:

[code]

segfaults when t.size > 255 as well.

256 is an interesting number... Is something being stored as a byte tha

[2013-04-23 23:09] #75 closed, assigned to translunar

[2013-04-24 09:52] hcarreras opened #82 "Claims Ruby version not high enough, blocks installation"
Hi,
I've pass a lot of hours trying to install the library. First I had some errores, then I solved them. Now I have an issue that I don't understand.
Here it's a screen capture that I think explain everything:
![Captura de pantalla 2013-04-24 a las 11 46 18](https://f.cloud.github.com/assets/1467096/419161/433b8d26-acc4-11e2-88fe-45fd2d6f6ba5.png)

Any idea of what happens?
Thanks in advance

[2013-04-26 17:22] #77 closed, assigned to agarie

[2013-05-03 05:53] boris-s opened #86 "NMatrix stubbornly resists installation attempts."
I also find it virtually impossible to install NMatrix. I spent whole night trying to install it on my Debian. I have already manually installed ATLAS (successfuly) and installed all possible and impossible LAPACK related deb packages, but gem install NMatrix stubbornly refuses to work. So I did github clone, and tried to build the gem locally. Bundle install went OK, but then rake compile fails,

[2013-05-10 20:29] translunar opened #88 "NMatrix does not work with Ubuntu ATLAS headers"
It has been reported numerous times that NMatrix cannot be compiled using Ubuntu's ATLAS headers (from `apt-get`).

[Here is the error](https://gist.github.com/jpmckinney/2eedb9a22eb47bfe9966) reported by @deep-introspection and @boris-s in Ubuntu 12.04 LTS and Ubuntu 13.04 and on Travis-CI by @jpmckinney. It appears in both 0.0.3 and HEAD (0.0.4 pre-release).

Solving this problem is a necessary

[2013-05-10 20:30] #86 closed, assigned to nobody

[2013-05-16 23:19] #82 closed, assigned to nobody

[2013-05-16 23:23] #51 closed, assigned to atimin

[2013-05-16 23:25] #79 closed, assigned to translunar

[2013-06-02 16:44] jpmckinney opened #91 "Initializing :list matrix"
[code]

outputs:

[code]

but:

[code]

outputs:

[code]

[2013-06-03 19:30] #91 closed, assigned to nobody

[2013-06-04 15:55] translunar opened #93 "Fast sparse insertion functions"
I wrote a new feature for Yale (first discussed in #91), which has not yet been implemented in List but could be.

[code]

This version assumes some knowledge of the Yale data structure. Basically, it expects that the only four values in row i are `[1,2,3,4]` and that these are in columns 0, 15, 205, and 149,999 (and these should be in order!).

You can repeat this syntax for each row, but it's ad

[2013-06-07 04:09] cjfuller opened #95 "Slicing matrices sometimes conserves, sometimes reduces the number of matrix dimensions"
As discussed in #92, in some cases it's possible to get single element matrices from operations on an nmatrix, whereas in other cases, you get that single element returned instead of a matrix containing it.

More or less, I think this boils down to whether a single element matrix was explicitly created at some point vs. generated during iteration or slicing.

[code]

On the one hand, this seems se

[2013-06-14 22:34] translunar opened #99 "Yale NVector#dot(nvector) causes segfault"
For whatever reason, the following code produces an error:

[code]

This involves no change in `itype`, so it must be a problem with `symbmm`, the Yale matrix multiplication function.

Here is the `gdb` output:

[code]

I'm unclear as to why this error hadn't arisen previously. In particular, this code is based on code supplied in #63, but scaled down in vector size so as not to trigger an itype-r

[2013-06-15 18:28] translunar opened #100 "Yale order option needed"
We need an option that allows Yale matrices to be stored in either column or row order.

Yale is fairly efficient for tall matrices (with more rows than columns), and becomes increasingly so the taller the matrix gets. For example, a column vector needs only one diagonal storage entry, so it doesn't matter if the diagonals tend to be zero or not. An empty column vector will use 2 data entries and

[2013-06-19 21:37] cjfuller opened #101 "NMatrix::LAPACK exposes clapack getrf spec behavior"
As discussed in #94, the specs involving the "NMatrix::LAPACK [dtype] exposes clapack getrf" are behaving differently on different machines and it seems even between different nmatrix builds using the same atlas installation.

[2013-06-20 18:04] #99 closed, assigned to translunar

[2013-06-20 20:51] #63 closed, assigned to translunar

[2013-06-25 17:58] #101 closed, assigned to translunar

[2013-07-01 06:10] #78 closed, assigned to nobody

[2013-07-09 17:51] #70 closed, assigned to v0dro

[2013-07-09 23:56] translunar opened #104 "Improvements for NMatrix::read and NMatrix#write (e.g., compression, yaml)"
Right now, NMatrix uses C++ STL's `iostream` to handle binary reading and writing of matrices. That's great and stuff, but I'm not sure how to make it compatible (without several days of research) with Ruby's `IO` module.

Ideally, we should be able to do things like this:

[code]

or potentially more awkwardly:

[code]

This would also enable us to run it through a Zlib filter and compress or dec

[2013-07-11 21:53] translunar opened #105 "Need a way to specify derived type to return instead of NVector"
Let's say I have a type `XMatrix` which derives from `NMatrix`. When I get a single row, it returns an `NVector`. But let's say instead I want it to return an `XVector` for a single row of an `XMatrix`. There needs to be a way to specify that when I do the derivation. Something like this:

[code]

The `:construct` option above would be, ideally, some way to tell the matrix class to pass additional

[2013-07-24 06:51] hsucw opened #109 "Fail to compile by git, gem install by -Werror=format-security"
hi all,
I want to install the SciRuby, so I need to install the nmatrix.
After the failed gen installation, I try the git clone way to compile the source in Ubuntu 12.10.
However, I got the following error message. It seem there is some bad coding in the nmatrix.cpp. The format string is not appropriated using. By the security concern, the gcc give the error to stop the compiling. Is there any ide

[2013-07-30 22:28] translunar opened #111 "Problem with list storage == operator"
In the process of implementing element-wise operations, I realized that the list storage `eq?` operator does not account for differing default values properly.

For example, `[[true, false], [true, false]]` can be stored either as a true-based matrix with false values or a false-based matrix with true values. Currently these are reported as not equal when they clearly are.

[2013-07-30 22:41] #42 closed, assigned to chriswailes

[2013-07-31 04:03] #111 closed, assigned to translunar

[2013-07-31 16:06] ryanmt opened #112 "Complex dtype doesn't handle test case input"
I'm testing SVDs for Complex types and can't get NMatrix to build the matrix.

[code]

To me, this seems to suggest that there is a problem with the NMatrix handling of valid Ruby Complex numbers.

[2013-08-08 18:55] translunar opened #116 "Exception handling for list and yale element-wise operations on default values"
Yale and list matrices have default values. When you do a computation `x = a OP b`, and `a` and `b` are both sparse matrices, `x`'s default value is determined by performing `OP` as if the a-default and b-default are actual matrix values.

Sometimes that doesn't make sense. For example,

[code]

That should still raise an exception because it's a stupid way to do the computation (and there's no ea

[2013-08-08 19:05] #38 closed, assigned to translunar

[2013-08-08 22:14] jtprince opened #118 "Make NMatrix[ ... ] equivalent to N[ ... ]"
the N[ ... ] shortcut for creating matrices is great.  We should defined NMatrix[ ] to have the same behavior so this more verbose method of creating a matrix can also be used where the coder would like more clarity.

This begs the question of why we hijacked the 'N' constant since--if the above suggestion were implemented--one could always begin their code

N = NMatrix

and they would get the sam

[2013-08-10 02:12] agarie opened #120 "Fix N[] / NMatrix[] shortcut's dimension"
The way it's implemented now, the shortcut (considering my PR to change its name or not) acts strangely when you want to print it:

[code]

As seen in [the tutorial jtprince started porting from Numpy](https://github.com/SciRuby/nmatrix/wiki/Tentative-NMatrix-Tutorial).

I'll leave this issue here in case anyone wants to try fixing it (it's reasonably easy, just refactor how the parameters are acc

[2013-08-13 16:44] #112 closed, assigned to nobody

[2013-08-13 16:46] #109 closed, assigned to translunar

[2013-08-15 16:48] #118 closed, assigned to agarie

[2013-08-15 22:48] #105 closed, assigned to nobody

[2013-08-15 22:49] #95 closed, assigned to translunar

[2013-08-16 19:38] #120 closed, assigned to translunar

[2013-08-22 19:01] #31 closed, assigned to nobody

[2013-09-08 22:20] cjfuller opened #124 "Compile error related to yale storage"
Running `rake compile` on the current master gives:

[code]

`git bisect` indicates that the error was definitely happening by c5af8b16cced2a7a78be36c515c8f6495d268d27 and it was ok as of 04ccfc0c5b7d67daecfefeb81ba96bbdda34776b, however a different compile error (now fixed) happening in between these commits makes it hard to find out where precisely the problem was introduced.

I'm running on Ubu

[2013-09-08 22:29] cjfuller opened #125 "Pretty print not working"
Pretty print seems not to be functional any more:

[code]

Same problem with matrices of other sizes.

I can't decipher from the pretty_print code what that argument to pretty_print that is missing is supposed to be.

I'm running off a gem built from 04ccfc0c5b7d67daecfefeb81ba96bbdda34776b, which is the most recent commit I can get to compile.  Ubuntu 13.04, ruby 1.9.3.

[2013-09-09 00:50] cjfuller opened #126 "Segfault in cast_full"
I've started getting an intermittent segfault that appears to occur in the cast_full method when using functions that use elementwise arithmetic.

Some selected output from the error message is below.  This segfault appears to happen intermittently and interspersed with a non-segfault error, also listed below.

Haven't found a good minimal test case yet; I'll look into this some more when I have s

[2013-09-09 02:13] translunar opened #127 "Ordered iterator problems"
I'm refactoring Yale storage right now to be object-oriented. Efficient operations require a number of different iterators, which are implemented to resemble STL iterators for `std::map` with a few notable exceptions (for example, `::insert` requires the insertion location, not the element prior to the insertion location).

Yale Storage itself is an abstraction for handling slicing. If you pass in

[2013-09-10 15:56] #125 closed, assigned to nobody

[2013-09-10 15:57] #127 closed, assigned to translunar

[2013-09-10 18:44] #124 closed, assigned to translunar

[2013-09-10 19:10] #126 closed, assigned to translunar

[2013-09-16 22:10] #93 closed, assigned to translunar

[2013-09-17 18:14] cjfuller opened #130 "Segfault when running NMatrix:yale:sets when not resizing spec (OSX specific?)"
While testing on an OSX machine, I ran into the following segfault that is reproducible every time for me (complete error text below).

OSX 10.8.4, compiled with gcc4.8.1 installed via homebrew.  Ruby 1.9.3p429.  (Unsure of ATLAS version -- not my machine).

This segfault does not appear to happen on my Ubuntu 13.04 machine, or the 12.04 CI server.

(It's also unrelated to the extconf testing I'm

[2013-09-17 23:45] #88 closed, assigned to translunar

[2013-09-17 23:46] #19 closed, assigned to translunar

[2013-09-18 20:37] translunar opened #131 "Improved NMatrix#== between different stypes"
`NMatrix#==` is implemented between stypes, but it's inefficient.

What is really needed are C++-style iterators for List and Dense matrices. Yale has them already. With these iterators it should be easy to hook up an extremely efficient `==` operator.

[2013-09-18 22:47] translunar opened #132 "Restore 1.9.2 support"
This line in the constructor:

[code]

does not work in Ruby 1.9.2. It's possible to work around it, but a workaround needs to be written.

A format string of "12" won't cut it, as that would require an initial value prior to the hash.

[2013-09-19 03:06] #132 closed, assigned to nobody

[2013-09-19 03:22] translunar opened #133 "Insufficient keyword argument checking in NMatrix constructor"
[code]

produces a segfault.

Additionally, `NMatrix.new(4, :stype => :yale, :default => nil)` should produce the same output as `NMatrix.new(4, [nil], :stype => :yale)`.

[2013-09-19 03:23] translunar opened #134 ":* slicing indicator isn't working consistently"
[code]

returns the whole matrix, but

[code]

returns only a single row (as it's supposed to).

[2013-09-19 03:33] translunar opened #135 "concat"
These functions are needed for dense, yale, and list. They would be pretty easy for a newcomer to implement using slice-setting, I think.

Concat should glue two matrices together. You might need multiple concat functions, though — one for horizontal, and one for vertical, at the very least, and also a more general one for n-dimensional matrices.

See also: reshape

[2013-09-19 05:11] #130 closed, assigned to translunar

[2013-09-19 15:20] mohawkjohn opened #137 "Optimize code via profiling"
It'd be great if someone could go through the code, remove all the inlines, and put them back in selectively with the advice of a profiler. Here's some more information:

http://stackoverflow.com/questions/375913/what-can-i-use-to-profile-c-code-in-linux/378024#378024

[2013-09-20 16:28] translunar opened #139 "Some VALUE declarations need to be marked volatile"
`VALUE` is stored as a `long` in most Ruby implementations. This means C/C++ compilers will treat `VALUE` as something that can often be optimized out, particularly when we use a compiler optimization setting of `-O3`.

When that happens, it throws a wrench in Ruby's garbage collector. I don't know exactly what kind of wrench, what it's made of, where it gets thrown, by whom it was thrown, or how

[2013-09-26 07:30] cjfuller opened #143 "Inconsistent segfaults possibly related to setting slices from another nmatrix"
I'm encountering a series of segfaults/other memory errors while using dense NMatrix objects.  The locations are varied (anywhere from in the `nm_dense_storage_delete` method to somewhere buried deep in pure ruby).

I've whittled it down to the following testcase:

[code]

The equivalent without slice setting does not crash:

[code]

[2013-09-26 23:55] #143 closed, assigned to cjfuller

[2013-09-28 18:47] dustalov opened #146 "Segmentation fault on NMatrix#each"
I had encountered a very strange NMatrix behaviour that causes the whole Ruby program to crash randomly.

[code]

When I ran this code on Ruby 2.0.0p247, the following lines appeared on my terminal.

[code]

It is also interesting that the last `i` value on the output varies from each invocation. I ran this code multiple times and got `147`, `179`, `60`, etc as the last printed values.

[2013-09-28 20:47] #146 closed, assigned to translunar

[2013-10-01 21:34] cjfuller opened #147 ":* notation for slicing not working properly"
The following example demonstrates a problem with :\* slicing:

[code]

[2013-10-03 14:58] alup opened #149 "Rdoc dependency restriction does not permit rails 3.x projects to use nmatrix gem"
Currently, you are using `rdoc >= 4.0.1` as dep in the gemspec file. This is conflicting with the dependency rule in railties. E.g. for railties `3.2.14` the rules are:

[code]

I know this is not a bug report, but I believe with this dependency rule in your gemspec, you exclude a big number of projects out there who want to use `nmatrix` at its latest versions. A big number of ruby web projects a

[2013-10-03 22:37] #134 closed, assigned to cjfuller

[2013-10-03 22:38] #147 closed, assigned to nobody

[2013-10-04 17:49] translunar opened #150 "RSpec: spec re-design and cleanup"
The one thing I really, really wish I'd done differently during design was to research RSpec a little more. It probably makes better sense to flip around all of the spec stuff so that instead of "NMatrix float64 should correctly invert your little sister," it does things like:

[code]

This requires a bit more design. But it probably doesn't require rewriting too many examples -- just rearranging

[2013-10-04 18:46] #6 closed, assigned to translunar

[2013-10-20 17:59] j-h-l opened #151 "Native extension does not compile with Apple LLVM version 5.0 (clag-500.2.76)"
~ » gcc --version
Configured with: --prefix=/Applications/Xcode.app/Contents/Developer/usr --with-gxx-include-dir=/usr/include/c++/4.2.1
Apple LLVM version 5.0 (clang-500.2.76) (based on LLVM 3.3svn)
Target: x86_64-apple-darwin12.5.0
Thread model: posix

----- gem install nmatrix
Building native extensions.  This could take a while...
ERROR:  Error installing nmatrix:
    ERROR: Failed to build ge

[2013-10-21 17:04] cjfuller opened #152 "Inject rank issue on list/yale matrices with > 1 dimension"
The following gives an exception:

[code]

This gives:

[code]

The one-dimensional case works fine (for list where 1D is valid):

[code]

[2013-10-21 23:25] cjfuller opened #153 "List matrix constructor/slicing problem"
The following gives an unexpected result:

[code]

This looks like either a problem with the constructor just grabbing the first element as the default.

[2013-10-22 23:52] mohawkjohn opened #154 "NMatrix extension for Cholesky decomposition of sparse matrices"
The code for this needs to be wrapped _in a separate gem_, probably to be called `nmatrix-cholmod`. It should be based, if possible on the following code:

http://www.cise.ufl.edu/research/sparse/cholmod/

Unfortunately, that code reads a matrix off the hard drive. Some research needs to be done to determine whether the algorithm can work for NMatrix's existing sparse types.

[2013-10-23 04:12] mohawkjohn opened #155 "Move all ATLAS, LAPACK code into a separate gem or gems"
The best way to make NMatrix work in multiple environments is to ensure that other linear algebra libraries can be substituted in. For example, someone might want to use eigen3 instead of ATLAS.

This task requires a bit of design. There are some functions in NMatrix which are taken from ATLAS, but reimplemented natively. Do these stay? Or do they go? (Probably they stay in NMatrix, but a good arg

[2013-10-24 05:11] bobgilmore opened #156 "Running tests leaves 'test-out' file in the repo as cruft"
Running `bundle exec rake` in an installed repo leaves a file `test-out` in the repo.  In particular, it's `io_spec.rb` that's writing to the file and not cleaning it up.

The file should be cleaned up at test completion.  Furthermore, if possible you should avoid writing into the repo _at al'_ during testing, and write to TMPDIR or some such instead.

I'd be happy to tweak the test to do so.

[2013-10-24 17:55] jtprince opened #157 "Enable 'J' like operators for NMatrix"
If you peruse Rosetta Code and look at the 'J' language, you will find that it is by far the most concise language out there for most tasks.  A year or two ago, I spent some time learning J, and there are many parts of it that are really beautiful.

Michael Feathers just implemented 'J' operators for Ruby Arrays.

https://github.com/michaelfeathers/jop

One way to really distinguish NMatrix over s

[2013-10-25 23:34] cjfuller opened #158 "Move all non-inline method implementations out of header files"
(GCI 2013 task)

Some of the NMatrix header files contain method implementations that could go in .cpp files instead.  This is a problem because
- Changes in these implementations don't trigger a rebuild of all the files including them when running make.
- Any potential extension to NMatrix that includes these files and then also links against NMatrix could end up with multiple versions of these m

[2013-10-26 04:03] translunar opened #159 "Knife operations"
This issue was [suggested by Boris Stitnicky on the ruby-core listserv](https://bugs.ruby-lang.org/issues/9049#change-42621). I've just copied and pasted, more or less. It may need some additional design, but I love the idea.

You need:

[code]

And then, you need to do parametrized subclassing of Matrix for each dimensionality (1D matrices aka. vectors, common 2D matrices, 3D matrices etc.), and

[2013-10-26 05:39] #158 closed, assigned to nobody

[2013-11-02 03:50] translunar opened #161 "`require "nmatrix"` isn't actually resulting in definition of the NMatrix class"
This may not be a bug, just a peculiarity of my system — but I'm nearly certain I fixed this once already in NMatrix, which makes me think we've introduced a regression.

If I install the current version (in HEAD) and then, in a separate directory, open an IRB shell, the following thing happens:

[code]

This is an odd bug, because I use NMatrix in a separate gem regularly. Bundler includes it for

[2013-11-02 04:00] translunar opened #162 "List storage transpose"
Woops. This critical feature was left out.

[2013-11-02 05:10] #139 closed, assigned to cjfuller

[2013-11-02 05:10] #152 closed, assigned to nobody

[2013-11-02 05:10] #153 closed, assigned to cjfuller

[2013-11-07 22:40] translunar opened #163 "NMatrix#triu, NMatrix#tril (upper and lower triangular extractors)"
Need `#triu` and `#tril` methods (ideally aliased to clearer names), particularly for dense.

Here's an example:
http://www.mathworks.com/help/matlab/ref/triu.html

Note that it takes two arguments.

[2013-11-08 01:39] agarie opened #164 "Lazy symbol binding failed during specs in OSX"
Hi folks,

I'm having the following problem when running `bundle exec rake spec` in OSX Mountain Lion:

[code]

I can create `:rational128` matrices in IRB. Actually, this is the first spec that's failing--all the previous ones are passing correctly.

Both Ruby and NMatrix were compiled with gcc 4.8.2 and I symlinked cblas.h as said in the installation guide. :(

Any ideas?

[2013-11-09 21:42] kozttah opened #165 "NMatrix::LAPACK::clapack_gesv calls clapack_getrf with the wrong number of arguments"
I decided to try nmatrix out for the first time, so I tried to solve a simple linear system using gesv. But when I tried this:

[code]

I got the error:

/home/victor/.rvm/gems/ruby-2.0.0-p247/gems/nmatrix-0.0.9/lib/nmatrix/lapack.rb:76: in `clapack_getrf': wrong number of arguments (6 gor 5) (ArgumentError)

The problem happens both in the stable 0.0.9 gem and in the github code. I was still able

[2013-11-11 20:25] #163 closed, assigned to translunar

[2013-11-11 20:26] translunar opened #167 "Reshape"
Reshape should change the shape of a matrix, including changing the number of dimensions. At least for dense, no C or C++ is required. There may also be creative ways to implement reshape for the other two types in pure Ruby. These functions are high priority, though, so if C is required, we're happy to work with contributors and make sure the C parts get done.

Split from #135

[2013-11-11 20:27] #167 closed, assigned to translunar

[2013-11-11 20:50] #165 closed, assigned to translunar

[2013-11-11 20:58] #151 closed, assigned to nobody

[2013-11-12 16:44] translunar opened #169 "dense reshape! (in-place)"
It makes sense to have a `reshape!` method for dense in addition to `reshape`. The storage is exactly the same; you just re-allocate the shape. It's an extremely fast operation and would be pretty damn simple to implement.

[2013-11-12 19:52] #156 closed, assigned to agarie

[2013-11-12 19:53] #161 closed, assigned to translunar

[2013-11-12 22:38] #5 closed, assigned to nobody

[2013-11-12 22:39] #162 closed, assigned to translunar

[2013-11-15 15:08] translunar opened #171 "Mavericks / Xcode 5 / GCC upgrade problems"
Outlined thoroughly here:

http://stackoverflow.com/questions/20004120/every-time-i-upgrade-xcode-i-get-linker-errors-with-brew-installed-gcc

Very similar to #69.

[2013-11-15 20:32] #171 closed, assigned to nobody

[2013-11-22 22:35] #164 closed, assigned to translunar

[2013-12-10 17:58] besser82 opened #172 "Fix NMatrix to be installable / usable with NArray within the same system / environment"
Hello folks!

I'm the maintainer of rubygem-narray for Fedora && RHEL / CentOS rpms.  I'd actually intend to package NMatrix, too, but there is the problem, that those two are not able to live within the same environment.  The reason, I suppose you already know, is that there already exists a `nmatrix.rb` in NArray and such...

Please implement a way to have them both installable / usable within t

[2013-12-11 22:31] #172 closed, assigned to nobody

[2013-12-20 04:48] agarie opened #174 "Allow -1 in NMatrix indexing"
`-1` represents the last element of an array in plain ruby, but not in NMatrix. This is very useful when using a `Range` to index an array, for example, and could be used to select every element in a dimesion, the same as `ary[:, 0]` will select all the rows in the first column in Python.

The example below shows what I mean:

[code]

Also, I know about the method `#rank`, but I doubt this change

[2013-12-28 19:15] #135 closed, assigned to translunar

[2013-12-28 21:47] #133 closed, assigned to translunar

[2014-01-23 21:59] diminish7 opened #176 "Compile error on Ruby 2.1.0"
On a Mac, running Mavericks.

I can successfully build the gem in Ruby 2.0.0-p353 with the following command:

`bundle exec rake compile -- --with-lapacklib`

But running that same command in Ruby 2.1.0-p0, I get an error with the following output:

[code]

Thanks!

[2014-01-27 14:33] terrencekhng opened #177 "About autoloads in nmatrix/lib/nmatrix/nmatrix.rb"
autoload will be dead according to https://www.ruby-forum.com/topic/3036681 , and they were marked FIXME in your source files too, we could find another way to fix it, I think it won't be difficult.

[2014-02-01 04:45] terrencekhng opened #179 "About version detect in nmatrix/nmatrix/extconf.rb"
The `RUBY_VERSION` detection section is marked `FIXME`, what would it be going to look like? I think this one is clear, and I have a more compact way to implement it.

[2014-02-05 17:57] #174 closed, assigned to agarie

[2014-02-05 18:03] #149 closed, assigned to nobody

[2014-02-06 04:18] translunar opened #182 "Segfault in vector dot product"
[code]

I believe the problem is that transpose should be outlawed on a dimensionless matrix.

[2014-02-11 13:19] terrencekhng opened #185 "Negative indices failed to pass Rspec test"
@rajatkapoor I run the rspec test but failed on the negative indices, at `n[-1].should == 5`, although it's one-dimension, so I think the implementation needs to be modified.

[2014-02-11 14:51] terrencekhng opened #186 "Shall we turn NMatrix into a separate gem?"
I think we can turn NMatrix into a separate gem, then we could directly require it, as well as we don't have to re-compile the whole project to see the results.

[2014-02-11 15:08] #176 closed, assigned to nobody

[2014-02-11 16:03] #186 closed, assigned to nobody

[2014-02-12 02:15] #185 closed, assigned to nobody

[2014-02-12 17:45] diminish7 opened #187 "Problems Compiling NMatrix on Ubuntu 10.04"
I'm having some trouble getting NMatrix installed on Ubuntu 10.04 using GCC 4.8.1

Following the directions on the wiki, I have successfully apt-get installed `libatlas-base-dev` and purged `liblapack-dev`, `liblapack3` and `liblapack3gf`.

When I run bundle exec rake compile, I get the following output:

[code]

I can do an apt-file search for `clapack.h` and `cblas.h` and find them both under `/

[2014-02-14 19:08] #187 closed, assigned to nobody

[2014-02-16 19:51] mohawkjohn opened #188 "Mac OS X clapack inclusion"
Mavericks appears to have a version of clapack with the functions we need for inversion (xgetri), but I have been unsuccessful at linking NMatrix using the Mac OS X clapack.h.

Here's the error:

[code]

and the change I made in extconf.rb:

[code]

Anyone who wants to fiddle around with this for a while and try to make it work, we'd all be very appreciative.

[2014-02-16 20:01] mohawkjohn opened #189 "Exact determinant and inverse calculations for yale and list 2x2 and 3x3"
Right now exact determinant calculations are disabled for Yale and list matrices, but allowed for dense, of sizes 2x2 and 3x3. This doesn't make a ton of sense. They're all pretty trivial calculations.

Someone needs to implement an algorithm which calculates 2x2 and 3x3 exact determinants for Yale and list matrices. It goes in `nm_det_exact` in `ruby_nmatrix.c`.

Subsequently, `nm_inverse_exact`

[2014-02-17 07:23] cjfuller opened #191 "Dot product raises ArgumentError for 1-d matrices"
Example:

[code]

I would expect this to work like a vector dot product.

Instead this gives: `ArgumentError: incompatible dimensions`

[2014-03-02 08:13] omegaga opened #197 "Exception handling for calling YaleFunctions extended by a non-yale matrix"
When I was testing nmatrix, I found that executing the following code will cause a segfault.

[code]

This is obviously unreasonable code. Yet it should throw an exception rather than cause a segfault. I think adding exception handling code to Yale Functions in C code can resolve this problem.
If we need to fix the bug, I will be glad to do it.

[2014-03-03 19:08] #191 closed, assigned to nobody

[2014-03-03 19:38] #182 closed, assigned to translunar

[2014-03-03 19:39] #150 closed, assigned to nobody

[2014-03-03 20:08] translunar opened #199 "NMatrix: Implement image processing methods"
Here are two resources (courtesy [William Press and Numerical Recipes](http://www.nr.com/)).
- http://nr.com/CS395T/lectures2010/2010_18_WienerFiltering.pdf
- http://nr.com/CS395T/lectures2010/2010_19_LaplaceInterpolation.pdf

Those include a bunch of image processing methods which we'd like to see implemented in NMatrix, particularly fast Fourier transforms and Laplace interpolation.

Your missio

[2014-03-04 02:57] cjfuller opened #200 "More GC-related memory problems."
We're seeing segfaults on travis in the `map!` method in the travis builds for #198 and #196.  This was one of the symptoms we were originally seeing in #126, #139.  Probably means that we're missing a registration somewhere.

First step should be to see if it can be replicated locally, then if it can be, turn on `NM_GC_CONSERVATIVE`, see if it goes away.

Looks like the problem happens on ruby 1.

[2014-03-04 18:37] #197 closed, assigned to nobody

[2014-03-11 16:34] #169 closed, assigned to nobody

[2014-03-12 19:19] v0dro opened #205 "Adding functionality for element wise floor and ceil of matrices"
I will be implementing element floor and ceil functions for NMatrix in the next few days.

Thank you.

[2014-03-12 19:20] v0dro opened #206 "Adding functionality for element wise floor and ceil of matrices"
I will be implementing element floor and ceil functions for NMatrix in the next few days.

Thank you.

[2014-03-12 19:24] #205 closed, assigned to nobody

[2014-03-14 17:48] MpoMp opened #208 "Ruby's inject function has undesirable effect when used on sparse matrices"
@mohawkjohn suspects it's the data structure storage and that we may need to override inject and tell it to use map_ordered instead of map.

Demo code of this issue: https://gist.github.com/MpoMp/9545561

[2014-03-16 02:31] lazywei opened #209 "Install on Mavericks (Mac OS X 10.9)"
I tried to install latest NMatrix on my Macbook (OS X 10.9), and I followed the installation instruction on [wiki](https://github.com/SciRuby/nmatrix/wiki/Installation#mac-os-x)
- I have gcc 4.9 installed

[code]
- I have linked `clapack.h` and `cblas.h` to `/usr/include/`

[code]

However, when I tried to compile, I got this

[code]

It said that I have no `clapack_spotrf` in my header file. I ch

[2014-03-18 14:52] rve opened #210 "Implementing non-in-place complex conjugate"
As ruby_nmatrix.c#982 writes,

[code]

That's easy and I'm working on it.

[2014-03-18 22:10] #200 closed, assigned to nobody

[2014-03-19 22:15] translunar opened #211 "NMatrix#gesdd prints an error message to STDERR"
This happens with both `:float32` and `:float64` matrices.

[code]

Error message is: `** On entry to DGESDD, parameter number 12 had an illegal value` (or `SGESDD` as appropriate).

I checked the code in `gesdd.h` and `math.cpp`, and didn't see anything obviously wrong, but didn't have time to analyze further. I'm using `gesvd` for the time being, which seems to work just fine.

We really need a

[2014-03-21 11:37] thisMagpie opened #214 "rvm version should include 2.1.1."
This is in travis.yml

[code]

I got the latest version for development which kept raising error. I assumed it was something I had been doing wrong with my environment variables but now I am not so sure as I was using 2.1.1

This needs to be added to the list above, I reckon.

[2014-03-21 11:39] thisMagpie opened #215 "yaml perform distro check"
In the yaml file there is this

[code]

Should it not do a check?

[2014-03-23 18:12] #214 closed, assigned to nobody

[2014-03-24 13:29] thisMagpie opened #217 "Make installation easier on linux"
I made a script to do this

[2014-03-24 22:48] mohawkjohn opened #219 "Eigenvalue decomposition function on NMatrix"
Extends #19.

`geev` is exposed as a LAPACK function, but is terribly difficult to use. It'd be lovely if we could do eigenvalue decomposition directly on an NMatrix.

[2014-03-25 18:57] translunar opened #220 "NMatrix#transpose on reference slice produces bad output"
[code]

On the other hand,

[code]

Roughly the same thing occurs if I do `vectors[:*,2].transpose`.

`vectors`: `#<NMatrix:0x007fc9a3315ca8 shape:[3,3] dtype:float64 stype:dense>`

[2014-03-27 16:32] #220 closed, assigned to nobody

[2014-03-27 17:48] #210 closed, assigned to nobody

[2014-03-29 07:48] akchan opened #223 "Installing on Mavericks"
Hi, thank you developing NMatrix :)

I have a problem with installing nmatrix on my macbook air(2012, Mavericks installed).

First, I have installed gcc4.9 with Homebrew like this:

[code]

recompiling Ruby with new gcc-4.9

[code]

then I challanged compile nmatrix. But I got an error.

[code]

Though I have installed atlas using MacPorts, this error occurs.
How can I solve it?

[2014-04-02 14:19] #223 closed, assigned to nobody

[2014-04-05 12:33] thisMagpie opened #224 "Forcing use of g++ then doing a check for clang?"
What I am fairly sure of is that we should not be setting g++ if we are checking for clang later but please let me know if there is a rationale for that which I do not know about as I am still quite green about these rb extconf files so that would be useful.

Anyway here's some more imaginary code https://github.com/thisMagpie/nmatrix/commit/07fc0146e86d432acc70a5e9a2d418a9c9627fea

[2014-04-06 21:18] thisMagpie opened #225 "Bump Packable version"
Though it is probably not that important it is a nice idea to keep the dependencies up to date so when I noticed the current packable gem version is 1.3.6 so I bumped the version on Gemfile to reflect that with https://github.com/thisMagpie/nmatrix/commit/45aa6eb56c6ad5f8d492761c87c83f5acb47b605#diff-8b7db4d5cc4b8f6dc8feb7030baa2478

[2014-04-06 21:24] thisMagpie opened #226 "Gemfile: Make sure development narray uses sciruby gem"
I meant to file a bug for this as I noted that the narray require was faulty on my system and the original idea I had to fix that meant calling the wrong narray gem (as pointed out by @mohawkjohn).

However this patch is idiot proof at getting the right gem for development so I would suggest using it in nmatrix for that reason

https://github.com/thisMagpie/nmatrix/commit/0336a1f563e4ff8bae3b97845

[2014-04-08 19:53] #225 closed, assigned to nobody

[2014-04-09 05:33] andrewcsmith opened #227 "#rank allows dimensions that are out of bounds"
Calling #rank on an NMatrix doesn't throw an error if its out of bounds. This is counter-intuitive (to me, anyway), as trying to get rank 1000 on a 3-dimensional NMatrix should probably throw an error.

If this is by design, let me know, otherwise I'll wade into the code.

[2014-04-21 14:07] #206 closed, assigned to nobody

[2014-04-21 14:38] #227 closed, assigned to nobody

[2014-04-24 16:15] #179 closed, assigned to nobody

[2014-05-01 20:11] #52 closed, assigned to agarie

[2014-05-04 19:34] thisMagpie opened #232 "Error running specs"
I am seeing the following error when running `bundle exec rake spec` anyone else get this?

[Error log](https://gist.github.com/thisMagpie/f3c9b86979fef0a66970)

[2014-05-07 17:07] #232 closed, assigned to nobody

[2014-05-08 04:37] andrewcsmith opened #235 "Lazy symbol binding: __gfortran_compare_string"
Running `rake spec` causes problems on a pretty basic installation:

[code]

The documentation only mentions the `--with-lapacklib` option in the context of the `clapack_cgetrf` function, but LAPACK is also required for this fortran method. I've solved it by running:

[code]

Note that the `-- --with-lapacklib` flag has to be added at both the compile and install stages. The documentation does not

[2014-05-10 22:41] #235 closed, assigned to nobody

[2014-05-12 23:16] #224 closed, assigned to nobody

[2014-05-12 23:17] #226 closed, assigned to nobody

[2014-05-13 04:04] andrewcsmith opened #237 "Array#to_nm should be reciprocate the NMatrix#to_a function for nested Arrays"
Essentially, I think that this should be true:

[code]

Here are some caveats:
1. Any Array that works for this would need to be made up of Arrays that are all the same shape (recursively). Ideally, `#to_nm` would recursively walk through all nested Arrays and infer the shape of the resulting NMatrix.
2. If the Array does not have consistent shape throughout each of its dimensions, the `dtype` sho

[2014-05-17 04:10] agarie opened #244 "Add IO support to the Harwell-Boeing file format"
I was looking for some test matrices on [Matrix Market](http://math.nist.gov/MatrixMarket/index.html) when I found about this file format. There are various matrices available on the website and it's supported by Mathematica, so I think it'd be interesting to have this functionality in NMatrix.

I'll be able to finish it after next tuesday, but if someone want to try to implement it, look at [its

[2014-05-23 05:32] #209 closed, assigned to nobody

[2014-05-23 05:33] #215 closed, assigned to nobody

[2014-06-29 17:36] translunar opened #256 "Including nm_memory.h in nmatrix.h causes API problems"
Specifically, it's now impossible to compile gsl-nmatrix.

I've tried to address this by removing the relevant #include and putting it everywhere nmatrix.h is included, but that's not the most optimal solution. Additionally, it still produces errors in gsl-nmatrix compilation:

[code]

NMatrix compiles either way, which seems somewhat odd.

@cjfuller Can you take a look at this and see if you can

[2014-08-01 15:41] #208 closed, assigned to nobody

[2014-08-03 12:50] yoongkang opened #265 "NMatrix#gesvd with non-square matrices"
Hi, I'm doing this quite late at night and this might be just me not fully understanding the library, but I think I came across a bug with the SVD feature. I'm trying to do SVD on the matrix example from wikipedia: http://en.wikipedia.org/wiki/Singular_value_decomposition

This is the gist: https://gist.github.com/yoongkang/b6a40abcce76b771742d

The product of the three component matrices isn't th

[2014-08-04 15:59] #256 closed, assigned to cjfuller

[2014-08-11 16:30] #177 closed, assigned to nobody

[2014-08-19 19:15] #237 closed, assigned to nobody

[2014-08-21 12:14] v0dro opened #269 "Element-wise exponential"
Currently NMatrix does not have functionality for calculating element wise exponential of matrices.

Something like `exp(n)` and `exp!(n)` where `n` is an `NMatrix` object would be great.

[2014-08-21 12:18] #269 closed, assigned to nobody

[2014-08-22 09:43] v0dro opened #270 "Basic 1D interpolation routines"
With a view at https://github.com/SciRuby/nmatrix/issues/199, which requires the implementation of higher level interpolation methods, basic provisions for interpolations need to be made.

This includes implementation of basic 1D interpolation routines like linear, quadratic, spline, etc. and also laying the groundwork for complex routines by defining a class structure.

[2014-08-22 10:54] v0dro opened #271 "Cannot create NMatrix from multi dimensional array"
As far as I can see, one cannot do something like `n = NMatrix.new([3,4],[[0.5,1.6,2.4,3],
                                                                                                                   [0.5,1.6,2.4,3],
                                                                                                                   [0.5,1.6,2.4,3]])` .

I'd be great if this were possible. Woul

[2014-08-24 11:35] #271 closed, assigned to nobody

[2014-08-28 15:21] #211 closed, assigned to nobody

[2014-09-24 18:38] fis opened #277 "Sporadic segfaulting from NMatrix"
First, apologies in advance for providing only a sketchy bug report (feel free to close this issue as unproductive), but on the off chance the logs are enough to point at some obvious problem...

I have a piece of NMatrix-using code that does a very simple operation:

[code]

...where `s` and `ps` are 47x1-sized dense column vectors. Rarely, this results in a segfault somewhere inside `mean`, with

[2014-09-27 21:30] #244 closed, assigned to nobody

[2014-10-02 17:54] KCErb opened #280 "puts in reshape"
In the [source code](https://github.com/SciRuby/nmatrix/blob/master/lib/nmatrix/nmatrix.rb#L432) there's a `puts` statement in reshape.

I don't know what it's for and I've commented mine out.

(FYI the use case is I'm iterating over an image (So on average 10s of thousands of iterations) and on each one I need to use reshape. Adding 10s of thousands of puts statements is a dramatic reduction in s

[2014-10-02 18:18] #270 closed, assigned to nobody

[2014-10-03 09:25] Enucatl opened #282 "unsigned dtypes?"
Hey, I think that NMatrix is great and I found an old discussion about this in an old google group. Is there any chance to implement unsigned types (uint16 and uint32)? I'm using the library for some image processing, where this is really useful.

[2014-10-03 19:30] KCErb opened #283 "NMatrix#squeeze?"
Hi all,

I haven't been able to find anything in NMatrix that duplicates Matlab's `squeeze` so I've been using the following. Do you want it? (I'd be happy to submit a PR and specs)

[code]

[2014-10-08 06:51] v0dro opened #284 "Shovel operator for vectors"
It would be great to insert elements into NMatrix vectors with something like `n << [3,5]` and seeing the numbers append the vector.

The elements in the vector can be casted to the appropriate NMatrix dtype and then stored inside the vector. This can also work similarly for NMatrix objects with a single row or single column.

Any suggestions on the easiest way to implement this would be welcome!

[2014-10-08 09:28] v0dro opened #285 "`#first` should return an NMatrix vector"
When calling `#first` on n, where `n = NMatrix.seq [10]`, an `Array` object with the first value is returned.

I think it should manufacture an NMatrix vector of the given dtype and return that instead. What do you'll think?

[2014-10-09 17:47] #280 closed, assigned to nobody

[2014-10-09 17:55] #284 closed, assigned to nobody

[2014-10-09 18:21] #285 closed, assigned to nobody

[2014-10-17 14:48] #283 closed, assigned to nobody

[2014-10-17 14:49] #282 closed, assigned to nobody

[2014-12-01 06:21] andrewcsmith opened #289 "#asum undefined for NMatrix of shape [1]"
Just what the title says. Seems to me that the second example `N[3.5].asum` should give the expected result of `3.5`.

[code]

[2014-12-02 13:07] ChenLiZhan opened #290 "Installing on Yosemite"
Hi, I'm trying to play with nmatrix recently.
I have some problem when I install nmatrix on my machine(Mac OS X 10.10).
My problem is fairly similar to #223 .

I also installed gcc4.9 with Homebrew:
<pre><code>
$ gcc -v
Using built-in specs.
COLLECT_GCC=gcc
COLLECT_LTO_WRAPPER=/usr/local/Cellar/gcc/4.9.2/libexec/gcc/x86_64-apple-darwin14.0.0/4.9.2/lto-wrapper
Target: x86_64-apple-darwin14.0.0
Conf

[2014-12-08 10:10] v0dro opened #292 "possibly wrong pivot array from `clapack_getrf`"
I was trying to get the pivot matrix from a matrix with `clapack_getrf`, but after comparing the results with an LU decomposition of the same matrix done in octave, found inconsistency produced in the results returned by calling `NMatrix::LAPACK::clapack_getrf`.

Here is my octave code:

[code]

As you can see, the permuation array returned by NMatrix should be something like `[3,2,1,0]`, but inst

[2014-12-08 17:01] #292 closed, assigned to nobody

[2014-12-08 20:17] andrewcsmith opened #294 "Update RSpec to 3.x"
How about updating rspec to 3.x? Seems like it's about time. Short list:

* Fix the `:cyan` error. (might require some hacking at 3rd party gems)
* Change `be_true` to `be_truthy` if that's what we mean in the context
* Rework `pending` so that they fail rather than throw errors. These *should not* be merely changed to `skip`, as we want the tests to fail (since they're pending). See [this post](h

[2014-12-11 08:15] v0dro opened #299 "Segfault when creating :object NMatrix with nils"
I tried to create a `dtype: :object` NMatrix object with nils and it randomly segfaults sometimes,or sometimes does not.

Try this code to test:

`100000.times { a = NMatrix.new [5], [1,2,nil,nil,nil], dtype: :object}`

Sometimes it segfaults, other times its fine.

[2014-12-11 16:42] #289 closed, assigned to nobody

[2014-12-15 17:58] v0dro opened #302 "#delete_at for vectors"
We can have a delete_at method for 1-D NMatrix objects, where the element's index will be supplied and a vector with that element removed (compact) will result.

For example:

[code]

[2014-12-16 09:18] v0dro opened #304 "Creating a meshgrid from given arrays/vectors"
Create a meshgrid similar to scipy meshgrids.

http://docs.scipy.org/doc/numpy/reference/generated/numpy.meshgrid.html

[2015-01-05 22:47] matt-liu opened #309 "rdoc version requirements are possibly too strict"
We are using nmatrix with a rails 3.2 app.

Our issue is that we cannot use nmatrix without upgrading to rdoc 4.0 and that breaks our dependencies.

Our workaround was to decrease the rdoc requirements to 3.12, and that worked us.

Would you please consider decreasing the requirements in the gemspec to '~> 3.12'?

[2015-01-12 15:34] eddiem3 commented on #199
@andrewcsmith interesting, I'll check it out

[2015-01-12 18:35] mohawkjohn commented on #309
@matt-liu I'm having trouble figuring out where in Rails the 3.12 requirement is. If I look in `rails.gemspec`, I don't see rdoc at all.

[2015-01-12 18:36] mohawkjohn commented on #304
This would be an excellent feature.

[2015-01-12 18:37] mohawkjohn commented on #302
Keep in mind that an NMatrix is not an Array. In Arrays, it's relatively inexpensive to remove an item like this. In an NMatrix, it requires that all the elements be copied into a new vector.

In general, the design philosophy thus far has been to discourage operations that are expensive and more easily done with other data structures — mainly accomplished by not implementing certain functionaliti

[2015-01-12 19:19] #302 closed

[2015-01-13 16:35] mohawkjohn commented on #69
Argh. Seeing this exact same problem again. Lovely.

[2015-01-13 17:35] v0dro opened #310 "Native quick sort"
There is no `sort` function defined on NMatrix currently.

How about a natively implemented quick sort which will accept the axis alongwhich sorting is to be performed and perform a in place quick sort along that axis?

For example:

[code]

The arg will default to 0 otherwise.

[2015-01-16 11:32] v0dro commented on #310
@cjfuller  @mohawkjohn thoughts?

[2015-01-16 14:43] cjfuller commented on #310
I guess I could use some clarification on what usecase you're looking at for this.  Normally the notion of sorting a matrix doesn't really make sense.  Is there some case where this would be helpful?

Personally I'd prefer that if there's not some high-performance usecase for it but you still want it for convenience, you implement sorting as just a pure ruby function that does a `.to_a` (or whatev

[2015-01-16 17:46] v0dro commented on #310
I look at NMatrix as more of an efficient data store that is capable of faster, more robust calculations than the standard ruby library has to offer, at the same time offering more variety to users.

Its more like a replacement for the really heavy data structures that ruby supplies (like arrays), but specifically tailored for high performance computing.

I feel that it should be useful in any rub

[2015-01-16 18:01] agarie commented on #310
But @v0dro, I too can't see a good use case in which you would constantly sort a matrix. How about going with the simpler implementation proposed by Colin (only in Ruby) and, if the need arises, propose a native implementation again? If you are sorting it only once in your program's lifetime, it probably shouldn't be problematic.

By the way, good job in creating issues and pull requests!

[2015-01-16 18:02] mohawkjohn commented on #310
`NMatrix` is not a replacement for `Array`. Arrays do some things (like being reordered) really efficiently; this is what they're optimized for. NMatrix is not optimized for being reordered. Optimizing it for that purpose would cause it to be less efficient on those operations where it needs to be efficient. If that were not the case, we would just submit a whole bunch of patches for `Array` to ma

[2015-01-16 18:03] mohawkjohn commented on #309
@matt-liu Wanted to ping you again about this. Would you like to submit a pull request?

[2015-01-16 18:12] matt-liu commented on #309
Hi John,

The "rdoc 3.12" number was just what was in our Gemfile for our specific project. Sorry for not being more specific about that.

I'm not sure what the best minimum version number of rdoc required would be. I just wanted to let you know that we ended up forking and lowering the requirement for that one reason.

[2015-01-16 18:13] mohawkjohn commented on #309
@matt-liu Does it still work if you move rdoc to `add_development_dependency`?

[2015-01-16 18:16] cjfuller commented on #310
(Note also that ruby's built-in array sort is implemented natively, so it's not completely ridiculous to use it.)

[2015-01-16 18:39] v0dro commented on #310
Hmmm point.

I'll think I'll just code up a `sort` using @cjfuller's approach and send it through in a while. Should make things very convenient.

[2015-01-16 18:43] matt-liu commented on #309
On a very quick check, it looks like that resolves the issue.

[code]

For what it's worth this was the conflict with rails 3.2.19:
(It was actually 3.4 and not 3.12 we needed)
[code]

[2015-01-16 18:46] mohawkjohn commented on #309
Great. Would you be willing to send a pull request with that change? (My Mac's build environment is fubar'd at the moment.)

[2015-01-16 18:46] cjfuller commented on #309
Is there a reason that NMatrix needs a `~>` dependency at all?  Presumably this would have worked if we had just had `>= 3.12.2` in the original?

My proposed solution would be: `gem.add_development_dependency 'rdoc', '>=3.12.2'`

[2015-01-16 18:51] mohawkjohn commented on #309
Actually, I think there *is* a reason. Most of NMatrix is written in C++, not C, and versions of RDoc earlier than 4.0.1 choked on the C++ method declaration syntax (but not the C version). In other words, if you use RDoc earlier than 4.0.1, it's not going to properly incorporate any of the C-side documentation we've worked so hard on. @agarie, was it you who found that bug?

[2015-01-16 18:53] agarie commented on #309
Yes! It's in [rdoc 4.01 History](https://github.com/rdoc/rdoc/blob/master/History.rdoc#401--2013-03-27), "RDoc::Parser::C no longer ignores a (METHOD) cast in rb_define_method.".

[2015-01-16 19:05] cjfuller commented on #309
Ok, thanks!  Good to know!

[2015-01-16 20:05] v0dro opened #311 "Possible anomaly in rational"
Heres my code:

[code]

Shouldnt the numbers be stored as they are specifed?

[2015-01-16 20:10] cjfuller commented on #311
No, this is correct behavior, though confusing.  Ruby evaluates -23/12 via integer division to -2 before NMatrix ever sees it.

So your first line of code is equivalent to:

`a = N.new [2, 1], [-2, 1], dtype: :rational32`, which is exactly what you're seeing.

You need to use ruby's built-in rational class:

`a = N.new [2, 1], [Rational(-23, 12), Rational(6, 5)], dtype: :rational32`

[2015-01-16 20:13] #311 closed

[2015-01-20 19:48] #310 closed

[2015-01-20 19:49] mohawkjohn commented on #309
Fixed by #312

[2015-01-20 19:49] #309 closed

[2015-01-20 20:02] mohawkjohn opened #313 "extconf.rb reports GCC version... gcc"
This only seems to happen on the Homebrew version of GCC, and it only affects the extconf output, not the GCC version selection process, but it needs to get fixed.

[2015-01-26 07:37] v0dro opened #314 "Element wise square root for complex data types"
Currently element wise sqrt can be computed only for non-complex data types.

Having a specialized function for complex, with the same interface (`#sqrt`) would be great.

[2015-01-26 16:48] mohawkjohn commented on #314
There is no `Complex#sqrt`. How is the square root of -_i_ defined, for example?

[2015-01-26 18:25] v0dro commented on #314
Heres a resouce : http://math.stackexchange.com/questions/44406/how-do-i-get-the-square-root-of-a-complex-number

[2015-01-26 18:35] mohawkjohn commented on #314
And the very first answer says it's not well-defined.

[2015-01-26 18:42] v0dro commented on #314
There are ways to compute it. It turns out to be another complex number.

Subsequent answers in that link elaborate on that, plus I found another resource [here](http://mathworld.wolfram.com/SquareRoot.html) which is also interesting.

[2015-01-26 20:27] mohawkjohn commented on #314
The problem is that there are two roots (a positive and a negative complex number) for each complex number. Most of the math functions yield a single number, and square root is expected to yield a single number. You'd have to redefine the operator if you wanted to use it on complex, and I think that's not something we should do without a particularly compelling reason.

[2015-01-26 20:27] #314 closed

[2015-01-27 05:39] v0dro commented on #314
By that logic all numbers can have two square roots (positive and negative), we can just change the implementation such that only the positive complex number is returned, keeping the interface consistent.

[2015-01-27 18:00] mohawkjohn commented on #314
That's arbitrary and not a good way to write a library. Again, I think the more common use-cases support people writing their own complex square root implementations.

[2015-02-01 14:00] v0dro opened #318 "An easier way to create template tables with specific dtypes"
To access a templated C++ function it first necessary to create a function pointer table using something  `NAMED_DTYPE_TEMPLATE_TABLE(....)`.

This is fine if your C++ functions works fine for all NMatrix data types, but gets awkward when it works only for certain data types (say just `float32` and `float64`); which leads to the writing of something like this:

[code]
... if your function works on

[2015-02-01 16:11] cjfuller commented on #318
I'm not sure what the best answer is here.

One thing I don't like about this approach is that it's kind of difficult to include dtype checking (though maybe someone with more C preprocessor macro wizardry than I have could figure out how).  So, if someone just naively only uses the custom template macro, and then calls the method on NMatrix with the wrong dtype, what happens?  Probably a segfault

[2015-02-01 16:51] cjfuller commented on #318
Actually now that I think about it, maybe error handling isn't that big a deal; we could just make the function pointer point to a function that always raises an error about the dtypes.

I still think in general, though, we should think about how we might want some future extensible C <=> C++ templating system to look before adding convenience macros to the current system.

[2015-02-11 21:35] gbuesing opened #319 "Working Yosemite install instructions"
In case this is of help to anyone else -- this is an account of how I got NMatrix to install on Yosemite. Adapted from installation instructions on the [wiki](https://github.com/SciRuby/nmatrix/wiki/Installation#mac-os-x).
Note that step 3 requires an Apple Developer Program membership.

1. install latest version of gcc (4.9) via Homebrew

        brew install gcc

2. link /usr/bin/gcc to homebrew

[2015-02-11 22:16] mohawkjohn commented on #319
This does look helpful; however, are you a member of one of the Apple Developer Programs? I don't seem to have access to XCode 5.1.1 when I login with my Apple ID.

[2015-02-11 22:21] gbuesing commented on #319
I am a member of the Apple Developer Program. I see now that the link is protected by login, unfortunately.

I guess atlas could be installed from source? It's too bad there's no homebrew formula for it. Downloading an old XCode seems a very roundabout way to get a dependency.

[2015-02-11 22:28] mohawkjohn commented on #319
I know. I'm an NMatrix developer and I can't actually use NMatrix. How frustrating. =/

Unfortunately, there's no way to turn off throttling on MBAs, so it's not possible to install ATLAS from source.

[2015-02-11 22:45] gbuesing commented on #319
Could NMatrix be run on Mac OS X via a Linux virtual machine? I assume it wouldn't be as fast as a native install, but it would be much easier to get everything up and running if you could just grab a disk image.

[2015-02-11 23:00] mohawkjohn commented on #319
I think what needs to happen is that we have to abstract out the atlas components from NMatrix and put them in a separate gem — which has been proposed as a GSoC project. Then we can work on providing other implementations for various functionalities.

[2015-02-12 00:08] gbuesing commented on #319
That sounds good.

Until then, I guess Apple Developer Program ($99/year) is required, unfortunately.

[2015-02-13 02:06] andrewcsmith commented on #319
I have NMatrix running on OSX 10.10, with atlas/lapack. It takes a little more work to get atlas running (and my installation is probably not optimized as efficiently as it could be), but it's totally possible. I just did it again when I wiped my hard drive clean about two months ago. Anyway, if you give it a shot and want to send me the errors (or post to sciruby list) then maybe we can fix the b

[2015-02-13 19:59] ajw725 commented on #290
found this because i'm having the same issue...and i do NOT have libatlas.dylib in the 10.10 sdk lib folder, although i did set up a symlink (which didn't help). i get the exact same error message that ChenLiZhan posted.

any advice? mac os x 10.10.1, ruby 2.2.0 via rbenv, and gcc4.8 installed with homebrew.

[2015-02-13 23:06] andrewcsmith commented on #290
Huh. Yeah, I've got libatlas.dylib in the 10.10 sdk, and that's nearly the exact same setup I have. Just did a fresh install of ruby 2.2.0 and unset the C_INCLUDE_PATH and CPLUS_INCLUDE_PATH, and the compile worked but the specs failed.

Anyway, check out the path at:

    /system/library/frameworks/accelerate.framework/Versions/Current/Frameworks/vecLib.framework/Headers

and make sure those have

[2015-02-14 00:35] ajw725 commented on #290
thanks for the help. no dice, though...

    make: *** [nmatrix.o] Error 1
    rake aborted!
    Command failed with status (2): [make...]
    /Users/andrew/.rbenv/versions/2.2.0/lib/ruby/2.2.0/rake/file_utils.rb:66:in `block in create_shell_runner'
...and a whole lot more. happy to post more if any of it will be useful.

i'm going to install atlas too.

[2015-02-16 05:34] ejstembler commented on #319
Is this out of date?

    Error: No available formula for gcc49

Though, if you use just <tt>gcc</tt> it will install version <tt>gcc-4.9.2_1</tt>.  In any case, I still could not get this to install on Yosemite 10.10.2

[2015-02-16 15:49] mohawkjohn commented on #319
Yeah, it looks like you can just do gcc instead of gcc49 now. I'm not sure why gcc49 wouldn't work — it still does for me.

[2015-02-16 17:43] gbuesing commented on #319
Aha, looks like gcc49 is only available after you do ```brew tap homebrew/versions```.

Looks like the latest gcc formula has gfortran enabled by default: https://github.com/Homebrew/homebrew/blob/master/Library/Formula/gcc.rb

[2015-02-16 19:09] gbuesing commented on #319
I successfully installed NMatrix on my backup laptop using just ```brew install gcc`` as the first step (instead of brew install gcc49 --enable-fortran).

I've updated the steps above accordingly.

[2015-02-16 19:43] gbuesing commented on #319
Another simplification to the process -- I tried compiling another ruby version with a simple ```rbenv install``` without the additional flags pointing to gcc et al, and NMatrix installed without error.

I've updated the instructions above. Would be great if someone else could verify that this works -- @ejstembler would you be able to give this a try?

[2015-02-17 17:15] v0dro opened #320 "Support for 128 bit floating point numbers?"
I just read [here](http://en.wikipedia.org/wiki/Quadruple-precision_floating-point_format#Computer-language_support) that GCC supports 128 floating point numbers on intel hardware as data type `__float128`.

Would it be possible to implement this in nmatrix? Maybe only for intel x86 machines?

[2015-02-17 18:06] mohawkjohn commented on #320
Yes — the problem being that ATLAS doesn't support quads. We could do this, but it would need to be part of eliminating the unnecessary rational types. Why only for Intel x86 machines, out of curiosity?

[2015-02-19 01:13] mohawkjohn commented on #319
Wait, you got it to install with clang? That's awesome news.

[2015-02-19 01:19] v0dro opened #321 "Support for C-type nan or inifinity."
Currently if one is to create an `NMatrix` with missing data, the underlying implementation has to be of type `:object` because the NMatrix C-types don't support missing data as of now.

For example:

[code]
As far as I can see in numerical analysis of data, missing data is an integral part of any research and storing the entire NMatrix as super-heavy Ruby Objects if one encounters one `nil` in a

[2015-02-19 01:38] mohawkjohn commented on #321
Nan/infinity is important, but it's part of the floating point specifications, not integers. And NMatrix *does* support Nan/infinity for :float32 and :float64.

[2015-02-19 05:51] v0dro commented on #321
This throws an error:

[code]

How does one initialize an NMatrix with missing values?

My bad, it should be floats not integers.

[2015-02-19 14:15] agarie commented on #321
Try `Float::NAN` or `Float::INFINITY` instead of `nil`.

If I understand correctly, you're suggesting a way to initialize a NMatrix with a Ruby array (e.g. `[1, 2, 4, nil, nil]`) in order to generate `N[[1.0, 2.0, 4.0, Float::NAN, Float::NAN]]`, right? As far as I know, there isn't such a setup right now.

[2015-02-19 14:21] mohawkjohn commented on #321
@agarie is correct.

I would not support re-interpreting nil to mean something else, as it would result in unexpected behavior.

[2015-02-19 14:21] #321 closed

[2015-02-19 17:03] v0dro commented on #321
Ah I wasnt aware of that. Thank you.

IMO we should update the wiki's to reflect the fact that NaN is supported in this manner!

[2015-02-19 17:48] mohawkjohn commented on #321
So go update it. =)

[2015-02-27 10:42] v0dro commented on #321
But it so happens in real life that if you have a data file (say CSV), ruby will typically read that as `nil`, and you'll end up storing as an `:object` array. Storing as `NaN` will require undue and inefficient post-processing on the user's part.

Given this, won't it make sense to interpret `nil` as `NaN` if the rest of the data is also floating point?

Oh and, support for integer `NaN` would al

[2015-02-27 12:31] mohawkjohn commented on #321
That's a problem with the CSV library, not with NMatrix. Fix it in CSV.

Storing an integer NaN would result in losing a bit of capacity for integer. Not worth it, because that means a whole range of numbers won't be available any longer.

[2015-03-05 10:56] v0dro opened #322 "Unsigned integers and string data types for NMatrix?"
It would be great if NMatrix could serve as a Ruby interface to C-type character limited strings and unsigned integers or floats.

For example, to use nmatrix to store some strings values obtained from a database:

[code]
This will store the strings as 4 character C-type strings.

It would be especially useful when CLAPACK functions are abstracted from nmatrix and people want to use it as an effic

[2015-03-05 12:13] v0dro commented on #318
I was reading [numpy's implementation of data types](http://docs.scipy.org/doc/numpy/reference/c-api.types-and-structures.html#c.PyArray_Type), and they use C `structs` for abstracting data types from Python.

To pass the data into a LAPACK function, its just serialized into an array of a specific type and passed into the function. Also, they've used code generators to generate C functions for sup

[2015-03-05 12:18] v0dro opened #323 "Dropping support for Rational data types"
Rational data types are not supported by any of the major C scientific libraries and I think they're a major source of bloat in the nmatrix code because they need their own implementation of CLAPACK functions.

Considering that Rationals can be stored as the nmatrix `:object` dtype, what do you guys think about dropping support for rationals? Is it really worth the effort to support rationals when

[2015-03-05 14:36] v0dro opened #324 "Bug when including "nmatrix.h""
I'm trying to write an nmatrix extension using the C API but I get an error `/home/sameer/.rvm/gems/ruby-2.1.0/gems/nmatrix-0.1.0/../../extensions/x86-linux/2.1.0/nmatrix-0.1.0/nmatrix.h:249:1: error: unknown type name ‘STORAGE’` and `/home/sameer/.rvm/gems/ruby-2.1.0/gems/nmatrix-0.1.0/../../extensions/x86-linux/2.1.0/nmatrix-0.1.0/nmatrix.h:381:3: error: unknown type name ‘NMATRIX’`.

You can se

[2015-03-05 16:32] mohawkjohn commented on #323
I'm fairly sure there's already an issue open for this.

[2015-03-05 16:55] v0dro commented on #323
Cant see any open. But I think I remember someone posting on the mailing list about it once.

[2015-03-05 17:00] v0dro commented on #324
@mohawkjohn any idea on this? I checked SciRuby/rb-gsl and it seems to be working there.

[2015-03-05 18:45] v0dro commented on #324
I just figured this out.

The problem was that macros when compiling with a C compiler (i.e. `__cplusplus` undefined) were prefixed with `NM` which led to a discrepancy.

So if a function said `STORAGE *`, and if the extension was compiled with a C compiler, the macro would actaully be `NM_STORAGE`.

I'm sending a PR in a minute.

[2015-03-05 19:36] cjfuller commented on #324
This is not a bug; we're deliberately putting on the NM prefix as a workaround for C's lack of namespacing.  See the comment starting at nmatrix.h:88.

My guess is that you're seeing compilation problems because you're accidentally compiling one of the C++-only sections of NMatrix with a C-only compiler.

[2015-03-05 19:40] v0dro commented on #324
No I'm including `nmatrix.h` in a C file, C++ has nothing to do over there.

Might it be because of that? So now if I want to use it, do I need to keep `nmatrix.h` in a C++ file, and then call functions defined there from a C file?

[2015-03-05 20:03] cjfuller commented on #324
Ok, sorry, misunderstood what you were trying to do.  Thought you were trying to compile some extra stuff in with NMatrix.

That would be one poossible approach.  I'll need to look at it a little more why this isn't working.  I thought I had done this same thing at some point.

It may be that nmatrix.h:184 needs an NM_ prefix and the stuff at the bottom too, but I think things would have been more

[2015-03-05 20:30] v0dro commented on #324
We can alternatively selectively compile the entire file with `NM_` wherever necessary if a C compiler is found.

[2015-03-05 21:19] mohawkjohn commented on #323
I think that yes, we should probably remove these types. I worry that they're too susceptible to overflow.

I think when they get removed, we should also make a point of adding any other types we think people might want — like float128, if that's something that interests people.

[2015-03-05 21:22] mohawkjohn commented on #322
This should already be doable, using `dtype: :object`. Adding and removing types is decidedly non-trivial, and there's no obvious way to make it easier. Furthermore, adding types increases compile time substantially.

[2015-03-05 21:26] mohawkjohn commented on #318
We actually used to use something similar — all of NMatrix used to be
written in C using templates which we specialized using Ruby scripts. It
was incredibly difficult to maintain and terribly fragile.

What it sounds like you're looking for is the ability to use custom types
that are written in C. You can do this! You just have to write yourself
some Ruby classes written in C, and then use the `:

[2015-03-05 21:39] mohawkjohn commented on #324
Selectively compile which file? The difficulty with `nmatrix.h` is that it's used both internally (by NMatrix) and externally (by other libraries accessing NMatrix's definitions).

@cjfuller is being cautious because he and I have *both* messed up this file before. =)

[2015-03-06 04:55] v0dro commented on #324
Selectively compile `nmatrix.h`, i.e if it is included in a C file and only a C compiler is being used, all the functions at the bottom will use macros `NM_STORAGE` and `NM_NMATRIX` instead of the `STORAGE` and `NMATRIX` that they use now.

Oh and by the way, those macros are written differently as `NM_STORAGE` and `NM_NMATRIX` for C, but thorughout the whole codebase its only `STORAGE` or `NMATRI

[2015-03-06 04:56] v0dro commented on #323
I'd say unsigned and C strings.

[2015-03-06 05:44] v0dro commented on #322
But the whole point of having an efficient C level data store is lost if you end up storing objects!

Ruby strings are VERY inefficient when it comes to storage. This is the reason why I'm suggesting using structs for handling the data types. NMatrix would become very scalable if that is done.

[2015-03-06 13:34] cjfuller commented on #322
That doesn't quite make sense to me.  What general-purpose optimized C operations do people want to do on multidimensional arrays of strings?  I can't think of any (not that that means there aren't any...), and certainly none of the matrix math operations make sense.

In that case, the operations will have to be written in ruby, and there's additional overhead of encoding back and forth between ru

[2015-03-06 13:39] cjfuller commented on #324
Yes, because NMatrix is mostly written in c++ and therefore requires a c++ compiler, which will use non-NM_ versions.

[2015-03-06 16:49] v0dro commented on #324
Thank you!

And the way you've solved it is interesting.

[2015-03-06 17:08] #324 closed

[2015-03-07 20:34] sachaysl commented on #304
So I believe I've implemented such a feature. I haven't yet implemented the Copy or Sparse options or taken a look at Rspec or Rdoc though. I've also assumed the only valid inputs are ruby arrays and nmatrices and I am returning the required grids as nmatrices. What is the best way to proceed?

Perhaps this is now irrelevant as I see Ivan claims to have already implemented this feature.

Sacha

[2015-03-08 18:36] aagarwal-gtr commented on #313
Hi! I am working on this.

[2015-03-10 02:10] wlevine commented on #265
I think I found the problem here. It looks like the lapack functions work with arrays ordered in the fortran-style rather than C-style. By transposing the matrix `a` right before the call to `dgesvd_()` and transposing the matrices `u` and `vt` right after, I get the correct results. Is there a better way to work around this?

[2015-03-11 14:29] wlevine commented on #265
OK, no need to do any transposes. Since M = U S V^T, we have M^T = V S^T U^T, so it's OK if we give lapack the transposed matrix, as long as we tell it it it's n x m instead of m x n and flip the meanings of u and vt. I'll fix this and submit a patch.

[2015-03-11 15:18] wlevine commented on #265
The method described above gives us a valid singular value decomposition, but not the exact same one we would get by calling `dgesvd_` directly on M rather than on M^T. I'm not sure if this is a problem, would people expect our function to exactly match the original lapack one?

[2015-03-11 15:45] wlevine opened #329 "rake compile doesn't rebuild if only .h files modified"
If I modify one of the .h files in ext/nmatrix/math and run rake compile, nothing happens. I need to touch ext/nmatrix/math.cpp to get it to work. I have no idea how rake works, so I don't know if this is an easy fix or not.

[2015-03-11 15:59] cjfuller commented on #329
I think this is actually a combination of the behavior of `make` with the fact that we don't list the makefile targets as depending on header files.  (You can see what the generated Makefile looks like if you run `rake compile` and then poke around in `tmp/x86_64-linux/nmatrix/2.1.1` (substituting your architecture and ruby version number as needed).

I'm not sure whether this is a necessary conse

[2015-03-11 19:52] mohawkjohn commented on #265
Well, it can't, I think. The original LAPACK method is column-major, and our storage is row-major. But I may be misremembering.

[2015-03-11 19:53] mohawkjohn commented on #329
It'd be great to see this problem solved. It's been an issue for a while, though never listed in the tracker (AFAIK).

@cjfuller is correct. I've never found an easy solution, but I may not have looked very hard.

[2015-03-11 19:53] #322 closed

[2015-03-11 19:54] mohawkjohn commented on #320
I'm not putting a milestone on this enhancement because I think it needs some more design work before it can really be considered achievable.

[2015-03-11 19:55] #318 closed

[2015-03-11 19:58] mohawkjohn commented on #299
Probably related to #126, #139, #200, #277.

[2015-03-11 20:00] cjfuller commented on #299
If it is related to those, using `-O0` instead of `-O3` will probably change whether the bug occurs, os it might be worth debugging both ways, even though it will be harder with `-O3` on...

[2015-03-12 02:03] wlevine opened #330 "truncated numbers when creating :complex128 NMatrix"
[code]

Am I missing something here?

[2015-03-13 14:38] agarie commented on #304
@sachaysl yep, it seems he did it. We still need to review his pull request, tho.

[2015-03-16 01:13] spacewander commented on #189
Is it acceptable to cast yale/list matrix into dense matrix in the C code?
It's possible to implement algorithms separately for yale/list matrix, but this will make things more complex. Since we will have 3 types of stype, each has N dtype.

Currently we just support 2×2 and 3×3 matrices, so the extra cost may not be high.

[2015-03-17 15:02] mohawkjohn commented on #189
Hey, sorry, just got back from vacation. I think it's probably preferred that casting only happen for very small matrices, and then there has to be some consideration of the trade-offs. For example, is it cheaper to cast and then calculate the determinant as a dense, or is it cheaper to simply calculate the determinant of a 3x3 yale matrix in Ruby code?

I suppose perhaps this issue is kind of a b

[2015-03-17 15:04] #330 closed

[2015-03-17 15:11] spacewander commented on #189
@mohawkjohn
So after checking the stype of a NMatrix, we need to do three actions according to the stype:

1. Dense: use old implementation to handle it
2. Yale: develop a new way to handle it
3. List: cast it to dense one.

Am I correct?

[2015-03-17 15:32] mohawkjohn commented on #189
List: cast it to Yale, probably, unless it's got more than a certain number of elements in it. You'll want to derive an expression for when it's more efficient to cast to Yale and when more efficient to cast to dense.

[2015-03-19 11:55] spacewander opened #337 "yale matrix's ndnz isn't initialized during the initialization of yale matrix"
When I try to implement `det_exact`, I find a strange behavior:

The `ndnz` of yale matrix(YALE_STORAGE) will always be `0`, regardless of what initial value is given.
But, if the yale matrix is cast from other matrix, the `ndnz` will be a correct value.

I read the code and find out that two special functions will be called to initialize yale matrix:
1. `storage/yale/class.cpp:init`
2. `storage/y

[2015-03-19 15:12] mohawkjohn commented on #337
It's been a really long time since I looked at the source code for Yale, unfortunately. You could look at the changelog for that file and try to figure out what's going on with ndnz, or search around in the comments, but off the top of my head I don't know. =(

[2015-03-19 16:33] #265 closed

[2015-03-19 16:42] spacewander commented on #337
It seems that `ndnz` is only set to 0 in the initialization of yale matrix from the time the functions were written...

A quick look at:
https://github.com/SciRuby/nmatrix/blob/c9ff3d0e68bea9213550bdc984a1f3a368633077/ext/nmatrix/storage/yale.cpp#L1445
And
https://github.com/SciRuby/nmatrix/blob/master/ext/nmatrix/storage/yale/class.h#L556

[2015-03-19 16:44] mohawkjohn commented on #337
How would you go about fixing it?

[2015-03-20 01:04] agisga opened #339 "#symmetric? and #hermitian? for non-dense matrices"
It is probably not very hard to add Yale and List matrix support to `#symmetric?` and `#hermitian?`. It should go in `nm_symmetric` and `nm_hermitian` in `ruby_nmatrix.c` as far as I can tell. The dense methods are in `dense.cpp` and might be useful to look at when writing the code.
There is also a Ruby version for `#hermitian?` (but none for `#symmetric?`) in `math.rb`, which does not defer to th

[2015-03-20 02:44] spacewander commented on #337
What about calculating the `ndnz` after `a` and `ija` are filled in the `init` function?

[2015-03-20 16:00] mohawkjohn commented on #337
What happens when elements get deleted? What happens when the matrix's non-diagonal default is non-zero?

[2015-03-23 16:06] spacewander commented on #337
Well, I added a function called `yale_ndnz` just now. It can be checkout from https://github.com/spacewander/nmatrix/tree/ndnz
This function works like `yale_ija` and `yale_a`, it prints the value of `ndnz`.
With its help, I can test the `ndnz` of some calculation results. It seems that some calculation don't update `ndnz`.

For example:
[code]

---

`ndnz` should be equal to `ija[shape[0]] - ija[

[2015-03-25 07:23] v0dro opened #344 "Allow storing matrices in row major or column major form"
Most numerical libraries being in FORTRAN, conversion to column major form is needed to send data into the matrix.

If NMatrix could support an attribute that gave an idea if the storage is in row major or column major form, users can directly specify data in col-major form and avoid transposing values each time a FORTRAN-derived function is called (like CLAPACK). Of course this can still be done

[2015-03-30 01:26] tbbooher commented on #290
agreed -- no dice for me either

[2015-03-30 16:03] mohawkjohn commented on #344
Adding such an option would dramatically complicate a lot of methods that depend on storage order. I'm inclined to mark this wontfix.

[2015-03-30 16:15] mohawkjohn commented on #337
It seems like `ndnz` is defined as being part of the IJA array, isn't it? So have we duplicated this by including it in the Yale struct also?

Argh, frustrating trying to figure this out. It's been so long since I wrote this code.

[2015-03-30 17:07] v0dro commented on #344
So I'm also suggesting that column major can just be a 'view' into the data, not the way the data is actually stored. Wont this make things simpler?

[2015-03-30 19:18] mohawkjohn commented on #344
Could you possibly reuse the reference slice code to accomplish this? Those are basically views.

[2015-03-31 02:32] hbcbh1999 commented on #319
I'm compiling nmatrix on Yosemite 10.10.3. Is there anyway I can download xcode 5.1.1?? I'm not an apple developer.

linking shared-object nmatrix.bundle
ld: library not found for -latlas
collect2: error: ld returned 1 exit status
make: *** [nmatrix.bundle] Error 1
rake aborted!
Command failed with status (2): [make...]
/usr/local/lib/ruby/gems/2.2.0/gems/rake-compiler-0.9.5/lib/rake/extensiontask

[2015-03-31 14:16] spacewander commented on #337
Well, `ndnz` can be calculated out each time we need.
Keeping the value of `ndnz` in Yale struct can save a little calculation, but it will bite us if we forget to update `ndnz` after changing elements. Considering with the effort to maintain `ndnz`, keeping `ndnz` may cost more.

IMHO, `ndnz` is not so useful, and may be duplicate.

[2015-03-31 14:34] mohawkjohn commented on #337
I suspect one reason I didn't remove it before is that it causes the data in yale, list, and dense to be in the same relative memory location.

[2015-03-31 21:16] #304 closed

[2015-04-02 18:07] agisga commented on #154
@thisMagpie did you have any luck with that? Or any insights for me if I want to work on this issue?

This feature would be extremely beneficial for a mixed models gem (which is one of the GSoC 2015 ideas).

[2015-04-03 18:29] mohawkjohn opened #348 "Anonymously submitted patch to make NMatrix packable needs specs and docs"
Here's the patch: https://github.com/mohawkjohn/nmatrix/blob/packable/lib/nmatrix/io/packable.rb

Here's example usage for the patch:

[code]

Here's example usage for rinruby:
[code]

It needs specs (not testing rinruby, but testing `write_packed` and `read_packed`. It also needs docs in the standard format.

[2015-04-12 18:20] v0dro commented on #344
Will check it out and get back to you.

[2015-04-23 22:39] agarie opened #351 "mean, variance and std return a Float when the resulting shape is [1,1]"
For example:

[code]

A coworker was writing a script with NMatrix today and was surprised with the current behavior. What do you folks think about returning the value itself (e.g. `u.mean # => 0.4150842066663941`) in this case?

[2015-04-24 00:30] cjfuller commented on #351
I agree that this is confusing.  I think we briefly discussed it in #92 where they were added.

I had originally argued that this way was better because otherwise, you either have to reduce the number of dimensions everywhere (in which case you can't slice assign the mean back to one of the rows, e.g., in a higher-dimensional matrix), or you have to have inconsistent behavior, where it only reduce

[2015-04-24 13:53] agarie commented on #351
Alright, I'll send a pull request today!

[2015-04-24 17:53] mohawkjohn commented on #351
Just please make sure it works for 3+-dimensional matrices.

[2015-04-24 18:37] agarie commented on #351
Hmmm, no, not yet. The problem with this approach is that we'll introduce a lot of coupling in the definitions of `#mean`, `#variance` and `#std`.

What would solve this issue (but change the behavior of these methods altogether) is always flattening the matrix when applying these methods, except when `dimen` is specified. This is similar to what Numpy does, AFAIK.

Something like:

[code]

What d

[2015-04-24 19:24] cjfuller commented on #351
So long as the old behavior is still accessible, it's not a big deal to do it this way, I don't think.  I could still do what I was doing before by changing `.mean` to `.mean(0)`.

I personally find the auto-flattening behavior surprising, probably because I was previously more used to matlab than numpy.

matlab does:
[code]

numpy does:
[code]

Either way works for me, though, so long as we docum

[2015-05-05 18:17] v0dro opened #353 "Namespace-safe API for accessing dtype and stype enums in C API"
Currently the data type enums are defined like [this](https://github.com/SciRuby/nmatrix/blob/master/ext/nmatrix/nmatrix.h#L223).

When including `nmatrix.h` in a C file, the macro expands to something like:

[code]

it so happens that to call these enums in a file that includes `nmatrix.h`, one just needs to say `INT8` and the relevant enum value (1 in this case) will be properly selected.

The p

[2015-05-05 18:45] mohawkjohn commented on #353
No it doesn't. Look at lines 166 and 198. These resolve differently for C and C++.

[2015-05-05 19:18] v0dro commented on #353
For a C compiler its not enclosed in any namespace and its not possible to call something like `nm_dtype_t::FLOAT32`.

Thus the enums ultimately resolve to:
[code]

I used `FLOAT32` in code. I did not need to use `NM_FLOAT_32`

[2015-05-05 22:20] mohawkjohn commented on #353
That's odd. I was sure they used to be prefixed with `NM_`. Thanks for pointing this out. @cjfuller, do you have any recollections on this topic?

[2015-05-06 06:16] v0dro opened #355 "Test harness for functions and structs in C extension"
A test harness that will check if all values in the C structures have been set correctly and that helper functions that only deal with internal stuff are logically correct would greatly simplify work for future contributors, and make nmatrix more fool-proof.

[2015-05-06 06:36] v0dro opened #356 "(NMATRIX)-> count is never set to actual number of elements in the nmatrix"
The main nmatrix data structure contains [an element called 'count'](https://github.com/SciRuby/nmatrix/blob/master/ext/nmatrix/nmatrix.h#L152) which is supposed to store the total number of elements in an NMatrix.

It so happens, that once the `count` struct element is set to `1` in [` nm_dense_storage_create_dummy`](https://github.com/SciRuby/nmatrix/blob/master/ext/nmatrix/storage/dense/dense.c

[2015-05-06 06:39] v0dro commented on #355
This might be useful: https://github.com/karottenreibe/rake-tester

[2015-05-06 06:41] v0dro commented on #355
http://www.rottenrei.be/posts/2009-10-30-ruby-c-extension-7/

[2015-05-06 13:31] cjfuller commented on #353
Huh, odd, I could have sworn they were prefixed too, but clearly not!

I guess this could be solved kind of analogously to the fix in #326 (possibly even replacing the fix there?) by defining a macro `PFX` (for "prefix") that adds a prefix in C and not in C++ mode?

so something like:

[code]
and then e.g. lines 217-220 would be:

[code]

... pretty ugly, though.

I presume that there is no way to

[2015-05-06 13:41] mohawkjohn commented on #353
@v0dro Can you check the version history for this file and confirm that the prefixes didn't used to be there? I'm almost sure they were, and maybe it's just a matter of seeing how we did it before.

[2015-05-06 13:59] v0dro commented on #353
Ok I'll report back to you tonight.

[2015-05-06 14:24] cjfuller commented on #356
Oh, bah, that's totally my fault, sorry.  That should be:
`s->count = nm_storage_count_max_elements(s);` at `dense.cpp:216`.  Not sure what I was thinking...

Will fix.

[2015-05-06 14:27] v0dro commented on #356
We can also add a function `NMatrix#count` which retrieve `s->count` instead of relying on `Enumerable#count`. Should be faster.

[2015-05-06 14:41] cjfuller commented on #356
Hmm, maybe that's actually a recipe for segfaults, and count should mirror what's in elements.  Going to set count to 0 in `nm_dense_storage_create_dummy`, and then update to the correct count in `nm_dense_storage_create` instead.

[2015-05-06 16:06] cjfuller opened #358 "complex_conjugate (non-bang) version in C is broken"
We define `complex_conjugate` (no exclamation) both in `ruby_nmatrix.c` and in `math.rb`.  The one defined in ruby overwrites the C version, so the C version is untested.

The C version uses an uninitialized variable for the destination NMatrix and is totally broken.  We should either remove it, or fix it and remove the ruby version.

[2015-05-07 03:50] yoongkang commented on #319
Is ATLAS the only thing preventing a build on Yosemite at the moment?

If so has anyone tried to build ATLAS from source? If not I'll take a crack, and maybe update the docs.

[2015-05-07 04:02] hbcbh1999 commented on #319
Just realized this post is about compiling nmatrix on Yosemite, which I
posted months ago. It's pretty easy. We don't need Xcode5.1.1. Just google
Atlas package and compile it first then nmatrix. Everything will be
straightforward.

On Wed, May 6, 2015 at 11:50 PM, Yoong Kang Lim <notifications@github.com>
wrote:

--
Hao Zhang
Dept. of Applid Mathematics and Statistics,
Stony Brook University,
Sto

[2015-05-07 04:45] mohawkjohn commented on #319
Actually, compiling ATLAS correctly on MacBooks is nontrivial. No obvious
way to turn off processor throttling. If someone could find out, that would
be awesome.
On Thu, May 7, 2015 at 12:02 AM Hao Zhang <notifications@github.com> wrote:

[2015-05-07 14:38] agarie commented on #319
Expanding on John's comment: the problem with ATLAS on a MacBook is not that you can't compile & install it, this is totally possible. The real problem is that you can't turn off processor throttling, so the optimization step of the installation isn't trustworthy. (at least from what I remember, it's been a *long* time since I tried installing ATLAS on my MBP)

If you aren't interested in performa

[2015-05-07 18:01] mohawkjohn commented on #319
Agreed! It'd be lovely to have some instructions.

[2015-05-10 17:47] v0dro opened #359 "nmatrix extension to support math on matrices with missing data"
Say I have an NMatrix:
[code]

Currently calling `n.mean` produces `NAN`. It would be great if an optional extension could be created (after @wlevine's project is done) for producing meaningful output by skipping the `NAN`, wherever it occurs in the vector.

[2015-05-10 21:32] wlevine opened #360 "LAPACK getrf/getri function and spec broken"
getri is supposed to compute the inverse of a matrix. In the spec we test getri on
[code]
and compare the result with
[code]
We can check that `a` and `b` are not inverses of each other.

This is another case of feeding row-major arrays into LAPACK functions that expect column-major arrays.

I suspect that this is not the only LAPACK function that is broken. At some point, I will check them all an

[2015-05-10 21:37] wlevine commented on #360
Wait, I take that back, `a` and `b` actually are inverses. I definitely remember finding something wrong with these functions, I will have to check exactly what it was.

[2015-05-10 22:32] wlevine commented on #360
OK, it's easier to see if you just look getrf by itself. getrf is supposed to do an LU decomposition with [output as described here](https://software.intel.com/en-us/node/520877) (it's also the precursor to getri). If you look at [our spec for getrf](https://github.com/SciRuby/nmatrix/blob/master/spec/lapack_spec.rb#L73), you can check the example and see that it doesn't give a proper LU decomposi

[2015-05-11 16:25] mohawkjohn commented on #360
As in the spec is wrong, or the result doesn't match the spec but it's still passing?

[2015-05-11 16:28] #356 closed

[2015-05-11 17:16] wlevine commented on #360
The spec is wrong.

[2015-05-11 17:58] v0dro commented on #199
We might want to create this as another extension later...

[2015-05-11 20:20] mohawkjohn commented on #360
Oh, yes, I just saw the first post you wrote on it. Good catch.

[2015-05-12 05:27] v0dro commented on #353
Couldn't find any evidence of presence of prefixes in the history of the file.

[2015-05-12 18:44] v0dro opened #362 "Speed up nmatrix basic stats and aritmetic operations"
NMatrix statistics and math methods are painfully slow.

For example,

[code]

Maybe port them to C?

[2015-05-12 19:59] mohawkjohn commented on #362
Eww, that is painfully slow. However, I'd like — if possible — a little more information on *why* it's slow.

I notice that `mean` calls `inject_rank`:

https://github.com/SciRuby/nmatrix/blob/721942cc865f01c3d1092868c8aeb6e4bed40466/lib/nmatrix/enumerate.rb#L217

I notice that `inject_rank` creates a new `NMatrix` object — as does `each_rank`, probably, in the form of a reference.

I'm not sure t

[2015-05-12 20:02] mohawkjohn commented on #359
You can always just monkey-patch `mean` in whatever code you wanted the different behavior in.

[2015-05-12 20:02] #359 closed

[2015-05-13 09:55] v0dro commented on #359
Why not create an optional extension (or plug-in) that will implement certain algorithms differently? I'm saying put this in the mainline nmatrix code.

The scope of the code will increase manifold.

[2015-05-13 11:12] mohawkjohn commented on #359
That's what a monkey patch is.
On Wed, May 13, 2015 at 5:55 AM Sameer Deshmukh <notifications@github.com>
wrote:

[2015-05-13 15:46] v0dro commented on #359
What I'm saying is, have an official nmatrix extension, like nmatrix-lapacke is going to be. Not specific to a particular library.

[2015-05-13 17:48] mohawkjohn commented on #359
Anyone can write this, but what would be the design philosophy of such a gem?

[2015-05-13 17:53] v0dro commented on #359
I'm not sure I completely understand what you mean. Are you talking about usage scenarios?

[2015-05-13 19:43] mohawkjohn commented on #359
Okay, let's do a thought experiment. I create a gem called nmatrix-nanless. In the gem summary, I say, "NMatrix monkey patches which ignore NaN in all statistical calculations because NaN sucks."

Or would I say, "NMatrix monkey patches which make some arbitrary changes to NMatrix which you'll just have to read the code to understand," and call it nmatrix-readthecode?

How would you sum up what th

[2015-05-14 04:26] v0dro commented on #359
"Statistical and arithmetic algorithms for NMatrix for dealing with missing data"

[2015-05-14 15:32] mohawkjohn commented on #359
NaN is *not* missing data.

[2015-05-14 17:15] agarie commented on #359
You can represent missing data in a few ways, e.g. using a specific object (`Object.new`?) or even NaN. I think Pandas uses `numpy.nan` as its Not Available (NA) value; I have no idea about R.

If I remember [IEEE 754](http://en.wikipedia.org/wiki/IEEE_floating_point) correctly, NaN has some bits that can be used as a "payload", meaning you can encode some information in it. Thus it should be poss

[2015-05-14 17:23] v0dro commented on #359
That's what NaN is treated as in most of the applications that I've come across! (pandas - as Carlos points out - for example). I'm just being specific about NaN because that's what I usually come across in most of the data crunching code that I've written.

I agree that NaN is not _always_ treated as missing data and any other value can be potentially treated as missing (for example `nil` or an a

[2015-05-14 17:56] mohawkjohn commented on #359
If you can find a way to encode `NMatrix::NA` on `NaN`, I say go for it. But I don't want to introduce a behavior that is counter-intuitive just because NumPy does it.

[2015-05-14 17:56] agarie commented on #359
`NMatrix::NAN` shouldn't be confused with "having functions that ignore NAN values". I also think that we shouldn't have this behavior in NMatrix. :-)

I think we should have a library for data analysis (hint: daru) that implements this behavior on top of NMatrix. This seems the saner option.

[2015-05-14 18:00] mohawkjohn commented on #359
Yes. I'd also point out that totally changing the behavior of methods in one library by inclusion of another is something that many Rubyists recommend against. It's a reason people don't like monkey patches. Obviously we ignore that "rule" a lot, but it's still worth keeping in mind.

[2015-05-15 17:01] agarie commented on #362
Yeah, we do need more specific benchmarks (not only in this case, but running benchmarks so we can assert that no performance degradation is happening in future updates).

[2015-05-15 20:41] wlevine commented on #362
I profiled Sameer's example (except with 100000 elements): https://rawgit.com/wlevine/f4f6954e14b0718f10df/raw/nmatrix_sum_profile.html

It doesn't look like there is just one culprit.

One thing I noticed is that it was spending a lot of time in NMatrix#cast, but for this example it shouldn't have to do any casts. So I tried a fix to avoid this: https://github.com/SciRuby/nmatrix/compare/master..

[2015-05-15 20:56] mohawkjohn commented on #362
Well, I think there's an easier way to do what you did in that fix. Keep in mind that each_with_indices is going to call dense_map also, so you're adding an extra layer there. Simply put, sometimes it's casting a matrix of, say, type :float64 to :float64, which is unnecessary.

So you just need an if statement in that function which checks whether to cast or not. That should give you more of a spe

[2015-05-15 21:13] wlevine commented on #362
The issue is that dense_map always returns a :object NMatrix. So in the original code, the cast is necessary.

[2015-05-15 21:25] mohawkjohn commented on #362
Oh, true. Well, in that case, I'm having trouble figuring out why your modification should be faster than what was there before. It seems like you're doing an extra copy. Hmm.

[2015-05-15 23:14] cjfuller commented on #362
Doesn't the modification use `nm_dense_each_with_indices` internally and not `nm_dense_map`?

That does something slightly differently, in that it would cast each element individually from a ruby object to the appropriate dtype (during slice assignment), but doesn't actually construct an intermediate object dtype nmatrix.  That could possibly account for the 10%?

Agree with John that we should fi

[2015-05-15 23:18] mohawkjohn commented on #362
I don't think "Let's reimplement in C" is a good strategy every time something is too slow. I mean, a lot of this stuff was written in C and it made compilation incredibly slow, and also maintenance was impossible.

[2015-05-20 20:21] xjlin0 commented on #290
Hi ChenLiZhan:

https://github.com/phracker/MacOSX-SDKs
I just download 10.8 SDK from the above link, symbolic link the libatlas.dylib described in your first post, and bundle exec rake compile just works on my 10.10.3.

[2015-05-21 15:59] mohawkjohn commented on #362
One fear I have is that our strategy for avoiding garbage collection is creating a lot of overhead. Is that a possibility?

[2015-05-21 16:00] mohawkjohn commented on #353
In that case, please do submit a patch. They should be `NM_BYTE`, etc.

[2015-05-21 17:05] cjfuller commented on #362
It's a possibility.  I did some general benchmarking back when I added it, and it was sort of in the ~5% slowdown range on average, but I don't think I benchmarked this thing in particular, which certainly makes more than average usage of it.  Definitely worth looking into.

[2015-05-21 17:26] v0dro commented on #362
How about we follow a coding strategy where creation of ruby objects in C code is  done _only_ when _absolutely_necessary?

All the other times they'll be created in ruby and passed down to C. This might make functions larger but I dont think that should be a big problem.

i say this  because as far I know objects created in ruby dont need the special GC protection mechanism employed in nmatrix.

[2015-05-21 17:36] cjfuller commented on #362
I think that in the mapping functions, all the ruby objects *are* created in ruby.  In particular, the special GC protection has to address the case where the following happens:

- NMatrix (say a float dtype) yields float to ruby
- ruby does some operation that returns an object
- NMatrix stores the object that was created in ruby
- NMatrix yields next float, now there's no longer a reference to t

[2015-05-24 19:00] sam0x17 opened #363 "Compatibility with Rubinius / Ubuntu 14.04"
Is nmatrix compatible with rubinius? Following the installation guide on the wiki and using Ubuntu 14.04 and rubinius 2.5.2, the following error is occurring for me. When I use ruby 2.2.0, I am able to install nmatrix just fine.

[code]

[2015-05-25 13:47] agarie commented on #363
Hi Sam! As far as I know, no one ever tried to install or use NMatrix in Rubinius. We developed it with MRI in mind. I'm not familiar with Rubinius to assert how hard it would be, but having NMatrix work with other Ruby implementations seems definitely a good thing.

Can you tell us more about why you want to use NMatrix in Rubinius?

By the way, @wlevine is a Google Summer of Code student working

[2015-05-26 13:55] v0dro opened #364 "Searching for nmatrix.h on Travis CI"
I'm trying to get [gsl-nmatrix](https://github.com/v0dro/gsl-nmatrix) to test properly on this [Travis build] (https://travis-ci.org/v0dro/gsl-nmatrix/jobs/64093509), but the build fails every time because `Gem::Specification.find_all_by_name` is [unable to load the require paths of nmatrix.h](https://travis-ci.org/v0dro/gsl-nmatrix/jobs/64093509#L273).

I tried using `Gem::Specification.find_by_n

[2015-05-26 14:11] blackwinter commented on #364
Since you switched to Bundler, you need to use `bundle exec rake` instead of `rake` in your `script` setting. In the current form, `Gem::Specification.find_by_path` doesn't know about Gems installed through Bundler.

[2015-05-26 14:24] v0dro commented on #364
Ok that worked thanks!

[2015-05-26 14:24] #364 closed

[2015-05-27 14:00] samkelly commented on #363
Hey thanks for reaching out. I am doing some computer vision research and would like to be able to use the easy-to-use syntax of ruby with my research without sacrificing too much performance (in particular, I need support for true parallel threading unlike what MRI has). Rubinius meets my needs in this respect (as does JRuby, but for now it looks like Rubinius is easier to use). I want to use the

[2015-05-27 14:04] samkelly commented on #363
@wlevine would be great if you could work on this it would be much appreciated!

[2015-05-27 14:06] agarie commented on #363
I think @mohawkjohn and @cjfuller will find this discussion interesting as well.

[2015-05-27 14:39] agarie opened #367 "Prepare the next release"
Hey folks, we need to have a clear roadmap for the next release (be it 0.1.1 or even 0.2.0). A checklist with the necessary steps (e.g. see last pull requests/issues and update History.txt, pending issues) should be enough. A deadline would be even better.

Any ideas?

[2015-05-27 15:24] agisga opened #368 "#det and #det_exact disagree"
When working with NMatrix today, I noticed the following strange behaviour:

[code]

The correct determinant should be -2, as computed by `#det_exact` but not by `#det`. Am I missing something here?

[2015-05-27 16:19] cjfuller commented on #363
My memory of this is hazy, so don't hold me to this, but I think I did actually try to get it to work on a much earlier version of rubinius (years ago), and concluded it was maybe possible.  At least back then, their goal was to maintain compatibility for C extensions (haven't checked in on rubinius in a while, so I don't know if this is still true).

Beyond just getting it to compile, one thing t

[2015-05-27 16:22] brixen commented on #363
Hey folks, I can give you some pointers to get this working with Rubinius:

1. The MRI C-API has no standard representation. By that I mean that there is zero separation between the C functions MRI uses to implement Ruby and the C functions that C-exts should use. For this reason, many many C-exts just use whatever C function they find useful at the moment. The problem with this as that numerous M

[2015-05-27 16:48] mohawkjohn commented on #368
Oy. Definitely a bug. #334, #347 may be related.

[2015-05-27 16:49] mohawkjohn commented on #367
I keep wanting to do a release but then we find a new major bug.

[2015-05-27 17:26] cjfuller commented on #363
Awesome, thanks for the detailed pointers!  We'll have to do some more investigation before we can figure out how hard this would be (in particular exactly how often we're relying on what the internal structures look like), but this is a great help.

[2015-05-27 17:28] samkelly commented on #363
By the way, in my use case, I won't be needing to do any synchronization on
nmatrix matrices... I'll have a few shared matrices that are used by
multiple threads but in a read-only fashion.

On Wed, May 27, 2015 at 1:26 PM, Colin J. Fuller <notifications@github.com>
wrote:

[2015-05-29 19:23] wlevine opened #369 "Parallel builds for nmatrix"
I think this would be nice to have. Presumably all you would need to do is have rake invoke `make -jN` instead of `make`, but I haven't figured out how to do that.

[2015-05-29 19:55] mohawkjohn commented on #369
This might be one to ask of the Rake people, or possibly even Ruby-core since that's who maintains extconf.rb.

[2015-05-29 20:02] wlevine commented on #368
det calls getrf, so I suspect this might be due to #360

[2015-05-29 20:05] mohawkjohn commented on #368
Oops. In that case, I'm going to mark this as a duplicate of #360 and close it. Thanks, @wlevine.

[2015-06-01 18:57] wlevine commented on #329
This still doesn't work for me. The Makefile targets still don't depend on the header files. Did this fix work for anyone else?

[2015-06-01 22:47] wlevine commented on #360
OK, I was wrong about this. I was misinterpreting the output from getrf. According to the ATLAS convention for row-major matrices, the upper matrix is supposed to have unit diagonal elements, but I was assuming it was the lower matrix. I think the current behavior is correct. The det thing is a different issue, I'll submit a PR for that.

[2015-06-02 14:22] agarie commented on #360
@wlevine please update the documentation accordingly. If you thought it was wrong, probably others will too.

[2015-06-02 14:58] wlevine commented on #360
Good point. The comments in the C code are accurate (which is how I figured out what was going on), but they don't seem to be reflected in the documentation. The documentation from the ruby code seems a little confused, and I can fix that. It looks like there is a way (http://rdoc.rubyforge.org/RDoc/Parser/C.html) to get rdoc to process C files, do we use this currently?

[2015-06-02 16:42] agarie commented on #360
I think that we should use YARD and [Rubydoc](http://www.rubydoc.info) from now on. You can find [NMatrix documentation on Rubydoc](http://www.rubydoc.info/github/sciruby/nmatrix/master). (I probably should take the job of converting the docs to YARD...)

I'm not sure why the comments in C source aren't being reflected in the docs, by the way. I will need to investigate.

[2015-06-03 18:50] mohawkjohn commented on #329
Hmm. Apparently I actually asked about this exact thing on StackOverflow. Not sure why I never got around to implementing it:

http://stackoverflow.com/questions/18685355/extconf-rb-how-do-i-generate-makefile-targets-dependent-upon-header-file-change

[2015-06-04 00:35] wlevine opened #373 "BLAS specs for complex types should test with complex numbers"
Not sure if this is really necessary, but #372 seems to suggest that it might be a good idea.

[2015-06-04 00:43] wlevine commented on #329
It's a pain because you need to maintain a list of all the header files a particular C file depends on... you don't need to do it by hand, gcc can generate the dependcy file for you... but then you need to make a script to make gcc do it for you... and then you would want it to automatically regenerate the dependencies anytime anything changed... sigh

[2015-06-04 00:54] mohawkjohn commented on #329
It'd be lovely if mkmf supported CMake.
On Wed, Jun 3, 2015 at 8:43 PM wlevine <notifications@github.com> wrote:

[2015-06-06 04:22] agisga opened #374 "#clapack_gesv and #cblas_trsm for matrix-valued systems require taking transposes before and after"
For my linear mixed models gem I was trying to figure out a way to solve linear systems of the form A*X = B, where A is a nxn matrix, B and X are nxp matrices (without taking the inverse of A). After much trying, the only way that works is

[code]

That is, I have to take an additional transpose of `b` before applying `clapack_gesv`, and then transpose the result.
Interestingly, that issue does no

[2015-06-07 17:37] agisga commented on #374
I get the same issue when trying to solve triangular matrix-valued systems with `#cblas_trsm`.
If `a` is lower triangular, and `b` is a nx1 NMatrix the following solves the system A*x=b just fine:

[code]

But if `b` is a nxm NMatrix with m>1, then I have to take transposes:

[code]

I cannot make it work without taking transposes...

[2015-06-08 14:21] wlevine commented on #374
Argh, I just went through and tested all these functions. I actually thought gesv was working fine, but only because I only tested the case where b is a vector.

[2015-06-08 15:47] mohawkjohn commented on #374
You two are running into some of the problems I encountered when testing these functions. There are a lot of functions, each with edge cases. My apologies for creating bugs years ago that are now haunting you. =/

[2015-06-08 17:05] mohawkjohn commented on #368
Fixed by #370

[2015-06-08 17:05] #368 closed

[2015-06-09 18:12] minad opened #375 "narray vs nmatrix?"
Both libraries seem to be maintained. Why are these projects separate? Many new libraries still rely on narray, e.g. ruby-netcdf

[2015-06-09 19:15] mohawkjohn commented on #375
It appeared that NArray was not being maintained (there were rumors of a rewrite, but no news for a long time), so I went ahead with building NMatrix.

[2015-06-09 19:27] agarie commented on #375
Merging NMatrix and NArray would be no trivial matter, but it "sounds" really cool. What do you think, @masa16? :)

[2015-06-10 14:10] agarie commented on #367
I see, but we should at least specify a set of issues that must be solved before release. How about: #358, #360, #373 and #374. What do you think?

[2015-06-10 23:07] minad opened #376 "update source link to point to https://github.com/SciRuby/nmatrix"
login and edit rubygem https://rubygems.org/gems/nmatrix

[2015-06-12 14:44] wlevine commented on #369
The rake folks suggest using `MAKE="make -j8" rake ...`: rake-compiler/rake-compiler#114

That seems good enough for me. We probably don't want this by default (unless our build times get way longer), so I'll close this issue.

[2015-06-12 14:44] #369 closed

[2015-06-12 14:55] agarie commented on #369
Did you test it locally, @wlevine? If this really cuts down the build time, we should suggest it on the installation guide. :+1:

[2015-06-12 15:10] wlevine commented on #369
On my machine it cuts the build time in half from ~3 min to ~1.5 (with -j4). You don't get a full 4x speedup because there are one or two files that take way longer to compile and so by the end of the build some of the cores are idle.

I also checked that the same trick works when building with `gem install`, so that's good to know also.

[2015-06-23 17:32] agisga opened #377 "Developement version of NMatrix bloats RAM"
I have traced some bad memory behavior of my mixed models gem to some recent updates of NMatrix (though I don't know which ones exactly).

Here is a simple memory usage comparison between the newest development version of NMatrix and the NMatrix gem (which is an older version). I ran the following code on both versions. Results below.

[code]

With the NMatrix gem, I get:

[code]

With the most re

[2015-06-23 17:46] mohawkjohn commented on #377
@agisga Can you run a `git bisect` between the two versions and see if you can track down a specific commit?

[2015-06-23 18:30] agisga commented on #377
`git bisect` says:
(a66a790247e94f1ba13dc1dfea11497f6267db20](https://github.com/SciRuby/nmatrix/commit/a66a790247e94f1ba13dc1dfea11497f6267db20) is the first bad commit

Maybe somebody can confirm that there is a problem and that it's not somehow specific to my system.
(`git bisect` is really neat!)

[2015-06-23 18:32] wlevine commented on #377
I see the same problem.

[2015-06-23 18:37] cjfuller commented on #377
Oh, bah.  I see what the problem is.  That's a reference count and not actually an element count, so when I changed it that means that we no longer free the underlying storage.  Terrible name choice on my part, since there's also a local variable named count that's the element count.  Feel free to `git revert` that commit.

[2015-06-23 18:39] cjfuller commented on #377
Also cc @v0dro, since you're probably relying on that being an element count and not a reference count (as seen in #356).

[2015-06-24 13:57] #377 closed

[2015-06-24 13:59] mohawkjohn commented on #376
Check it now?

[2015-06-24 14:16] #376 closed

[2015-07-01 13:06] v0dro opened #382 "Extension to work with timestamps and time ranges"
It would be useful to have an extension for managing time stamps and ranges at C level, to perform things faster and avoid bloat by using the ruby `Time` class.

Maybe something on the lines of this: http://docs.scipy.org/doc/numpy/reference/arrays.datetime.html

[2015-07-04 16:51] flipback commented on #374
I'll try to fix it.

[2015-07-06 14:57] wlevine commented on #323
I got fed up with rationals and accidentally started working on this. I removed all the rational stuff from the C/C++ code but I haven't touched the ruby code or specs, so I'm not sure if it works yet. On my machine it speeds up compilation from about 3 minutes to 2 minutes. Just thought I should check that we still want this before spending any more time.

[2015-07-06 15:13] mohawkjohn commented on #323
Yes. But you may have bitten off more than you can chew.

[2015-07-06 17:32] v0dro commented on #323
That's great!!

Can you replace the rationals with unsigned int/float types? That would be very VERY helpful. Later maybe I can implement a datetime extension (#382) using a unsigned int64 data type.

By the way, will it also be possible to design a better implementation for the data type system? Its currently only stored as an enum, and adding new types is a big pain. Can we think of a class-base

[2015-07-06 18:54] mohawkjohn commented on #323
That's an entire GSoC project. Someone would really have to propose it themselves, too, because off the top of my head I'm not sure how you'd do it.

[2015-07-06 18:57] agarie commented on #323
That's great, Will. I think that *dropping* support should be easier than adding it, so I guess you can do it right now.

By the way, I support rewriting the dtype system, but as John said, it needs a bit more work before we can conclude how it should be done.

[2015-07-07 16:03] mohawkjohn commented on #323
Fixed by https://github.com/SciRuby/nmatrix/pull/383

[2015-07-07 16:03] #323 closed

[2015-07-07 16:04] mohawkjohn commented on #382
We did talk about having matrices that could be keyed by strings instead of integers. I think the basic idea would just be to use Ruby hashes to convert whatever datatype to consecutive integers.

[2015-07-09 15:09] mohawkjohn opened #385 "Brewed GCC 5.1 support"
It appears that NMatrix is not okay with the incrementing of the major version number of GCC. I haven't had time to investigate, since I'm at work, but it seems we need to tweak the `extconf.rb`.

[2015-07-20 19:14] wlevine opened #386 "Strange behavior when trying to invert integer matrices"
The behavior depends on whether has_clapack? is true or false:
[code]
If false:
[code]
I assume the correct behavior is to throw an error if `#invert!` is called and return a floating-point matrix if `#invert` is called.

[2015-07-20 22:23] wlevine opened #387 "possible memory leak in math.cpp"
In `inverse()`:
[code]
This looks like it will leak if the exception gets raised.

[2015-07-20 23:05] wlevine opened #388 "Rename clapack_laswp"
We have a function called `clapack_laswp`, which permutes columns, but as far as I can tell, there is no equivalent function called `clapack_?laswp` in ATLAS, or anywhere else in the world (if you google clapack_laswp, you just end up with results for nmatrix). John, do you remember where this code came from? There is a standard `laswp` function in LAPACK, but it exchanges rows instead of columns.

[2015-07-20 23:16] wlevine opened #389 "internal implementation of cblas_nrm2 is broken for complex types"
[code]

https://github.com/SciRuby/nmatrix/blob/master/ext/nmatrix/math/nrm2.h

The ATLAS version works fine.

[2015-07-21 13:31] mohawkjohn commented on #388
The only reason ours does columns is our storage format. It's a clone of the algorithm, and it was called by some other ATLAS functions (which I may or may not have had time to implement).

[2015-07-21 13:32] mohawkjohn commented on #387
Good catch. Definitely a leak.

[2015-07-21 15:05] wlevine commented on #388
Yeah, but every other function we've adapted to have the expected behavior when operating on row-major matrices. That's why I think we should rename this one.

[2015-07-21 15:07] mohawkjohn commented on #388
If it's not used, I'd say we should just remove it.

[2015-07-21 21:33] wlevine commented on #388
It's used internally in our C code. I don't know if anyone uses the ruby interface, maybe @agisga, since he submitted #346

[2015-07-21 21:34] mohawkjohn commented on #388
Okay. I say go ahead and rename it.

[2015-07-21 22:43] agisga commented on #388
I have used `#permute_columns!` in the unmerged pull request #366 only. That's when the issue with the unintuitive behaviour of the method came up. I still want to improve some things in said pull request, and I can adapt it to any new  behaviour of `#permute_columns` at the same time.

[2015-07-24 20:52] wlevine opened #390 "Possible duplication between solve and clapack_getrs"
We have a function called `__solve__` and also an internal implementation of `clapack_getrs`. At a quick glance, they both seem to do the same thing. John, do you remember if there is any difference between these or any reason to prefer one over the other?

[2015-07-24 20:58] mohawkjohn commented on #390
I think `__solve__` is supposed to call whichever implementation is available, isn't it?

https://github.com/SciRuby/nmatrix/blob/744b2e185ef774e7e86827ca89167b1c4d75a6de/lib/nmatrix/math.rb#L266
^ that calls `__solve__`.

[2015-07-24 23:21] wlevine commented on #390
This is the implementation of __solve__: https://github.com/SciRuby/nmatrix/blob/master/ext/nmatrix/math.cpp#L243

It takes an LU factorized matrix equation and solves it. Which seems the same as clapack_getrf: https://github.com/SciRuby/nmatrix/blob/master/ext/nmatrix/math/getrs.h

[2015-07-24 23:47] mohawkjohn commented on #390
Yeah, I think it's a dup. Who submitted it?
On Fri, Jul 24, 2015 at 6:21 PM Will Levine <notifications@github.com>
wrote:

[2015-07-24 23:57] wlevine commented on #390
Oh, it was @v0dro. Any thoughts, @v0dro?

[2015-07-25 15:37] v0dro commented on #390
I wanted to put an ATLAS/LAPACK independent function for solving equations in nmatrix. That's why I submitted `#solve`.

[2015-07-27 21:08] wlevine commented on #390
`#solve` is good. I was wondering about `__solve__`, which seems to duplicate `clapack_getrf`, which (despite its name) is part of the nmatrix core and not any external library.

[2015-07-27 21:10] wlevine opened #391 "#== is sometimes broken"
I haven't had a chance to track down exactly when this happens, but:

[code]

[2015-07-27 21:33] mohawkjohn commented on #391
Uggggggh, I was certain we fixed this bug.

[2015-07-27 21:34] mohawkjohn commented on #390
We may have renamed it with the underscores after @v0dro wrote his method, just so the old one would still be available.

[2015-07-29 04:45] v0dro commented on #390
@wlevine  it's probably a duplicate then.

[2015-07-30 15:48] flipback commented on #374
I've just got around to the bug. Above all  NMatrix::BLAS::cblas_trsm is ok. @agisga, you called the method with wrong arguments.  This is right for A*X = B:
[code]
I compared it with C-function from cblas.  Their behaviours are identical.

I had a look at NMatrix::LAPACK::clapack_gesv too. Before I start working on it I'd like to know why we don't use the ATLAS's function? It might be better to r

[2015-07-30 16:34] agisga commented on #374
That doesn't seem to work for me (assuming the `bt` in your post is a typo and should be a `b`):

[code]

Compared to my workaround from above, which works fine:

[code]

[2015-07-30 17:01] flipback commented on #374
Sorry, I wrote the wrong call, it's necessary to use `false` instead of `:transpose` in line 54.

[code]

the method is really unfriendly because it's hard to write a call without errors.

[2015-07-30 17:53] agisga commented on #374
Thanks!
Also the last argument in the above should be `b.shape[1]` (otherwise it only works on square matrices `b`).
Probably the [spec](https://github.com/SciRuby/nmatrix/blob/master/spec/blas_spec.rb#L58) should be changed to display the correct function call.

[2015-07-31 05:13] flipback commented on #374
I think, yes. I'll do it.

But what about NMatrix::LAPACK::clapack_gesv? My answer is still unanswered. @mohawkjohn could you make it clear?

[2015-07-31 18:11] mohawkjohn commented on #374
Honestly, I can't recall. It's been too long. I thought it was using the ATLAS function.

[2015-07-31 18:56] wlevine commented on #374
My thought is that we should just get rid of clapack_gesv and just make
#solve work for non-vector equations.

[2015-08-04 21:18] wlevine opened #392 "Use travis-ci to test nmatrix on OS X?"
Apparently travis-ci has a beta feature for testing on OS X: http://docs.travis-ci.com/user/multi-os/

I thought this might worth considering.

[2015-08-04 21:31] mohawkjohn commented on #392
That would be outstanding.

[2015-08-05 01:19] wlevine commented on #374
It seems like when you call ATLAS `clapack_dgesv` directly from C, you get the same behavior. I think what is happening is that when you specify `CblasRowMajor`, it only ends up interpreting the first argument `a` as row-major, but still treats `b` as if it were column-major. So I think for nmatrix transposing `b` before and after is really the best workaround we can come up with.

[2015-08-05 14:28] wlevine commented on #374
Just for reference, here's the code I used to test `clapack_dgesv`: https://gist.github.com/wlevine/e0ee4a9a0f527b666c65

[2015-08-05 14:42] wlevine commented on #374
Ah, here's the entry in the ATLAS FAQ explaining this behavior: http://math-atlas.sourceforge.net/faq.html#RowSolve

[2015-08-06 19:10] agisga commented on #374
@wlevine thanks for figuring it out. In my opinion the best solution in this case is your idea of making `#solve` work for linear systems with a matrix as right hand side.

Regarding the unfriendliness of `trsm`, I can open a pull request with the [`#triangular_solve`](https://github.com/agisga/mixed_models/blob/master/lib/mixed_models/nmatrix_methods.rb#L93) method, that I use in mixed_models. Sh

[2015-08-19 20:52] v0dro opened #397 "Add Magdalen's FFTW as an NMatrix extension"
@thisMagpie's last year's GSOC project (https://github.com/thisMagpie/fftw) has not seen active use yet.

Maybe adding this to nmatrix like ATLAS and LAPACKE would be great. I think most of the work regarding interfacing nmatrix with FFTW is almost done (though I do have some opinions about the way the nmatrix C API has been used).

WE can then release this as nmatrix-fftw.

[2015-08-20 12:52] wlevine commented on #390
Fixed in #393. I removed `__solve__` and made `#solve` call `clapack_getrf`

[2015-08-20 12:52] #390 closed

[2015-08-20 12:55] wlevine commented on #386
Fixed in #393. Now we raise an error if `#invert!` is called on a integer matrix and return a floating-point matrix if `#invert` is called on a integer matrix.

[2015-08-20 12:55] #386 closed

[2015-08-20 12:59] wlevine commented on #374
@agisga In the current version of nmatrix, I've removed `clapack_gesv` and made `#solve` work with non-vector right-hand sides. If you can verify that `#solve` works for you, you can close this bug.

I think a pull request with `#triangular_solve` would definitely be welcome.

[2015-08-20 13:24] #391 closed

[2015-08-21 15:01] mohawkjohn commented on #397
@v0dro Would you like to take this on?

[2015-08-21 17:47] v0dro commented on #397
Sure! In a few weeks.

[2015-08-25 05:28] #374 closed

[2015-08-27 23:18] yoongkang commented on #358
We can close this due to #401.

[2015-08-29 02:35] #358 closed

[2015-08-30 06:10] yoongkang opened #402 "Question: NMatrix#concat is a little confusing."
Hi, I'm trying to use #concat to join two matrices and am a little confused. Maybe this is something to add in the docs...

[code]

We're concatenating a 3x2 matrix and a 3x1 matrix. Shouldn't this just create a new 3x3 matrix of zeroes in either case? I expected `b.concat(a)` to simply add a column to `b`.

Also:

[code]

Am I misunderstanding `#concat`?

[2015-09-09 14:12] mohawkjohn commented on #402
Please see this old forum post about concat for some background:

https://groups.google.com/forum/#!searchin/sciruby-dev/concat/sciruby-dev/FVmOr3czsik/iJKE29rbpqQJ

It's definitely confusing. There's not really a simple way to do it.

On Sat, Aug 29, 2015 at 11:11 PM Yoong Kang Lim <notifications@github.com>
wrote:

[2015-09-16 15:47] #402 closed

[2015-09-29 19:33] gbuesing commented on #319
These instructions are no longer needed - NMatrix as of version 0.2.0 installs easily on Yosemite.

[2015-09-29 19:33] #319 closed

[2015-10-09 17:58] agisga opened #403 "undefined variable in extconf.rb"
The variable `idefaults` is used but never defined in [nmatrix_lapacke/extconf.rb](https://github.com/SciRuby/nmatrix/blob/b7d367f544a9d48af5f1b9dedb7ef6adcf488091/ext/nmatrix_lapacke/extconf.rb#L169)

Should `idefaults[:lapack]` in the referenced line be set to `nil` or something like `/usr/include/lapack`?

[2015-10-12 01:00] wlevine commented on #403
Good catch. I think we can just replace that argument with an empty array for now. For nmatrix-lapacke, I think all the header files we need are available locally in the repository. Most of that file is just copied from the original extconf.rb and it could probably be cleaned up quite a bit, but I'm afraid to touch it too much.

[2015-11-01 12:33] v0dro commented on #397
I'm doing this. Will send my plan on the mailing list in some time.

[2015-11-02 14:35] mohawkjohn commented on #403
Fixed by #404

[2015-11-02 14:35] #403 closed

[2015-11-07 17:44] v0dro opened #405 "Add rb-gsl as an extension"
Interfacing with GSL will become much simpler this way.

Refer to this issue in gsl for details: https://github.com/SciRuby/rb-gsl/issues/23

[2015-11-10 12:37] dimidd opened #406 "Installation error: suffix or operands invalid for `movq'"
I tried installing using `gem install nmatrix` on osx, using gcc 5.2.0.

In file included from nmatrix.cpp:283:0:
ruby_nmatrix.c: In function 'VALUE nm_reshape_bang(VALUE, VALUE)':
ruby_nmatrix.c:1117:11: warning: unused variable 'elem' [-Wunused-variable]
     void* elem = s->elements;
           ^
ruby_nmatrix.c: In function 'VALUE nm_complex_conjugate(VALUE)':
ruby_nmatrix.c:1095:35: warning: '

[2015-11-10 17:25] mohawkjohn commented on #406
I've never tried to install with GCC 5.2, and this is a new one. What happens if you use 4.9?

[2015-11-12 07:24] dimidd commented on #406
same error, the warnings are slightly different:
In file included from nmatrix.cpp:283:0:
ruby_nmatrix.c: In function 'VALUE nm_reshape_bang(VALUE, VALUE)':
ruby_nmatrix.c:1117:11: warning: unused variable 'elem' [-Wunused-variable]
     void* elem = s->elements;
           ^
ruby_nmatrix.c: In function 'VALUE nm_complex_conjugate(VALUE)':
ruby_nmatrix.c:1095:59: warning: 'copy' is used uninitiali

[2015-11-12 08:53] v0dro opened #407 "Fast CSV interface for nmatrix"
We could something like [fastest-csv](https://github.com/brightcode/fastest-csv) and load data directly from the C interface, no ruby involved. That should be real fast.

[2015-11-12 08:56] v0dro commented on #407
Or maybe even use [libcsv](http://sourceforge.net/projects/libcsv/).

[2015-11-12 14:54] wlevine commented on #406
Googling around for this error, it only seems to occur when a project has some inline assembly code, which nmatrix doesn't have, so that's a little puzzling.

It seems like this error sometimes comes from some sort of 32- vs 64-bit incompatibility, but these days I think OS X is always purely 64-bit, so that also doesn't really make sense.

@dimidd, does the .s file in /var/folders still exist aft

[2015-11-12 15:23] dimidd commented on #406
@wlevine, unfortunately no. Perhaps I should put a breakpoint in `ruby_nmatrix.c` and inspect the assembly.

[2015-11-12 15:23] mohawkjohn commented on #407
I think that'd be awesome.

[2015-11-12 15:36] wlevine commented on #406
There should be an option to get gcc to output the assembly. `gcc -S`, not
quite
sure if it would be trivial to get that working in the nmatrix build. This
also looks like it might be useful, to get an annotated version of the
assembly:http://stackoverflow.com/a/19083877/4992690

On Thu, Nov 12, 2015 at 10:23 AM, dimidd <notifications@github.com> wrote:

[2015-11-12 16:17] dimidd commented on #406
The makefile has a lots of flags variables, where should I add `-S`?

[2015-11-16 15:16] wlevine commented on #406
Sorry for the slow response. You can add it to CFLAGS and CPPFLAGS. Then when you run make you should end up with some ".o" files that are actually not object files, but assembly files in disguise. You can run `as` on them to isolate where the error is.

[2015-11-28 10:08] v0dro opened #410 "Have a script for releasing nmatrix and all allied plugins at the same time"
NMatrix plugins [use the same version number](https://github.com/SciRuby/nmatrix/blob/master/nmatrix-atlas.gemspec#L27) as that of NMatrix.

There is a chance that one might forget to release the plugins and the main gem together, so I propose that we write a script that will automate release of the mainline nmatrix gem and all the plugins that reside in the main repo.

[2015-11-29 03:28] aj07 commented on #410
Thats a good idea, m thinking in same direction.

[2015-11-30 14:55] mohawkjohn opened #411 "#positive_definite?, #positive_semidefinite?, #rank_deficient?"
These methods, among others, would be useful for users wanting to check matrix properties.

[2015-12-04 08:03] johnmarinelli commented on #411
Hi!  I'd like to take a shot at this.  I think I can have something to show within a week or two.

[2015-12-04 15:46] mohawkjohn commented on #411
Wonderful! Thanks so much for getting involved. =D

[2015-12-07 19:15] johnmarinelli commented on #411
@mohawkjohn Hey!  I'm afraid I don't understand what the second parameter of NMatrix::rank is supposed to do, but if I can use that function to calculate the rank of the matrix then rank_deficient? would be really easy to implement.

[2015-12-07 19:26] mohawkjohn commented on #411
`#rank` basically allows you to iterate along either rows or columns or through the depth of the tensor if it's more than 2-dimensional. So the first argument is row, column, or depth; and the second argument is which one of those. If you do `rank(0,1)`, it gives you row 1. If you do `rank(1,5)`, it gives you column 5. If you do `rank(2,1)`, you get layer 1. Make sense?

[2015-12-07 21:16] johnmarinelli commented on #411
@mohawkjohn yep, perfect sense!  I ended up using the gesvd to calculate rank.  Since this needs the nmatrix/lapacke gem, I have a couple of questions -
1) Is that okay?  Or did you want it to be implemented without the lapacke dependency?
2) How can I test the nmatrix functions that require lapacke?  The tests that are already in place give me a NotImplementedException, even though I have the nma

[2015-12-07 21:33] wlevine commented on #411
You can run the tests with `rake spec nmatrix_plugins=lapacke` which will
require the nmatrix/lapacke gem
On Dec 7, 2015 4:16 PM, "John Marinelli" <notifications@github.com> wrote:

[2015-12-07 23:01] mohawkjohn commented on #411
Is using gesvd the most economical way to calculate rank?

[2015-12-10 02:21] johnmarinelli commented on #411
@mohawkjohn , well, I know there are a variety of ways to calculate whether or not a matrix is full rank or not; but I thought that SVD was the only way to calculate rank?

[2015-12-10 17:05] mohawkjohn commented on #411
Yup, you're right. Had to check my reference. =) Yes, lapacke sounds good.

[2015-12-10 17:32] johnmarinelli commented on #411
@mohawkjohn sounds good; i will continue to push on :) @wlevine thanks!

[2015-12-16 07:29] v0dro opened #413 "Update rspec dependency"
Why is RSpec still at `2.14` in nmatrix? Any specific reason?

I think we should update it to 3.4 (latest).

[2015-12-16 08:34] v0dro opened #414 "Change README to GitHub flavored markdown"
The README is currently like an `rdoc` document and kind of annoying to modify.

Changing to `.md` and making necessary changes for supporting GitHub flavored markdown should simplify things further.

[2015-12-16 16:42] wlevine commented on #413
Well, we get a ton of warnings about using deprecated RSpec features that will behave differently in RSpec 3. So we would need to change a bunch of tests.

[2015-12-16 17:04] mohawkjohn commented on #414
See also #56. Also, RDoc is our priority, so if you can get Github-flavored md to work properly with RDoc, go for it — but we switched to RDoc from md ages ago because md was insufficient.

[2015-12-16 17:46] v0dro commented on #413
Is that it?

I think I can do the needful whenever I get some free time.

[2015-12-18 09:55] firemind opened #416 "transpose swallows argument"
Matrix#transpose seems to take an argument without using it. This leads to behavior that is very non-intuitive when multiplying the result by a number and omitting the space between * and the variable.

I realize omitting the space is wrong in the first place but having transpose swallow arguments makes things a lot harder to debug. Is there a reason for having it take arguments?

Here is an examp

[2015-12-18 17:48] mohawkjohn commented on #416
Yes. It's for matrices that are more than two dimensions — you have to know which dimensions you're transposing.

[2015-12-18 18:37] firemind commented on #416
Oh, I see now. The docs are pretty clear about it too now that I look at them again. Sorry about that. I seem to have mixed up the source files for NMatrix and the stdlib ruby Matrix which is why I thought there wasn't supposed to be an argument.

So apparently the permute argument is never used if the matrix that is being transposed is one or two dimensional. Which is why it didn't matter that I

[2015-12-18 18:48] mohawkjohn commented on #416
I think that'd be a great idea. Feel free to submit a pull request!

[2015-12-19 04:26] mohawkjohn opened #417 "Fix all indenting — two spaces, not one tab"
What the heck happened to the indenting? No tabs should be used anywhere in the code. It should always be two spaces.

[2015-12-20 06:18] lokeshh commented on #417
Does this look good?

[2015-12-21 12:04] lokeshh commented on #413
@v0dro Are you on it? If you are not working on this issue let me know. I am interested in doing this.

[2015-12-21 12:33] v0dro commented on #413
Well I'll take some time (~2 weeks). If you're going to do this right away then feel free to do so :)

[2015-12-21 12:37] v0dro opened #420 "Passing array of arrays as shape leads to bad output"
This is the result when passing the `shape` argument of the `.zeroes` function as `[[3]]`:

[code]

It also leads to a segmentation fault sometimes if the shape turns out to be TOO big.

[2015-12-21 12:48] v0dro commented on #397
See my progress on this branch: https://github.com/v0dro/nmatrix/tree/nmatrix-fftw

Will send a PR soon.

[2015-12-21 12:49] v0dro opened #421 "Document every function/macro in the C API"
I've created a file for doing this on my new branch here - https://github.com/v0dro/nmatrix/blob/nmatrix-fftw/C_API.md

Suggestions welcome.

[2015-12-21 14:24] lokeshh commented on #413
Ok you do it. I will find something else to work upon.

[2015-12-21 14:35] mohawkjohn commented on #421
Link doesn't work for me, even when I add a dot between github and com.

On Mon, Dec 21, 2015 at 7:49 AM Sameer Deshmukh <notifications@github.com>
wrote:

[2015-12-21 14:36] mohawkjohn commented on #420
Good catch.

[2015-12-21 14:38] mohawkjohn commented on #414
Let me know if you want to re-open.

[2015-12-21 14:38] #414 closed

[2015-12-21 14:40] mohawkjohn commented on #413
Is there some reason we need the additional features in 3.4? It isn't always beneficial to change a gem dependency. There should be a motivation behind such a change.

[2015-12-21 14:41] mohawkjohn commented on #406
@dimidd Have you had any luck? I can try this week if you're still struggling.

[2015-12-21 17:36] v0dro commented on #413
It shows a whole load of deprecation warnings regarding change of syntax.

[2015-12-21 17:38] v0dro commented on #414
Well I would personally favor markdown over RDoc any day for README files, given it's simplicity and speed of typing.

If you still want to keep RDoc for the README, let this be closed.

[2015-12-21 17:40] v0dro commented on #421
That's strange. It's working for me.

I'm putting it up again: https://github.com/v0dro/nmatrix/blob/nmatrix-fftw/C_API.md

[2015-12-21 17:46] mohawkjohn commented on #421
Okay, I think I misunderstood what this issue is. You want to document them all in the wiki? This is what rdoc is for. Have you tried running the appropriate rake task for generating rdocs?

[2015-12-21 18:22] v0dro commented on #421
No not in the wiki. I want to create a file similar to README or CONTRIBUTING within the source code itself that will document the C API.

You think it should be done in the wiki? It'll separate the code from the docs then.

[2015-12-21 18:32] mohawkjohn commented on #421
...no. Seriously, please go run rdoc on the sources and see what gets produced before you do anything else.

[2015-12-21 19:02] v0dro commented on #421
I just did, and it turns out that RDoc does not generate anything for code present in the `nmatrix.h` file (where the C API resides), which is why I'm suggesting that we have a separate file where these macros and functions will be documented.

Or maybe make comments in nmatrix.h itself?

[2015-12-21 22:21] mohawkjohn commented on #421
Yeah, there's no reason not to include rdoc markup in nmatrix.h. I'm not sure why it's never been done. Actually, we could stand to improve all of our rdoc documentation quite a bit.

[2015-12-22 02:45] wlevine commented on #421
There's a lot of documentation in ruby_nmatrix.c rather than nmatrix.h. Not all of it is collected by rdoc, because not all of the functions are directly exposed to Ruby. In general, there are some issues with using RDoc with C extensions, especially when things are spread out across multiple files ([details here](http://clalance.blogspot.com/2011/01/writing-ruby-extensions-in-c-part-2.html)). I r

[2015-12-22 04:13] lokeshh commented on #420
Running the above code give me the following error:

    [10] pry(main)> a=NMatrix.zeroes([[3]], dtype: :complex128)
    TypeError: no implicit conversion of Array into Integer
    from /home/ubuntu/workspace/nmatrix/lib/nmatrix/shortcuts.rb:147:in `initialize'

What could be the problem?

[2015-12-22 15:18] agisga opened #422 "cblas_trsm behaves differently with/without lapacke plugin"
When solving a lower triangular linear system with `cblas_trsm`, I get different results depending on whether I require `nmatrix-lapacke` (or `nmatrix-atlas`) or not. With the lapacke or atlas plugins I get the correct result, but without the plugins the method returns a wrong solution.

Example: The following script

[code]

produces

[code]

The solution obtained with `nmatrix-lapacke` is the co

[2015-12-22 15:37] wlevine commented on #422
It looks like the spec only tests this with the `:right` option, while you use `:left`. That could be the source of the problem. I'm going to be super busy for the next few weeks, so I probably won't have a chance to look into this for a while.

[2015-12-22 15:55] mohawkjohn commented on #420
It's because you have double brackets (which is the bug @v0dro was highlighting). For correct functionality, you want one of these:

    a = NMatrix.zeroes([3], dtype: :complex128)
    a = NMatrix.zeroes([3,1], dtype: :complex128)
    a = NMatrix.zeroes([1,3], dtype: :complex128)

[2015-12-22 15:55] #417 closed

[2015-12-22 16:11] agisga commented on #422
You are right, this workaround produces the correct result:

[code]

Also, I noticed that `cblas_trsm` seems to work flawlessly with the argument `:upper`, for upper triangular linear systems (even with option `:left`). So, the problem might also be related to the option `:lower`.

[2015-12-22 16:44] lokeshh commented on #420
So, what should be correct behavior?

[2015-12-22 16:57] mohawkjohn commented on #420
You shouldn't enter `[[3]]`. It's nonsensical. But NMatrix should be checking to make sure the first entry in the array is a Fixnum.

[2015-12-22 18:06] lokeshh commented on #420
I don't think I get what you saying. Kindly explain to me given [[3]] is nonsensical, what's the point of checking for it?

Even if we introduce check for this function `zeros`, what about other functions?

There are other function which could give the same error. For example:

[code]

[2015-12-22 18:43] mohawkjohn commented on #420
I'm not really sure what you're asking. We check for lots of user input that is nonsensical because those nonsensical inputs cause unpredictable behavior (such as segmentation faults).

You don't have to include the check in zeros. Zeros just calls the regular constructor, which is written in C, which itself calls a function which interprets the shape argument. We only need to modify that shape in

[2015-12-23 03:57] lokeshh commented on #420
Ok. The point of confusion here is that I am not getting unpredictable behaviour at all. I am getting a TypeError every time I pass an invalid shape argument.

[2015-12-23 08:41] v0dro commented on #420
Ok that's weird.

What version are you using? Can you freshly clone nmatrix from sciruby and try it out?

[2015-12-23 11:24] lokeshh commented on #420
I forked the repository https://github.com/SciRuby/nmatrix to https://github.com/lokeshh/nmatrix. Then I cloned it into my computer. I did `bundle install`, then `bundle exec rake compile`, then `bundle exec rake spec`.

Then on the console which I got by executing `bundle exec rake pry`, I got the same output as earlier:

[code]

[2015-12-23 16:13] lokeshh commented on #387
Would this work?

[code]

[2015-12-23 17:57] mohawkjohn commented on #420
Oh, I get what you're saying now. Yes, on Ruby 2.2.2 I get the same output as @lokeshh.

[2015-12-23 18:06] #416 closed

[2015-12-23 18:08] mohawkjohn commented on #387
Yes, it should.

[2015-12-23 18:12] v0dro commented on #420
I'm using 2.2.1. Don't know what's causing this :\

[2015-12-23 18:32] #387 closed

[2015-12-23 18:34] mohawkjohn commented on #420
Are you running it in pry, @v0dro?

[2015-12-23 18:36] v0dro commented on #420
Yep. Still the same.

[2015-12-23 18:40] mohawkjohn commented on #420
I hate to ask you to install a new Ruby, but does it happen with 2.2.2? I'd like to try to isolate it.

[2015-12-23 19:37] wlevine commented on #420
One could make a spec and run it on travis to see which versions it works on.

[2015-12-24 15:35] lokeshh commented on #420
I installed Ruby 2.2.1 via rmv. The output is still the same for me like earlier. I even recompiled using `rake compile`.

[2015-12-24 16:24] mohawkjohn commented on #420
@v0dro Does the behavior persist if you totally erase your build files and re-build?

[2015-12-25 18:47] v0dro commented on #420
Just give me some time to reproduce this one.

I'm currently working on the FFTW extension and don't want anything that might break my build.

[2015-12-29 13:00] holidayworking opened #426 "Install fails with ruby 2.3.0 on OSX 10.11.2"
NMatrix fails to install with ruby 2.3.0 on OSX 10.11.2

[code]

[2015-12-30 06:18] lokeshh commented on #422
In which file is the method `cblas_trsm` defined?

[2015-12-30 11:01] agisga commented on #422
@lokeshh As far as I can see it right now, `cblas_trsm` is defined in [`ext/nmatrix/math.cpp` line 467](https://github.com/SciRuby/nmatrix/blob/73efdf976efc9761d3818c3a3df53352c00f9395/ext/nmatrix/math.cpp#L467). However, the actual C implementation is in [`ext/nmatrix/math/trsm.h`](https://github.com/SciRuby/nmatrix/blob/master/ext/nmatrix/math/trsm.h#L275).

nmatrix-lapacke and nmatrix-atlas mus

[2016-01-01 18:05] lokeshh commented on #422
I am playing with this for a while and it seems like `side == CblasLeft` always return false.

[2016-01-02 07:54] lokeshh commented on #422
@agisga Could you give some clarification on why you passed third last and last argument as `a.shape[0]` and `x.shape[1]` respectively?

According to the [documentation](http://www.math.utah.edu/software/lapack/lapack-blas/dtrsm.html), these arguments should be number of rows of `a` and `x` respectively.

[2016-01-02 10:22] agisga commented on #422
@lokeshh Sorry, I don't have a system to try it out at this moment, but I don't see how what you are saying would give a different result than my example, because `a` has the same number of columns as rows (that's also why I passed `a.shape[0]` instead of `a.shape[1]`).
Can you please copy the exact function call here?

[2016-01-02 10:30] lokeshh commented on #422
@agisga I am sorry, what I said above is wrong. I have to take another look.

[2016-01-02 16:57] lokeshh commented on #422
Funny as it my seem but changing the limits going against the [fortran implementation of trsm](http://www.netlib.org/lapack/explore-html/de/da7/dtrsm_8f_source.html), fixes the bug but I don't really understand why is it so.

I found the same thing done [over here](https://github.com/SciRuby/nmatrix/blob/702900702c70973866973d294e186e37c76b264a/ext/nmatrix/math/trsm.h#L143).

[2016-01-05 09:11] Try2Code opened #429 "Install fails on Linux (archlinux, gcc 5.3.0, glibc 2.22, ruby-2.3.0)"
Unfortunately I cannot install nmatrix on my 64bit linux box. The error message looks like this:

[code]

[2016-01-05 09:15] Try2Code commented on #429
btw.: the makro definition is present

[code]

[2016-01-05 17:43] v0dro commented on #429
Strange. Does it compile with ruby 2.2?

[2016-01-05 21:27] wlevine commented on #429
I can reproduce this on Ubuntu. It's definitely a ruby 2.3 thing, works fine with ruby 2.2. Not sure if this is the same as #426

[2016-01-06 08:00] Try2Code commented on #429
Could verify successful build with 2.2.  ruby-2.1, 2.0 and 1.9 work, too

[2016-01-06 08:49] rounak123 commented on #429
I m also getting these same errors!! What should i Do to remove these errors?

compiling ../../../../ext/nmatrix/nmatrix.cpp
In file included from ../../../../ext/nmatrix/nmatrix.cpp:283:0:
../../../../ext/nmatrix/ruby_nmatrix.c: In function ‘VALUE nm_reshape_bang(VALUE, VALUE)’:
../../../../ext/nmatrix/ruby_nmatrix.c:1102:11: warning: unused variable ‘elem’ [-Wunused-variable]
     void* elem = s

[2016-01-06 08:53] rounak123 commented on #429
Along with these errors , I m also getting many warnings!! I know warnings won't affect the code but still :(

compiling ../../../../ext/nmatrix/storage/yale/yale.cpp
../../../../ext/nmatrix/storage/yale/yale.cpp: In function ‘void nm_init_yale_functions()’:
../../../../ext/nmatrix/storage/yale/yale.cpp:1157:136: warning: format ‘%lu’ expects argument of type ‘long unsigned int’, but argument 3 ha

[2016-01-06 09:08] dimidd commented on #406
Sorry for the late response, I had a problem installing ATLAS. I've finally managed to install using macports, and added `-L/opt/local/lib` in `LDFLAGS`. Now when running `bundle exec rake spec` I have a different issue:
[code]

[2016-01-06 15:17] v0dro commented on #429
@wlevine [here](https://github.com/ruby/ruby/blame/trunk/include/ruby/ruby.h#L877) is where that macro is defined. It seems to be [newly added](https://github.com/ruby/ruby/commit/334710c155ad19cfd947ce6bcd7127b97cbe37da).

Do you think its because of the `HAVE_BUILTIN___BUILTIN_CHOOSE_EXPR_CONSTANT_P` expression?

[2016-01-06 15:24] v0dro commented on #429
Yes! Thats the problem!

Here's what I did the `nmatrix.h` file:

[code]

I think there can be a cleaner fix for this. Any ideas?

Also I think we should report this as a Ruby error. Thoughts?

[2016-01-06 15:29] v0dro opened #431 "Write a script to make CI possible again"
Travis CI fails because of the extensions architecture that nmatrix has recently incorporated.

Making it pass again with a helper `setup.rb` script that runs the specs in the required order by loading/unloading necessary libraries to test all the extensions would be great.

[2016-01-06 15:46] v0dro commented on #429
@wlevine please review my PR and see if the fix I've implemented is alright. I have a hunch that there can be a better way to fix that.

I'll document the macros that I've added once you're OK with it.

[2016-01-06 15:59] v0dro commented on #429
Looking at the [GCC docs](https://gcc.gnu.org/onlinedocs/gcc/Other-Builtins.html) (scroll to `__builtin_choose_expr`), I think this is a result of using a C++ compiler.

[2016-01-06 17:07] #431 closed

[2016-01-06 17:31] wlevine commented on #429
@v0dro You are right, this is a C vs C++ issue. I think the best way to deal with it is just by undefining HAVE_BUILTIN___BUILTIN_CHOOSE_EXPR_CONSTANT_P before including ruby.h. Probably the best place to put this is in the nmatrix_config.h file that gets created by extconf.rb

[2016-01-06 17:43] v0dro commented on #429
I did that but it didn't work. So I went ahead and redefined that macro.

[2016-01-06 22:49] mrkn commented on #429
I think the cause of this issue is gcc's version mismatch.
I want to know gcc versions for building ruby and building nmatrix.

[2016-01-06 22:52] mrkn commented on #426
I think your ruby was built by clang.
Check it:

[code]

And if your ruby was built by clang, you should use clang++ for nmatrix.
Please try github version.

[2016-01-07 01:00] wlevine commented on #429
@v0dro You're right, that won't work. Another project seems to have run into the same issue and taken a different approach: https://github.com/robinst/taglib-ruby/pull/68 . Looks a little cleaner to me.

[2016-01-07 01:01] wlevine commented on #429
@mrkn It's not a gcc version mismatch. I built ruby and nmatrix with the same gcc (5.2.1)

[2016-01-07 06:02] mrkn commented on #429
@wlevine oh, I'm sorry.

But I probably found true cause of this problem.
Using RARRAY_PTR is it.  Instead, RARRAY_AREF should be used.

I'm making pull-request to fix it now.

[2016-01-07 07:10] v0dro commented on #429
I think they will fix it in the new Ruby. The bug I filed has been assigned to nobu: https://bugs.ruby-lang.org/issues/11962

[2016-01-07 07:27] mrkn commented on #429
I want to let you know that RARRAY_PTR is totally deprecated way to access to items in an array.
The new convention on the era of RGenGC is RARRAY_AREF to read and RARRAY_ASET to write into an array.
Please remember them.

[2016-01-07 07:31] v0dro commented on #429
Ok cool. That should fix it then.

[2016-01-07 18:14] mohawkjohn commented on #422
@lokeshh Could it because Fortran starts at 1 with its arrays and C starts at 0? I couldn't figure out exactly which lines in the Fortran implementation corresponded to the ones you changed.

[2016-01-07 18:15] #421 closed

[2016-01-08 08:20] lokeshh commented on #422
@mohawkjohn [This line](https://github.com/SciRuby/nmatrix/blob/702900702c70973866973d294e186e37c76b264a/ext/nmatrix/math/trsm.h#L143) corresponds to line 319 in [Fortran implementaion] (http://www.netlib.org/lapack/explore-html/de/da7/dtrsm_8f_source.html). The changes which I have made is parallel as to what's done here. Let me explain what I have done using these lines.

If a loop in Fortran st

[2016-01-08 15:40] mohawkjohn commented on #422
Sorry, you're totally right about the limits. In that case, I suspect it's because the limits aren't right for lines 140–141, not (just) because they're wrong for line 143.

I'm not really a Fortran coder, but it seems to me that the lines

    DO 160 j = 1,n
        DO 150 i = 1,m

should be iterate from 1 to n, inclusively; and iterate from 1 to m, inclusively. In C, we have iterate from 0 to n-

[2016-01-08 15:42] #429 closed

[2016-01-10 10:17] lokeshh commented on #422
I did a little research and the fault seem to lie in how we are computing the address of an element given it's row and column in the Matrix.

Take this code for instance:

[code]

Here's it's Fortran equivalent:

[code]

`a(k,i)` is translated to `a[k + i * lda]` and limits are shifted by 1 which is not correct. To see this, lets look at the element of `a` which will be accessed in the last iterat

[2016-01-12 21:06] GauravTamba commented on #410
Hi there, I've just started my journey to contributing and I'd like to give this a shot.

[2016-01-12 22:30] Try2Code commented on #429
Thanks for your help, guys

[2016-01-12 22:36] #392 closed

[2016-01-14 06:37] #397 closed

[2016-01-14 06:38] v0dro commented on #426
@holidayworking could you verify if your build is passing?

[2016-01-14 06:39] #367 closed

[2016-01-14 06:42] v0dro commented on #375
Close this? NMatrix now matches or outperforms NArray in almost every way. We have a very extensible architecture, interface with various libraries, and the problem of working when narray was present has also been resolved.

[2016-01-14 06:46] v0dro opened #434 "Release new nmatrix and plugins"
Recent changes have added lots of new functionality and made nmatrix compatible with ruby 2.3.

I think it's time to release nmatrix 0.3.0. @mohawkjohn thoughts?

[2016-01-14 06:48] v0dro commented on #2
@wlevine can you confirm if these have been implemented in your plugins? Should I close this?

[2016-01-14 06:48] v0dro commented on #22
Plugins make this irrelevant. Close?

[2016-01-14 06:52] v0dro commented on #290
I dont think this problem should occur in the latest release.

[2016-01-14 06:52] #290 closed

[2016-01-14 06:53] v0dro commented on #69
This still relevant?

[2016-01-14 06:54] #217 closed

[2016-01-14 06:55] v0dro commented on #155
Done by @wlevine.

[2016-01-14 06:55] #155 closed

[2016-01-14 06:56] #294 closed

[2016-01-14 06:56] v0dro commented on #413
Related to #294

[2016-01-14 06:59] v0dro commented on #199
@mohawkjohn how about changing this issue and focus on making a plugin that will interface with fast image processing libraries?

[2016-01-14 10:30] vaibhav-y commented on #199
I'd be interested in helping create such a plugin. (I'm comfortable with C if we need to implement the some of the functions ourselves)

Would an opencv wrapper be best for what we are looking at? Or would that be a bad idea due to the external dependency (a rather heavy one!)

[2016-01-14 19:19] wlevine commented on #22
This is definitely done.

[2016-01-14 19:21] wlevine commented on #2
No, I didn't expose any functions that weren't there before. There are a huge number of LAPACK functions, I don't even know which ones we would want to prioritize adding first.

[2016-01-14 19:30] #22 closed

[2016-01-14 23:29] mrkn commented on #434
Releasing the new version of gem will resolve some issues on osx.
I'm the one of those who need the new release for development some gems depending on nmatrix.

[2016-01-15 06:35] v0dro commented on #434
Yeah, and I also need the new version for the latest release of daru.

[2016-01-15 15:17] mohawkjohn commented on #434
@v0dro Can you compile all of the changes since the last version into the History.txt file, and update the manifest (see rake check_manifest also)? Send me a pull request, I'll check it over, and I'll try to push the new gem today. Sorry, swamped at work. Otherwise won't get to it until Monday.

[2016-01-15 17:12] #375 closed

[2016-01-17 20:39] v0dro commented on #434
On it. Will send it through in a few hours.

[2016-01-18 06:10] shahsaurabh0605 opened #436 "Inverse matrix output for zero determinant"
invert function gives inverse dense matrix output even if it has zero determinant.

[2016-01-18 11:17] GauravTamba commented on #420
Hi, I just tried this out too and I got the TypeError in pry and irb as well. I'm using Ruby 2.2.2 with a fresh install of everything.

[2016-01-18 11:53] GauravTamba commented on #436
Could you share the exact matrix that you're trying to invert? When I try it with a singular matrix it gives me what I think should be the correct error :

[code]

[2016-01-18 12:40] aaditya-thakkar commented on #436
I tried the above matrix it gave me the same ZeroDivisionError but try this matrix:
n= NMatrix.new(3,[1,2,3,4,5,6,7,8,9])
This has determinant zero but still it gives me inverse matrix!

[2016-01-18 12:44] shahsaurabh0605 commented on #436
I tried the above matrix and it gives me same ZeroDivisionError but try this matrix:
n= NMatrix.new(3,[1,2,3,4,5,6,7,8,9])
It has determinant zero but still it gives an inverse matrix!

[2016-01-18 14:49] mohawkjohn commented on #436
Most likely this is because `NMatrix#det` is not equal to `NMatrix#det_exact`. In other words, the approximation being used to compute the determinant is returning a nonzero value, and so it's unaware the function is nonsingular. I'm curious: if you plug in this matrix and try to compute the inverse using `dgetri`, does it give the same answer?

[2016-01-18 17:29] GauravTamba commented on #436
I tried out *shahsaurabh0605*'s array input and the inverse function does indeed misbehave however the determinants seem to be correct.

[code]

So *inverse* misbehaves with this matrix

[code]

[2016-01-18 17:59] mohawkjohn commented on #436
That's not what I'm getting:

[code]

[2016-01-18 18:36] #434 closed

[2016-01-19 04:34] GauravTamba commented on #436
I see, that makes sense. Apologies for missing that.

Is it too expensive in the general case to just compute <NMatrix#det_exact> for the check?

[2016-01-19 07:44] shahsaurabh0605 commented on #436
I see that the matrix inverse is calculated using Gauss-Jordan elimination method. So is it using NMatrix#det or NMatrix#det_exact to check matrix is non-singular? Because if not, then there must be some other floating point error.

[2016-01-19 10:38] GauravTamba commented on #436
This is the line checks for singularity while inverting :

[code]
So the determinant does not come into picture here. What I think happens is if the diagonal element on that row cannot be established as a pivot, then a singular matrix is detected.

Still unsure about the exact cause, but it could be a floating point loss of precision as shahsaurabh0605 already said.

2 simples fixes I can think of

[2016-01-19 17:39] khalibartan commented on #407
@v0dro What do we want in this issue ? Means should I try to write a wrapper for libcsv to work with nmatrix or, should I implement a CSV reader for nmatrix itself.

[2016-01-20 04:38] v0dro commented on #407
I'd prefer libcsv. No point in reinventing the wheel.

[2016-01-20 14:38] #422 closed

[2016-01-20 19:59] GauravTamba commented on #436
I've written a small fix that uses NMatrix#det_exact to reject arrays of size 3 or smaller. It solves the issue for this particular matrix and seems like the best solution (<= 3x3 Matrix Determination calculation isn't very costly) until more singular matrices that return inverses show up.

Would it be okay to send a pull request?

[2016-01-20 20:02] mohawkjohn commented on #436
I'm actually not sure about this one. This is a particularly common problem with matrix decompositions. Usually it's solved by adding to the diagonal until the matrix is no longer singular. I'm not convinced it makes sense to address one edge case when it's not really possible to address all of them.

[2016-01-21 08:08] GauravTamba commented on #436
I'll try to find more matrices that cause this problem in the meanwhile then. I suggested the above fix because in `det_exact`'s C++ implementation, the computations are hardcoded multiplication for square matrices of shape 3 or less, therefore it would run in about constant time. This particular array returns an inverse in the `lapacke` and `atlas` plugins as well even though lapacke uses LU deco

[2016-01-24 11:09] lokeshh commented on #389
The bug gets fixed if I pass `ssq` instead of `temp` in [this line](https://github.com/SciRuby/nmatrix/blob/master/ext/nmatrix/math/nrm2.h#L145).

Any idea where can I find documentation of this function?

[2016-01-25 16:38] Arafatk opened #439 "Adding a simple function for Adjugate matrix"
I was looking through the nmatrix  and i could not find a function to return  the adjugate matrix of a given matrix. I was wondering if adding this would be of interest to the library.
I would be willing to make a pr for this and  add  documentation,tests.
@v0dro @mohawkjohn Please take a look.
Thanks

[2016-01-26 14:36] mohawkjohn commented on #439
Can you offer any ideas as to what calculation of the adjunct would be useful for?

[2016-01-26 14:37] mohawkjohn commented on #436
I'd much rather we have an exposed `#inverse_exact` method which relies on `#det_exact`. How about that?

[2016-01-26 14:38] mohawkjohn commented on #426
I assume this is no longer a problem and will close it. Please re-open if it arises again.

[2016-01-26 14:45] mohawkjohn commented on #407
I agree. It'd be better not to introduce an additional dependency. Perhaps there could be a pure Ruby csv reader as well for it to fall back on.

Here's where such a thing would go: https://github.com/SciRuby/nmatrix/tree/master/lib/nmatrix/io

[2016-01-26 14:46] mohawkjohn commented on #406
This kind of stuff seems to happen when linking between things compiled by different compilers. I'm not sure why I didn't mention that before. I may have only just recognized the error.

[2016-01-26 15:12] shahsaurabh0605 commented on #436
Yes, I sent mail indicating the same. Problem is #inverse_exact method is not correctly implemented in the gem. If assigned, I would like to execute it correctly.

[2016-01-26 15:33] Arafatk commented on #439
@mohawkjohn  Adjugate matrices are  rarely used in matrix operations(eg jacobi's formula).But they could still be used as an additional  function.Its easy to add an adjugate matrix function  as matrix inverse and matrix determinant are already present in nmatrix.

[2016-01-26 15:39] mohawkjohn commented on #439
I don't think those are the most efficient ways to compute inverse and determinants, though. I'd suggest looking through a book like _Matrix Computations_ by Golub and seeing what else is worth implementing. A key goal should be to provide methods that people want/need to use, and we're still missing a few of those.

[2016-01-26 16:20] Arafatk commented on #439
@mohawkjohn I was thinking of Qr Decomposition as its present in many libraries and could be useful for a lot of things.It might take me quite some time to implement.

[2016-01-26 18:37] agisga opened #440 "QR factorization"
- QR factorization is one of the most widely used matrix decompositions.
- NMatrix currently does not have a QR factorization method (please forgive me if I'm wrong :) ).
- QR factorization is implemented in the LAPACK function [dgeqrf](http://www.netlib.no/netlib/lapack/double/dgeqrf.f), or maybe even better QR with column pivoting as implemented in [dgeqp3](http://www.netlib.no/netlib/lapack/dou

[2016-01-27 11:07] GauravTamba commented on #436
`#inverse_exact` is implemented in ext/nmatrix/math.cpp already and only works for matrices of size 3 or 2.

(uppercase comments denoted code blocks edited out)
[code]

I'm not sure if this function is already exposed or not but it doesn't work for matrices larger than 3 since we don't have a fast algorithm for calculating the exact determinant for large matrices yet.

Is the proposal to implement

[2016-01-27 17:23] v0dro commented on #436
@mohawkjohn why even keep this function if the `#inverse` can very well calculate inverses for 3x3 matrices?

[2016-01-27 18:03] lokeshh commented on #339
[Here](https://github.com/SciRuby/nmatrix/blob/9a25bb0d579874834e92590700d5b5540d2295bf/ext/nmatrix/ruby_nmatrix.c#L2505) it says `Model it after yale/transp.template.c` but there's no `yale/transp.template.c` file.

I am not familiar with dense/non-dense representations. What does Yale and List matrix representation mean? Is it the same as non-dense representation? Is Yale and List matrix a part

[2016-01-27 18:46] v0dro opened #441 "Create hilbert and inverse hilbert matrices of given dimension"
A function like `NMatrix.hilbert(dim)` and `NMatrix.inverse_hilbert(dim)` would be great for creating [Hilbert matrices](http://in.mathworks.com/help/matlab/ref/hilb.html).

[2016-01-28 07:51] v0dro commented on #440
I'm currently working on making the QR methods in [rb-gsl](https://github.com/SciRuby/rb-gsl) work with NMatrix. Will update you soon.

[2016-01-28 09:42] GauravTamba commented on #441
Could I give this a shot? I should have something in a few days.

[2016-01-28 14:25] mohawkjohn commented on #441
What are Hilbert matrices useful for?

[2016-01-28 14:26] #385 closed

[2016-01-28 14:27] mohawkjohn commented on #385
Appears to no longer be an issue, but please comment/reopen if it recurs.

[2016-01-28 18:47] v0dro commented on #441
Well, for example I came across a use case where a Hilbert matrix and an inverse hilbert matrix had been generated and then a function for computing the inverse of a matrix was used on the hilbert matrix, the result of which was compared with the inverse hilbert matrix that had been already generated.

Plus it's present in all of software suites I've come across. Might be useful for someone here t

[2016-01-28 20:56] agisga commented on #440
Great!

However, I think it would be more convenient to have a QR method in nmatrix-lapacke (or nmatrix-atlas) as well. Unfortunately I am too busy for the next two month, but I will give it a try after that if nobody else does it before.

Also, once a QR method is available in NMatrix, an efficient least squares solver can be implemented in just a few lines of code.

[2016-01-28 21:14] agisga commented on #339
@lokeshh

Sorry, I have little understanding of sparse matrix formats. I found a [stackoverflow question about the Yale format](http://stackoverflow.com/questions/9203757/details-of-the-new-yale-sparse-matrix-format) that @mohawkjohn has authored 4 years ago. So, maybe the Yale matrix format discussed therein is what NMatrix is using? I guess you will have to do some research.

[2016-01-29 05:21] v0dro commented on #440
Yep. I'll put in some wrappers inside another `nmatrix-gsl` wrapper that I'm planning to make that will make use of GSL QR decomposition and will be easily callable on NMatrix objects. I think it should suffice until the ATLAS functions are exposed.

[2016-01-29 09:29] v0dro opened #442 "More informative and pretty printing for nmatrix"
Even when using pry, nmatrix outputs only the elements of the matrix and no other relevant information.

It would be useful for interactive tasks to display the `dtype` and `stype` of the matrix alongwith other useful information like size.

Prettier printing of the underlying elements in a more friendly format such that it scales to more than 2 dimensions would be great too.

[2016-01-29 15:31] eddiem3 commented on #199
@vaibhav-y I was working on that for a sec, but my harddrive fried before I pushed any code. I think it would be cool to do something especially with OpenCV.  Any thoughts @mohawkjohn ?

[2016-01-30 08:43] v0dro opened #445 "Remove ruby-head from necessary checks on Travis"
The build is [failing strangely for ruby-head for this issue](https://travis-ci.org/SciRuby/nmatrix/jobs/105704026#L616), but passing fine all other ruby versions (including 2.3).

IMO ruby-head should be moved to allowed failures.

[2016-01-30 11:56] v0dro commented on #445
@mrkn can you have a look?

[2016-01-30 18:15] v0dro opened #446 "Make all code conform to 80 characters per line"
Ok maybe we can leave the template tables code out of this, but the rest of the codebase which people work on frequently should strictly be upto 80 chars per line. It's very annoying when code starts flying off the screen. Line wrap does not help.

[2016-01-31 05:49] Arafatk commented on #446
@v0dro I installed rubocop. And then used `rubocop --only LineLength`.
I got 1710 offences where line length was greater than it should be.   I tried using auto correct but that does not fix the line length exceeded error and also makes a lot of other changes that we might not

[2016-01-31 12:30] lokeshh commented on #339
Ok, so I am getting started with implementing the methods for list type first. Then I will move to the yale type.

Is it fine to generate a PR even though it's not ready to be merged? I think it would be better to get some feedback along the way.

[2016-01-31 17:27] v0dro commented on #339
Its fine. Just mark it WIP.

[2016-01-31 17:29] v0dro commented on #446
This should only be restricted to files which people use and work with. So you should not change the template table files.

I'd suggest doing it manually as and when you get time, such that the code looks good even though it has been split into multiple lines.

[2016-01-31 18:10] Arafatk commented on #446
@v0dro I am sorry but i am unable to completely understand you. I have a few questions.

1. Can you elaborate on what template tables are?
2. Should i also apply the 80 character limit to docs?
3. Is it okay,if i send a pr correcting the line lengths  of some 5 files in `nmatrix/lib` directory and then  you could review it,After that,I will make changes for all files ?

[2016-02-01 01:43] mrkn commented on #445
It makes sense to move ruby-head to allow failures.

And I'll investigate the failure on ruby-head.
Thanks for notifying to me.

[2016-02-01 05:03] vaibhav-y commented on #199
@eddiem3 I agree. OpenCV is really powerful.

I can setup a public workspace on c9.io and add you to that, if that's ok with you. That should be fail safe and also allows us to add more people for review / etc.

What I have in mind for the c-extension with a generic ruby wrapper (like a factory?) for whatever image processing library we choose

[2016-02-01 07:33] allen-ng opened #448 "about the argument and the result of NMatrix#reshape"
_If the content seems offensive I'm sorry about that, but I'm not meant to say something that way. And that might because of my poor English_
I created a matrix like this:
[code]

Then I called reshape and found it went like this:
[code]
It seems like this is a column major reshape and the first dimension is placed last.
Well, then I tried this:
[code]
and I expected the first or the third dimensi

[2016-02-01 07:44] allen-ng opened #449 "NMatrix#reshape! doesn't operate properly on specific input."
Hello, I tried something like this in `rake pry`:
[code]
And it works fine I think, but if I use `x.reshape!(2,3,2,1,1)` instead, pry will simply crash.

I wonder is this a bug or is it just designed to be like this?
If this is a bug, I'm willing to fix it.

---

By the way, I'm not sure if the shortcut N works fine in the case above, because I expect `N[[[1,2,3],[1,2,3]],[[1,2,3],[1,2,3]]] ` to b

[2016-02-01 11:36] allen-ng commented on #449
It seems that this only occurs in pry.
It is fine outside pry.

[2016-02-01 14:53] mohawkjohn commented on #449
Actually, I think it's not fine! I got a segfault in Pry, which means if you're not seeing it in IRB, it's probably a memory-related problem. Thanks for reporting this.

[2016-02-01 14:58] mohawkjohn commented on #448
I'm not 100% certain I understand your question. Could it be that NMatrix just displays it differently from NumPy? If you reshape using 3,2,2 and then call shape, it returns [3,2,2], as it should.

[2016-02-01 14:58] mohawkjohn commented on #446
In addition, someone should update all of the copyright messages.

But I want to be clear that doing this does not count as a code contribution for GSoC applicants. =)

[2016-02-01 15:02] mohawkjohn commented on #445
Why remove it? It sounds like we should fix the problem.

[2016-02-01 15:08] #389 closed

[2016-02-01 15:19] mohawkjohn commented on #199
What kinds of methods from OpenCV would you be prioritizing? Can you give a few examples?

[2016-02-01 15:25] eddiem3 commented on #199
I'm thinking of starting with the basic image processing tools. Smothing,
Sobel Derivatives, Laplacian, Hough Line Transform, Canny Edge Detector

El lunes, 1 de febrero de 2016, Dr. John Woods <notifications@github.com>
escribió:

--
Eddie Massey III

Artificial Intelligence in Action Founder
Low Country Judicial Merit Selection Committee

803-290-2238
eddiemassey@ai-inaction.org
eddiemassey.com

[2016-02-01 15:29] allen-ng commented on #448
Oops, sorry, I'm confused by the output, thanks!

[2016-02-01 15:39] Arafatk commented on #446
@mohawkjohn I will do it.Can you elaborate on  what should be the updates to copyright message?
Thanks

[2016-02-01 16:02] mohawkjohn commented on #446
The copyright years need to be updated.

[2016-02-01 16:02] #448 closed

[2016-02-01 16:08] mohawkjohn commented on #199
Yeah. I think this would be a good candidate for plugins, and those sound like an excellent starting place.

[2016-02-01 16:17] eddiem3 commented on #199
So would a plugin be the same thing as a standalone gem?

[2016-02-01 17:03] v0dro commented on #445
Well, the failure does not happen when I use ruby-head on my PC. Plus, supporting nmatrix on the bleeding edge ruby version does not seem worth the effort.

I think the bug being caused now might be in Ruby, and will mostly be fixed soon.

[2016-02-01 17:03] v0dro commented on #199
Go through the CONTRIBUTING file and see the links relating to making nmatrix plugins.

[2016-02-01 17:05] v0dro commented on #446
And yes you can change some files in `lib/`.

[2016-02-01 17:30] eddiem3 commented on #199
Ah got it thanks

[2016-02-02 07:03] allen-ng opened #452 "Specific input may cause `rake pry` to crash"
Hi there, I was testing how dtype performed a while ago and I found that on my computer, the input below may cause the pry to crash. (You may paste these input directly twice into pry: for the first time, it executes without error, but for the second time, pry will crash)

[code]

After some more try, I found that, if you input the following code into pry:

[code]

It executes without errors.
But

[2016-02-02 10:31] v0dro opened #453 "NMatrix.linspace() function"
A `linspace` function similar to [this one](http://octave.sourceforge.net/octave/function/linspace.html) would be useful.

The arguments for the nmatrix version can be as follows:

[code]

The function will compute number of elements based on shape Array. In case shape is not specified, assume it to be `[100]`.

[2016-02-02 11:40] v0dro opened #454 "#sort and #sort! along specified dimension"
NMatrix is primarily meant to be a static non-mutable storage for data, but with many plugins coming up that contain statistics methods that require sorted data, I think it is important to have our own implementations of destructive and non-destructive sorting.

It would be best if standard library functions are used for the implementation.

Both methods should be able accept the dimension along w

[2016-02-02 13:07] Arafatk commented on #453
@v0dro I am on it.

[2016-02-02 13:23] Arafatk commented on #453
@v0dro I am on it just a few questions?
Are base and limit always scalars?
Just for understanding purpose,What should be the output for  ?
` NMatrix.linspace( 2, 10, [1, 2, 3])`

[2016-02-02 16:45] mohawkjohn commented on #453
I totally agree! This would be a great feature, @v0dro.

@Arafatk Have you looked at the Matlab linspace method? I think ours should behave similarly.

[2016-02-02 19:18] #441 closed

[2016-02-02 21:00] wlevine commented on #452
I can reproduce the second one, but not the first one.

It seems like this line alone:
[code]
is enough to cause a segfault on quit.

[2016-02-02 22:19] wlevine commented on #452
So, when we run the line above, it gets up to here: https://github.com/SciRuby/nmatrix/blob/80765a529b78e3da8e918e9e1e8938d52c9f9e20/ext/nmatrix/ruby_nmatrix.c#L2801
at which point a Ruby exception is raised. This causes it to jump back up to the nearest catch block, which in this case is all the way up in pry. So it skips all the remainder of the C code, including the cleanup bits with all the nm

[2016-02-03 00:54] mohawkjohn commented on #452
Could it be because the array being passed in is not flat?
On Tue, Feb 2, 2016 at 4:19 PM Will Levine <notifications@github.com> wrote:

[2016-02-03 09:46] #449 closed

[2016-02-03 10:07] #453 closed

[2016-02-03 17:33] gau27 opened #459 "Add a NMatrix#logspace function"
A function like [logspace()](http://in.mathworks.com/help/matlab/ref/logspace.html) is used in frequency vectors a lot.

The Matlab function also allows simply passing pi as a key symbol to the function.

`y = logspace(a,pi) generates points between 10^a and pi, which is useful in digital signal processing for creating logarithmically spaced frequencies in the interval [10^a,pi].`

I've already wr

[2016-02-03 21:52] wlevine commented on #452
Well, that's why the exception gets raised in the first place. I suppose we could support this usecase, but the larger issue is how to clean up properly when an Ruby exception gets raised deep in C code. I suspect that the same issue could also turn up elsewhere in the codebase.